<div class="container">
  <div style="height:120px;width:100%;"></div>
  <div class="title">
    <h2>Reset Password</h2>
  </div>
  <div class="col-sm-12 join_layout">
    <form [formGroup]="resetPassword">
      <div class="join_content pt-4">
        <div class="form-group">
          <input formControlName="newPassword" type="password" class="form-control" placeholder="New Password">
          <!--Validation-->
          <div *ngIf="resetPassword.controls.newPassword.dirty || resetPassword.controls.newPassword.touched">
            <div *ngIf="!resetPassword.controls.newPassword.value" class="alert alert-danger errorMessages">{{rpInputMessage.passwordRequired}}</div>
            <div *ngIf="resetPassword.controls.newPassword.value && !resetPassword.controls.newPassword.pattern && resetPassword.controls.newPassword.errors" class="alert alert-danger errorMessages">
              {{rpInputMessage.validPassword}}
            </div>
          </div>
          <!--Validation-->
        </div>

        <div class="form-group">
          <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
          <!--Validation-->
          <div *ngIf="resetPassword.controls.confirmPassword.dirty || resetPassword.controls.confirmPassword.touched">
            <div *ngIf="!resetPassword.controls.confirmPassword.value" class="alert alert-danger errorMessages">{{rpInputMessage.confirmPasswordRequired}}</div>
            <div *ngIf="resetPassword.controls.confirmPassword.value && !resetPassword.controls.confirmPassword.pattern && resetPassword.controls.confirmPassword.errors" class="alert alert-danger errorMessages">
              {{rpInputMessage.validPassword}}
            </div>
          </div>
          <!--Validation-->
        </div>

        <div *ngIf="passwordMissMatch" class="alert alert-danger errorMessages">Password does not match.</div>

        <div *ngIf="responseHandling.status && responseHandling.response == 'success'" class="alert alert-success successMessage">
          {{rpUserMessage.success}}
        </div>

        <div *ngIf="responseHandling.status && responseHandling.response == 'fail'" class="alert alert-danger errorMessages">
          {{rpUserMessage.fail}}
        </div>
      </div>
      <img src="./consumer-app/assets/images/loader.gif" style="margin: 0 46%" *ngIf="loader" />
      <hr />
      <div class="join_content">
        <button (click)="onSubmit()" type="submit" [disabled]="!resetPassword.valid" class="btn btn_red_right w-100">Submit</button>
      </div>
    </form>
    <div class="clearfix">&nbsp;</div>
  </div>
</div>