<div class="row orderdetail_row m-2" *ngFor="let orderItem of order.orderItems">
    <div class="col-sm-2 align-middle">
        <h4 class="colorGray">Product</h4>
        <img *ngIf="orderItem.productImage" src="{{orderItem.productImage}}" class="img-fluid showDummy" alt="" />
        <i *ngIf="!orderItem.productImage" class="fa fa-picture-o defaultUser py-2" aria-hidden="true"></i>
    </div>
    <div class="col-sm-4" *ngIf="orderItem">
        <table class="no_tdBorder" width="100%" border="0">
            <tr>
                <td colspan="2">
                    <strong>{{orderItem.productName}}</strong>
                </td>
            </tr>
            <tr>
                <td width="40%">Product Code:</td>
                <td width="60%">{{orderItem.productId}}</td>
            </tr>
            <tr>
                <td>Price:</td>
                <td>{{orderItem.productPrice | currency}}</td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td>{{orderItem.productQuantity}}</td>
            </tr>
            <!-- <tr>
                <td>Size:</td>
                <td>20cm</td>
            </tr> -->
            <tr>
                <td>Reviews:</td>
                <td>{{orderItem.product?orderItem.product.reviewCount:''}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4 offset-2" *ngIf="orderItem">
        <table width="100%" class="no_tdBorder" border="0">
            <tr>
                <td>Product Place:</td>
                <td>{{orderItem.product?orderItem.product.productPlaceName:''}}</td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>{{orderItem.product?orderItem.product.productCategoryName:''}}</td>
            </tr>
            <tr>
                <td>Type:</td>
                <td>{{orderItem.product?orderItem.product.productSubCategoryName:''}},{{orderItem.product?orderItem.product.productTypeName:''}}</td>
            </tr>
            <tr>
                <td>Delivery Method:</td>
                <td>{{orderItem.deliveryMethod}}</td>
            </tr>
        </table>
    </div>
    <hr />
</div>
<hr />
<div class="row orderdetail_row m-2">
    <div class="col-sm-2 align-middle">
        <h4 class="colorGray">Order</h4>
        <!-- <img src="/admin-app/assets/images/lamp2.png" /> -->
    </div>
    <div class="col-sm-4">
        <table width="100%" class="no_tdBorder" border="0">
            <tr>
                <td>Order number:</td>
                <td>{{order.orderId}}</td>
            </tr>
            <tr>
                <td>Shipping cost:</td>
                <td>{{order.totalShipCost | currency}}</td>
            </tr>
            <tr>
                <td>Total:</td>
                <td>{{order.purchasedPrice | currency}}</td>
            </tr>
            <tr>
                <td>Paid with:</td>
                <td>{{order.paymentSource + ' ' + order.last4Digits}}</td>
            </tr>
            <tr>
                <td>Ship to:</td>
                <td>{{order.address.toString()}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4 offset-2">
        <table width="100%" class="no_tdBorder" border="0">
            <tr>
                <td width="60%">Order placed:</td>
                <td width="40%">{{order.purchasedDate | date:'shortDate'}}</td>
            </tr>
            <tr>
                <td>Processed on:</td>
                <td>{{order.purchasedDate | date:'shortDate'}}</td>
            </tr>
            <tr>
                <td>Shipped on:</td>
                <td>{{order.purchasedDate | date:'shortDate'}}</td>
            </tr>
            <tr>
                <td>Delivered on:</td>
                <td>{{order.purchasedDate | date:'shortDate'}}</td>
            </tr>
            <tr>
                <td>Seller payment status :</td>
                <!-- {{order.sellerPayment|json}} -->
                <td>{{order.sellerPayment && order.sellerPayment.paymentStatus ? order.sellerPayment.paymentStatus:'Unpaid'}}
                    <span class="float-right" *ngIf="!order.sellerPayment || (order.sellerPayment.paymentStatus !== 'PENDING' && order.sellerPayment.paymentStatus !== 'PAID')">
                        <a class="ancDefault" (click)='sellerPayment(order.orderId, order.orderItems[0].retailerId, "PENDING")'>Pending </a>
                    </span>
                    <span class="float-right ancDefault" *ngIf="!order.sellerPayment || order.sellerPayment.paymentStatus !== 'PAID'">
                        <a class="ancDefault" (click)='sellerPayment(order.orderId, order.orderItems[0].retailerId, "PAID")'>Paid </a>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Paid on:</td>
                <td>{{order.sellerPayment?(order.sellerPayment.paymentDate | date:'fullDate'):''}}</td>
            </tr>
        </table>
    </div>
</div>
<hr />
<app-tile-member *ngIf="order && order.userId" [id]="order.userId"></app-tile-member>
<hr />
<app-tile-retailer *ngIf="order && order.orderItems && order.orderItems.length > 0 && order.orderItems[0].retailerId" [id]="order.orderItems[0].retailerId"></app-tile-retailer>
<hr />
<div class="row orderdetail_row m-2">
    <div class="col-sm-2 align-middle">
        <h4 class="colorGray">Issues</h4>
    </div>
    <div class="col-sm-4">
        <table width="100%" class="no_tdBorder" border="0">
            <tr>
                <td>Priority:</td>
                <td>
                    <strong>High</strong>
                </td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>
                    <strong>Problem with order</strong>
                </td>
            </tr>
            <tr>
                <td>Issue type:</td>
                <td>
                    <strong>Item arrived damaged</strong>
                </td>
            </tr>
            <tr>
                <td>Issue date:</td>
                <td>
                    <strong>06/15/2017</strong>
                </td>
            </tr>
            <tr>
                <td>Issue status:</td>
                <td>
                    <strong>Closed - satisfied</strong>
                </td>
            </tr>
            <tr>
                <td>Resolved on:</td>
                <td>
                    <strong>06/15/2017</strong>
                </td>
            </tr>
            <tr>
                <td>Issue description:</td>
                <td>
                    <strong>Lamp surfaced arrived with deep scratches in finish</strong>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table width="100%" class="no_tdBorder" border="0">
            <tr>
                <td>Assigned to :</td>
                <td>Ryan Wegner</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>Notes:</div>
                    <p class="border_outline p-2">
                        Contacted buyer on 06/23 to confirm issue, contacted seller on 06/23, seller agreed to exchange item, Shipping label sent to Sonya on 06/24, Item exchangein complete and member is satisfied with result on 06/28.
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-2">
        <p>
            <a class="btn_red_right  w-100" href="inquiries_create.html">+ create inquiry</a>
        </p>
        <p *ngIf="seller">
            <a class="btn_redouter_right w-100" [routerLink]="['../retailer-edit', seller.retailerId]">edit account</a>
        </p>
    </div>
</div>