<div class="row orderdetail_row m-2" *ngFor="let orderItem of order.orderItems">
    <div class="col-sm-2 align-middle">
        <h4 class="colorGray">Product</h4>
        <img *ngIf="orderItem.productImage" src="{{orderItem.productImage}}" class="img-fluid showDummy" alt="" />
        <i *ngIf="!orderItem.productImage" class="fa fa-picture-o defaultUser py-2" aria-hidden="true"></i>
    </div>
    <div class="col-sm-4" *ngIf="orderItem">
        <table class="no_tdBorder" width="100%" border="0">
            <tr>
                <td colspan="2">
                    <strong>{{orderItem.productName}}</strong>
                </td>
            </tr>
            <tr>
                <td width="40%">Product Code:</td>
                <td width="60%">
                    <a class="colorBlue" target="_blank" [routerLink]="['../product-edit', orderItem.productId]">
                        {{orderItem.productId}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Price:</td>
                <td>{{orderItem.productPrice | currency}}</td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td>{{orderItem.productQuantity}}</td>
            </tr>
            <!-- <tr>
                <td>Size:</td>
                <td>20cm</td>
            </tr> -->
            <tr>
                <td>Reviews:</td>
                <td>{{orderItem.product?orderItem.product.reviewCount:''}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4 offset-2" *ngIf="orderItem">
        <table width="100%" class="no_tdBorder" border="0">
            <tr>
                <td width="40%">Product Place:</td>
                <td width="60%">{{orderItem.product?orderItem.product.productPlaceName:''}}</td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>{{orderItem.product?orderItem.product.productCategoryName:''}}</td>
            </tr>
            <tr>
                <td>Type:</td>
                <td>{{orderItem.product?orderItem.product.productSubCategoryName:''}},{{orderItem.product?orderItem.product.productTypeName:''}}</td>
            </tr>
            <tr>
                <td>Delivery Method:</td>
                <td>{{orderItem.deliveryMethod}}</td>
            </tr>
        </table>
    </div>
    <hr />
</div>
<hr />
<div class="row orderdetail_row m-2">
    <div class="col-sm-2 align-middle">
        <h4 class="colorGray">Order</h4>
        <!-- <img src="/admin-app/assets/images/lamp2.png" /> -->
    </div>
    <div class="col-sm-4">
        <table width="100%" class="no_tdBorder" border="0">
            <tr>
                <td width="40%">Order number:</td>
                <td width="60%">{{order.orderId}}</td>
            </tr>
            <tr>
                <td>Shipping cost:</td>
                <td>{{retailerOrder.shippingCost | currency}}</td>
            </tr>
            <tr>
                <td>Total:</td>
                <td>{{retailerOrder.orderAmount | currency}}</td>
            </tr>
            <tr>
                <td>Paid with:</td>
                <td>{{order.paymentSource + ' ' + order.last4Digits}}</td>
            </tr>
            <tr>
                <td>Ship to:</td>
                <td>{{order.address?order.address.toString():''}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4 offset-2">
        <table width="100%" class="no_tdBorder" border="0">
            <tr>
                <td width="40%">Order placed:</td>
                <td width="60%">{{order.purchasedDate | date:'MMM dd, yyyy, hh:mm a'}}</td>
            </tr>
            <tr>
                <td>Processed on:</td>
                <td>{{retailerOrder.orderProcessedDate | date:'MMM dd, yyyy, hh:mm a'}}</td>
            </tr>
            <tr>
                <td>Shipped on:</td>
                <td>{{retailerOrder.orderShippedDate | date:'MMM dd, yyyy, hh:mm a'}}</td>
            </tr>
            <tr>
                <td>Delivered on:</td>
                <td>{{retailerOrder.orderDeliveredDate | date:'MMM dd, yyyy, hh:mm a'}}</td>
            </tr>
            <tr *ngIf="retailerOrder.orderStatus === 'Shipped' || retailerOrder.orderStatus === 'Delivered'">
                <td>Seller payment status :</td>
                <!-- {{order.sellerPayment|json}} -->
                <td>{{order.sellerPayment && order.sellerPayment.paymentStatus ? order.sellerPayment.paymentStatus:'Unpaid' }}
                    <span class="float-right" *ngIf="!order.sellerPayment || (order.sellerPayment.paymentStatus !== 'PENDING' && order.sellerPayment.paymentStatus !== 'PAID')">
                        <a class="ancDefault" (click)='sellerPayment(order.orderId, order.orderItems[0].retailerId, "PENDING")'>Pending </a>
                    </span>
                    <span class="float-right ancDefault" *ngIf="!order.sellerPayment || order.sellerPayment.paymentStatus !== 'PAID'">
                        <a class="ancDefault" (click)='sellerPayment(order.orderId, order.orderItems[0].retailerId, "PAID")'>Paid </a>
                    </span>
                </td>
            </tr>
            <tr *ngIf="retailerOrder.orderStatus === 'Shipped' || retailerOrder.orderStatus === 'Delivered'">
                <td>Paid on:</td>
                <td>{{order.sellerPayment?(order.sellerPayment.paymentDate | date:'fullDate'):''}}</td>
            </tr>
        </table>
    </div>
</div>
<hr />
<app-tile-member *ngIf="order && order.userId" [id]="order.userId" [orderId]="order.orderId"></app-tile-member>
<hr />
<app-tile-retailer *ngIf="order && order.orderItems && order.orderItems.length > 0 && order.orderItems[0].retailerId" [id]="order.orderItems[0].retailerId"></app-tile-retailer>
<hr />
<div *ngIf="inquirys">
    <div class="row orderdetail_row m-2" *ngFor="let inquiry of inquirys.content">
        <div class="col-sm-2 align-middle">
            <h4 class="colorGray">Issues</h4>
        </div>
        <div class="col-sm-4">
            <table width="100%" class="no_tdBorder" border="0">
                <tr>
                    <td width="40%">Priority:</td>
                    <td width="60%">
                        <strong>{{inquiry.priority}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>
                        <strong>{{inquiry.inquiryCategory}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Issue type:</td>
                    <td>
                        <strong>{{inquiry.inquiryType}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Issue date:</td>
                    <td>
                        <strong>{{inquiry.inquiryDate| date: 'fullDate'}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Issue status:</td>
                    <td>
                        <strong>{{inquiry.inquiryStatus}}, {{inquiry.resolutionType}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Resolved on:</td>
                    <td>
                        <strong>{{inquiry.resolutionDate| date: 'fullDate'}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Issue description:</td>
                    <td>
                        <strong>{{inquiry.description}}</strong>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <table width="100%" class="no_tdBorder" border="0">
                <tr>
                    <td width="40%">Assigned to :</td>
                    <td width="60%">{{getUser(inquiry.assignedTo).username}}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>Notes:</div>
                        <p class="border_outline p-2">
                            {{inquiry.notes[0]}}
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-2">
            <p>
                <a class="btn_red_right  w-100" target="_blank" [routerLink]="['../inquiry-edit', inquiry.supportId]">edit inquiry</a>
            </p>
            <!-- <p *ngIf="seller">
                <a class="btn_redouter_right w-100" [routerLink]="['../retailer-edit', seller.retailerId]">edit account</a>
            </p> -->
        </div>
    </div>
</div>
<h3 *ngIf="inquirys.totalElements == 0">No Issues available</h3>