<div style="height:120px; margin-top:20px;width:100%;"></div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <img src="/consumer-app/assets/images/loader.gif" style="margin: 0 46%" *ngIf="loader" />
    <ul class="category_tiles" *ngFor="let category of categoryList">
        <li>
            <span class="pr-3">{{category.categoryName}}</span>
        </li>
    </ul>
</div>
<div class="title">
    <h2>
        {{selectedTilesData.place.name}}
        <span class="colorGray">{{selectedTilesData.subcategory.name}} |
            <span routerLink="/home" style="cursor: pointer" class="btnClose">X</span>
        </span>
    </h2>
    <span class="float-right mt-4">
        <a (click)="openNav()">
            <img src="/consumer-app/assets/images/category.png" />
        </a>
    </span>
</div>
<div class="row">
    <div class="example col-sm-3" *ngFor="let tile of tilesData">
        <img src="/consumer-app/assets/images/img_03.jpg" class="product_hover img-fluid">
        <div class="hover_panel">
            <h5>{{tile.name}}</h5>
            <span style="font-size:14px;margin-right:10px;">$15.00</span>
            <span style="font-size:11px;text-decoration:line-through;margin-right:100px;">$21</span>
            <span style="font-size:11px;">{{selectedTilesData.category.name}}</span>
        </div>
    </div>
</div>