<div class="header bgimage">
    <div class="banner_content">
        <img src="/consumer-app/assets/images/kala_logo.png" class="img-fluid" />
        <h1>Take the Search out of Shopping</h1>
        <h4>Your Online Shopping Experience. Personalized.</h4>
        <div class="banner_action d-inline-block">
            <input type="text" [(ngModel)]="core.searchBar" (blur)="core.hideSuggesstionList()" (keyup)="core.searchSuggestion(core.searchBar, null, null, $event)"
                class="form-control float-left" placeholder="What can we help you find?" />
            <img src="/consumer-app/assets/images/loader.gif" style="top: 9px; position: absolute; right: 105px" width="15"
                *ngIf="core.loader_suggestion" />
            <button (click)="core.search(core.searchBar, null, null)" class="btn btn-red float-left text-center">
                <span *ngIf="!core.loaderSearch">EXPLORE</span>
                <img *ngIf="core.loaderSearch" src="/consumer-app/assets/images/loaderWhite.gif" style="margin-top: -3px" />
            </button>
            <div class="p-0 float-left text-left suggesstionList" *ngIf="core.suggesstionList != undefined && core.suggesstionList.length > 0">
                <button *ngFor="let list of core.suggesstionList; let i = index" (click)="core.search(list.productLevelName, list.parentName, list.parentId)">{{list.productLevelName}}
                    In {{list.parentName}}</button>
            </div>
        </div>
    </div>
    <div class="row hdr_footer">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item d-block">
                    <ul>
                        <li *ngFor="let tile of carousalItems; let i=index" [id]="tile.id" (click)="tile.isProductAvailable && animateToTiles(); tile.isProductAvailable && tileSelected(tile)">
                            <div *ngIf="i<=4">
                                <a class="nav-link" [ngStyle]="{'cursor':tile.isProductAvailable ? 'pointer' : 'no-drop'}">
                                    <img src="{{tile.iconUrl}}" />
                                    <span>{{tile.text}}</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="carousel-item d-none">
                    <ul>
                        <li *ngFor="let tile of carousalItems; let i=index" [id]="tile.id" (click)="tile.isProductAvailable && animateToTiles(); tile.isProductAvailable && tileSelected(tile)">
                            <div *ngIf="i>4 && i<=10">
                                <a class="nav-link js-scroll-trigger" [ngStyle]="{'cursor':tile.isProductAvailable ? 'pointer' : 'no-drop'}">
                                    <img src="{{tile.iconUrl}}" />
                                    <span>{{tile.text}}</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="carousel-control-prev" (click)="prevSlide()" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" (click)="nextSlide()" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</div>
<section id="homegarden" class="py-5" class="homegarden">
    <div class="container banner_title">
        <h1>Explore. Bid. Create & Buy.</h1>
        <h4>Are you ready to shop your own way?</h4>
        <img src="/consumer-app/assets/images/loader.gif" style="right: 15px; top: 245px; width: 20px; height:20px"
            class="absoluteImg_2" *ngIf="loader" />
        <app-breadcrums [breadCrums]="breadCrums" (selectTile)="tileSelected($event, 'IsBc')"></app-breadcrums>
        <app-tiles [tilesData]="tiles" (selectTile)="tileSelected($event, undefined)"></app-tiles>
    </div>
    <div class="col-sm-12 text-center pt-5 pb-5">
        <a href="javascript:void(0)" class="btn btn_more_gray">more...</a>
    </div>
</section>
<section id="homeWorks" class="py-5">
    <div class="container banner_title">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="colorwhite text-left">How it Works</h1>
                <div class="banner_steps">
                    <h1>01</h1>
                    <h5>EXPLORE</h5>
                    <p>
                        Easily find the unique products you are looking for by only viewing products you are interested
                        in and nothing else
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="/consumer-app/assets/images/banner_how_work.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<section id="homeRequest" class="pt-5">
    <div class="container banner_title_gray">
        <div class="row">
            <div class="col-sm-6 text-left">
                <img src="/consumer-app/assets/images/banner_request_offer.png" class="img-fluid" />
            </div>
            <div class="col-sm-6">
                <div class="banner_steps pt-5">
                    <h1 class="color_step_h1">02</h1>
                    <h5 class="color_step_h5">REQUEST OFFERS</h5>
                    <p>
                        Tell Kala what’s important to you and request offers from retailers to get the perfect item at
                        the right price
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="homeCreate" class="pt-5">
    <div class="container banner_title">
        <div class="row">
            <div class="col-sm-6">
                <div class="banner_steps pt-5">
                    <h1 class="color_step_h1">03</h1>
                    <h5 class="color_step_h5">CREATE</h5>
                    <p>
                        Create your own community and space filled with your favorite products, retailers, experts, and
                        others who share your interests
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="/consumer-app/assets/images/banner_create.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<section id="homeBuy" class="py-5">
    <div class="container banner_title_gray">
        <div class="row p-4">
            <div class="col-sm-6">
                <img src="/consumer-app/assets/images/banner_buy.png" class="img-fluid" />
            </div>
            <div class="col-sm-6">
                <div class="banner_steps pt-5">
                    <h1 class="color_step_h1">04</h1>
                    <h5 class="color_step_h5">Buy</h5>
                    <p>
                        Our text-based buying experience makes shopping online with your phone, tablet or desktop as
                        easy as sending an email or text
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="homeFAQ" class="py-5">

    <a class="centerArrow nav-link" href="#FAQ">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
    </a>

    <div class="container banner_title" id="FAQ">
        <h1 class="colorwhite pt-2 pb-5">Frequently Asked Questions</h1>
        <div class="row">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="+ WHAT MAKES KALA DIFFERENT?">
                    <ng-template ngbPanelContent>
                        Current online retail sites are transactional by nature – shoppers must enter search
                        parameters, browse through large product databases to find what they’re looking for, and then
                        research even more to ensure they’re getting a good deal. Kala is a new social commerce model
                        that provides an interactive and personalized experience unlike anything in the market today,
                        ideally tailored for the modern, mobile consumer.
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="+ WHEN CAN I USE IT?">
                    <ng-template ngbPanelContent>
                        Kala will be releasing a beta version to a select group of shoppers in June, 2018. A full
                        national launch will be available in late summer.
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="+ HOW DO I JOIN?">
                    <ng-template ngbPanelContent>
                        It couldn’t be simpler, and best of all it’s free! To be part of our exclusive beta release,
                        please register today by providing your name and email address. We’ll keep you updated with
                        exclusive content, rewards, and behind-the-scenes looks as we get closer to launch.
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="+ WHAT KINDS OF THINGS CAN I BUY?">
                    <ng-template ngbPanelContent>
                        We’re constantly adding new products and stores all the time. Whether you’re doing a home
                        remodel, looking for the latest tech gadget, or are shopping for your favorite pet – we’ve got
                        you covered. And we’re always reaching out to the Kala community to get new ideas for how we
                        can make your experience even better.
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="+ WHAT IS ‘GET OFFERS’ ?">
                    <ng-template ngbPanelContent>
                        Kala is designed to takes the search out of shopping and provide a more personalized way to
                        shop online. You simply tell us the product you want, what features are most important, and how
                        much you want to pay, and Kala responds with custom product offers at the ideal price based on
                        your needs right now.
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>

            <div class="col-sm-12 text-center pt-5">
                <a href="javascript:void(0)" class="btn btn_more">more...</a>
            </div>
        </div>
    </div>
</section>
<section id="homequestions" class="py-5">
    <div class="container banner_title">
        <h1>Still got questions?</h1>
        <h4>We’d be delighted to answer them. Just call or email us!</h4>
        <div class="text-center col-sm-12 pb-5">
            <a (click)="emailKalaBtn()" href="mailto:support@mykala.com" style="width: 150px" class="btn btn_default mr-2">EMAIL
                KALA</a>
            <a (click)="contactKalaBtn()" href="javascript:void(0)" style="width: 150px" class="btn btn_default">CALL
                US</a>
        </div>
        <h4 class="pb-0" *ngIf="emailKala">support@mykala.com</h4>
        <h4 class="pb-0" *ngIf="contactKala">1-855-4-MYKALA (1-855-469-5252)</h4>
    </div>
</section>
<div class="row">
    <a class="topArrow nav-link" href="#top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </a>
</div>


<!-- <div style="position: relative;">
    <img src="/consumer-app/assets/images/loader.gif" style="right: 28px; width: 20px;" class="absoluteImg_2" *ngIf="loader" />
    <app-breadcrums [breadCrums]="breadCrums" (selectTile)="tileSelected($event, 'IsBc')"></app-breadcrums>
    <app-tiles [tilesData]="tiles" (selectTile)="tileSelected($event)"></app-tiles>
    <app-browse-product [selectedTilesData]="userResponse" [tilesData]="tiles" *ngIf="!showTilesLayout" (selectTile)="tileSelected($event)"></app-browse-product>
</div> -->