<div class="category_home_list">
  <div class="container p-0">
    <div class="card-columns">
      <!--Product-->
      <div class="card productsHome imgHover" *ngFor="let tile of tilesData" [id]="tile.id" (click)="tile.isProductAvailable && getSelectedTile(tile)">
        <img src="{{tile.imgUrl}}" class="img-fluid card-img-top" />
        <span class="imageOverlayText">{{tile.text}}</span>
        <!--Overlay-->
        <div [ngClass]="{'overlayDisabled':tile.isProductAvailable == undefined}" class="overlay ml-3 text-center">
          <div class="explore col-sm-12 p-0">
            <img src="{{!tile.isProductAvailable ? '/consumer-app/assets/images/icon_comingsoon.png' : '/consumer-app/assets/images/icon_explore.png'}}"
            />
            <p class="pt-3">{{tile.isProductAvailable != undefined && tile.isProductAvailable ? 'Explore' : 'Coming Soon'}}</p>
          </div>
        </div>
        <!--Overlay-->
      </div>
      <!--Product-->
    </div>
  </div>

</div>