<div class="title col-sm-12">
    <h1>Log In</h1>
</div>
<form [formGroup]="loginKala" class="login_layout col-sm-12">
    <div class="form-signin">
        <h4>log into admin portal</h4>
        <div class="form-group">
            <input pattern formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">

            <!--Validation-->
            <div *ngIf="loginKala.controls.email.dirty || loginKala.controls.email.touched">
                <div *ngIf="!loginKala.controls.email.value" class="alert alert-danger errorMessages">{{loginInputValidations.emailRequired}}</div>
                <div *ngIf="loginKala.controls.email.value && loginKala.controls.email.errors" class="alert alert-danger errorMessages">{{loginInputValidations.emailInvalid}}</div>
            </div>
            <!--Validation-->

        </div>
        <div class="form-group">
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

            <!--Validation-->
            <div *ngIf="loginKala.controls.password.dirty || loginKala.controls.password.touched">
                <div *ngIf="!loginKala.controls.password.value" class="alert alert-danger errorMessages">Please enter the password</div>
            </div>
            <!--Validation-->

        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" formControlName="remember" class="form-check-input"> remember me
            </label>
            <small style="margin-top: 4px" class="float-right">
                <a routerLink="/forgot-password" class="colorlightGray">forgot password?</a>
            </small>
        </div>
        <div *ngIf="loginError" class="alert alert-danger errorMessages">
            {{userMessages.error}}
        </div>
        <img src="/admin-app/assets/images/loader.gif" style="margin: 0 46%" *ngIf="loader" />
    </div>
    <hr />
    <div class="clearfix col-sm-12 text-center">
        <button type="submit" class=" btn-nml width25" [ngClass]="{'btn disabled': !loginKala.valid  }" [disabled]="!loginKala.valid && loginKala.touched" (click)="onLogin()">log in</button>
    </div>
</form>