<div class="container">
    <div style="height:74px;width:100%;"></div>
    <div class="sell-header">
        <div class="row">
            <div class="col-sm-4 text-right">
                logo
            </div>
            <div class="col-sm-8">
                <h5>Welcome to the Kala Community! </h5>
                <p>Please download and review our seller documentation.</p> 
            </div>
        </div>
    </div>
    <div class="title sellOn">
        <h2>Tell us a little about yourself...</h2>
        <p>Please fill out all fields and then click "Submit" button below.</p>
    </div>

    <ngb-tabset class="tab-sellOn">
        <ngb-tab title="Questionnaire">
            <ng-template ngbTabContent>
                <div class="sellon-layout">
                    <div class="row pb-3">
                        <p class="col-sm-12">Company Name</p>
                        <div class="col-sm-12 py-2">
                            <input aria-describedby="" class="form-control" formcontrolname="" id="" placeholder="Legal Entity or ‘DBA’ Name"
                                type="text">
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-sm-12">Business Address</p>
                        <div class="col-sm-6 py-2">
                            <input aria-describedby="" class="form-control" formcontrolname="" id="" placeholder="Street Address Line 1"
                                type="text">
                        </div>
                        <div class="col-sm-6 py-2">
                            <input aria-describedby="" class="form-control" formcontrolname="" id="" placeholder="Street Address Line 2"
                                type="text">
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-5 py-2">
                            <input aria-describedby="" class="form-control" formcontrolname="" id="" placeholder="City"
                                type="text">
                        </div>
                        <div class="col-sm-2 py-2">
                            <select class="ddl">
                                <option>test1</option>
                            </select>
                        </div>
                        <div class="col-sm-5 py-2">
                            <input aria-describedby="" class="form-control" formcontrolname="" id="" placeholder="Zip Code"
                                type="text">
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-sm-12">Contact Information</p>
                        <div class="col-sm-6 py-2">
                            <input aria-describedby="" class="form-control" formcontrolname="" id="" placeholder="Name of Primary Contact"
                                type="text">
                        </div>
                        <div class="col-sm-6 py-2">
                            <input aria-describedby="" class="form-control" formcontrolname="" id="" placeholder="Phone Number of Primary Contact"
                                type="text">
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-6 py-2">
                            <input aria-describedby="" class="form-control" formcontrolname="" id="" placeholder="Email Address of Primary Contact"
                                type="text">
                        </div>
                    </div>
                    <div class="row pb-3">
                        <p class="col-sm-12">Product Information</p>
                        <div class="col-sm-6 py-2">
                            <select class="ddl-sell ddl">
                                <option>Select Product Categories</option>
                            </select>
                        </div>
                        <div class="col-sm-6 py-2">
                            <select class="ddl-sell ddl">
                                <option>Select Number of Products</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <p class="col-sm-12">Seller Information</p>
                        <div class="col-sm-6 py-2">
                            <input aria-describedby="" class="form-control" formcontrolname="" id="" placeholder="Business Tax ID Number ('TIN')"
                                type="text">
                        </div>
                        <div class="col-sm-6">
                            <select class="ddl-sell ddl">
                                <option>Select Number of Products?</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-6 py-2">
                            <select class="ddl-sell ddl">
                                <option>Registered to sell in the US?</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select class="ddl-sell ddl">
                                <option>Preferred integration method</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ">
                        <textarea class="textArea" placeholder="Anything else you would like us to know? (optional)"></textarea>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6 text-left"><a href="#">Back</a></div>
                        <div class="col-sm-6 text-right"><button>Submit</button></div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Documentation">
            <ng-template ngbTabContent>
                <div class="sell_documentation">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="80%">Documents</th>
                                <th width="20%">Post Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Agreement & Policy List</td>
                                <td>
                                    <p>Apr 5,2015</p>
                                    <p>9:47:24 PM EST</p>
                                </td>
                            </tr>
                            <tr>
                                <td>Seller Terms & Conditions</td>
                                <td>
                                    <p>Apr 5,2015</p>
                                    <p>9:47:24 PM EST</p>
                                </td>
                            </tr>
                            <tr>
                                <td>Seller Agreement</td>
                                <td>
                                    <p>Apr 5,2015</p>
                                    <p>9:47:24 PM EST</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>


    <div class="clearfix">&nbsp;</div>

</div>