<div class="container">
    <div class="row title py-3">
        <div class="col-sm-6 p-0">
            <h1>Orders</h1>
        </div>
        <div class="col-sm-2 pr-2 text-right">
            <select class="ddl_default form-control" [(ngModel)]="searchType" (change)="getPage(1)">
                <option>Seller</option>
                <option>Member</option>
                <option>Order Number</option>
            </select>
        </div>
        <div class="col-sm-4">
            <input placeholder="search for {{searchType}}" class="form-control txt_Search" type="text" [(ngModel)]="search" (keyup)="getPage(1)">
        </div>
    </div>

    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <div class="col-sm-12 p-0 product_file">
        <div class="col-sm-12 p-0 pt-3 pagination_align">
            <pagination-controls id='server' class="my-pagination" (pageChange)="getPage($event)" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
        </div>
        <div class="col-sm-12 p-2 m-1 backgroundWhite">
            <table class="table" sortable-table (sorted)="onSorted($event)">
                <thead>
                    <tr>
                        <th width="5%">
                            <input type="checkbox" />
                        </th>
                        <th sortable-column="orderId" width="10%">Order No.</th>
                        <th sortable-column="orderStatus" width="10%">Status</th>
                        <th sortable-column="purchasedDate" width="10%">Order Date</th>
                        <th sortable-column="retailerName" width="15%">Seller</th>
                        <th sortable-column="customerName" width="20%">Buyer</th>
                        <th sortable-column="productId" width="12%">Product</th>
                        <th sortable-column="purchasedPrice" width="10%">Sale Total</th>
                        <th sortable-column="issue" width="6%">Issue</th>
                        <th width="2%"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let order of orders.content | paginate: { id: 'server', itemsPerPage: orders.size, currentPage: orders.number + 1 , totalItems: orders.totalElements }">
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            <a class="colorBlue" (click)="order.isCollapsed = !order.isCollapsed" [attr.aria-expanded]="!order.isCollapsed" aria-controls="collapseExample">
                                {{order.orderId}}
                            </a>
                        </td>
                        <td>{{order.orderStatus}}</td>
                        <td>{{order.purchasedDate | date:'shortDate'}}</td>
                        <td>{{order.orderItems[0].retailerName}}</td>
                        <td>{{order.customerName}}</td>
                        <td>
                            <a class="colorBlue" target="_blank" [routerLink]="['../product-edit', order.orderItems[0].productId]">
                                {{order.orderItems[0].productId}}
                            </a>
                        </td>
                        <td class="text-right">{{order.purchasedPrice | currency }}</td>
                        <td>Y</td>
                        <td>
                            <a class="colorBlue" (click)="order.isCollapsed = !order.isCollapsed" [attr.aria-expanded]="!order.isCollapsed" aria-controls="collapseExample">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="10" *ngIf="!order.isCollapsed" class="divOrderDetails">
                            <app-order-details [order]="order"></app-order-details>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>