<!--Heading-->
<div class="title mb-4">
  <h2>get offers
    <span class="colorGray"> Step 1/4: basic info</span> |
    <a routerLink="/browse-product">
      <span class="btnClose">X</span>
    </a>
  </h2>
</div>
<!--Heading-->

<div class="col-sm-12 p-0">
  <!--Place-->
  <div class="row">
    <div class="col-sm-2">
      <p>Place:</p>
      <img src="/consumer-app/assets/images/loader.gif" style="right: -40px; top: 0px" class="absoluteImg_2" *ngIf="loader_place"
      />
    </div>
    <div class="col-sm-7">
      <div style="cursor: pointer" (click)="place.isProductAvailable && loadData(place, 'place', $event)" *ngFor="let place of userResponse.place"
        class="m-2" [ngStyle]="{'cursor': place.isProductAvailable ? 'pointer' : 'no-drop', 'opacity' : place.isProductAvailable ? '1' : '0.5'}"
        [ngClass]="loadedPlaces == true ? 'categ_outline_red' : 'categ_outline_gray'">
        {{place.name}}
        <a (click)="delete(place, 'place')" class="categ_close d-none">x</a>
      </div>
    </div>
    <div class="col-sm-3">
      <a (click)="getPlaces()" class="ancRed colorred">show places</a>
    </div>
  </div>
  <!--Place-->

  <hr />

  <!--Category-->
  <div class="row">
    <div class="col-sm-2">
      <p>Category:</p>
      <img src="/consumer-app/assets/images/loader.gif" style="right: -40px; top: 0px" class="absoluteImg_2" *ngIf="loader_category"
      />
    </div>
    <div class="col-sm-7">
      <div style="cursor: pointer" (click)="category.isProductAvailable && loadData(category, 'category', $event)" *ngFor="let category of userResponse.category"
        class="m-2" [ngStyle]="{'cursor': category.isProductAvailable ? 'pointer' : 'no-drop', 'opacity' : category.isProductAvailable ? '1' : '0.5'}"
        [ngClass]="loadedCategory == true ? 'categ_outline_red' : 'categ_outline_gray'">
        {{category.name}}
        <a (click)="delete(category, 'category')" class="categ_close d-none">x</a>
      </div>
    </div>
    <div class="col-sm-3">
      <a (click)="getCategory()" class="ancRed colorred">show categories</a>
    </div>
  </div>
  <!--Category-->

  <hr />

  <!--Subcategory-->
  <div class="row">
    <div class="col-sm-2">
      <p>Sub-category:</p>
      <img src="/consumer-app/assets/images/loader.gif" style="right: -40px; top: 0px" class="absoluteImg_2" *ngIf="loader_subCategory"
      />
    </div>
    <div class="col-sm-7">
      <div style="cursor: pointer" (click)="subCategory.isProductAvailable && loadData(subCategory, 'subcategory', $event)" *ngFor="let subCategory of userResponse.subcategory"
        class="m-2" [ngStyle]="{'cursor': subCategory.isProductAvailable ? 'pointer' : 'no-drop', 'opacity' : subCategory.isProductAvailable ? '1' : '0.5'}"
        [ngClass]="loadedSubCategory == true ? 'categ_outline_red' : 'categ_outline_gray'">
        {{subCategory.name}}
        <a (click)="delete(subCategory, 'subcategory')" class="categ_close d-none">x</a>
      </div>
    </div>
    <div class="col-sm-3">
      <a (click)="getSubCategory()" class="ancRed colorred">show sub-categories</a>
    </div>
  </div>
  <!--Subcategory-->

  <hr />

  <!--Type-->
  <div class="row" *ngIf="showAvailableTypes">
    <div class="col-sm-2">
      <p>Type:</p>
      <img src="/consumer-app/assets/images/loader.gif" style="right: -40px; top: 0px" class="absoluteImg_2" *ngIf="loader_Type"
      />
    </div>

    <div class="col-sm-7" *ngIf="userResponse.type != [] && !noTypesAvailable && !loader_Type">
      <div style="cursor: pointer" class="m-2 typeList" [ngClass]="checkIfStored?'categ_outline_red':'categ_outline_gray'" (click)="loadData(type, 'type', $event)"
        *ngFor="let type of userResponse.type">{{type.name}}</div>
    </div>

    <div class="col-sm-7" *ngIf="noTypesAvailable">
      <div class="categ_outline_red categ_outline_red_bg m-2">No items to display...</div>
    </div>

    <div class="col-sm-3"></div>
  </div>
  <!--Type-->

  <hr *ngIf="showAvailableTypes" />
</div>

<div class="clearfix">&nbsp;</div>

<div class="float-right">
  <button (click)="next()" class="btn btn_red_right pl-5 pr-5 cursor" [disabled]="loader_Type">next step</button>
</div>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<!--Validation-->
<ng-template #selectValidationModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Get Offers</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      {{validationMsg}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outer btn_redouter_right" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!--Validation-->