<!--Heading-->
<div class="title mb-4">
  <h2>get offers
    <span class="colorGray"> Step 1/4: basic info</span> |
    <a routerLink="/browse-product">
      <span class="btnClose">X</span>
    </a>
  </h2>
</div>
<!--Heading-->

<div class="col-sm-12 p-0">
  <!--Place-->
  <div class="row">
    <div class="col-sm-2">
      <p>Place:</p>
      <img src="/consumer-app/assets/images/loader.gif" style="right: -40px; top: 0px" class="absoluteImg_2" *ngIf="loader_place" />
    </div>
    <div class="col-sm-7">
      <div style="cursor: pointer" (click)="loadData(place, 'place')" *ngFor="let place of userResponse.place" class="categ_outline_red m-2">
        {{place.name}}
        <a (click)="delete(place, 'place')" class="categ_close">x</a>
      </div>
    </div>
    <div class="col-sm-3">
      <a (click)="getPlaces()" class="ancRed">show places</a>
    </div>
  </div>
  <!--Place-->

  <hr />

  <!--Category-->
  <div class="row">
    <div class="col-sm-2">
      <p>Category:</p>
      <img src="/consumer-app/assets/images/loader.gif" style="right: -40px; top: 0px" class="absoluteImg_2" *ngIf="loader_category" />
    </div>
    <div class="col-sm-7">
      <div style="cursor: pointer" (click)="loadData(category, 'category')" *ngFor="let category of userResponse.category" class="categ_outline_red m-2">
        {{category.name}}
        <a (click)="delete(category, 'category')" class="categ_close">x</a>
      </div>
    </div>
    <div class="col-sm-3">
      <a (click)="getCategory()" class="ancRed">show Categories</a>
    </div>
  </div>
  <!--Category-->

  <hr />

  <!--Subcategory-->
  <div class="row">
    <div class="col-sm-2">
      <p>Sub-category:</p>
      <img src="/consumer-app/assets/images/loader.gif" style="right: -40px; top: 0px" class="absoluteImg_2" *ngIf="loader_subCategory" />
    </div>
    <div class="col-sm-7">
      <div style="cursor: pointer" (click)="loadData(subCategory, 'subcategory')" *ngFor="let subCategory of userResponse.subcategory" class="categ_outline_red m-2">
        {{subCategory.name}}
        <a (click)="delete(subCategory, 'subcategory')" class="categ_close">x</a>
      </div>
    </div>
    <div class="col-sm-3">
      <a (click)="getSubCategory()" class="ancRed">show Sub-categories</a>
    </div>
  </div>
  <!--Subcategory-->

  <hr />

  <!--Type-->
  <div class="row">
    <div class="col-sm-2">
      <p>Type:</p>
      <img src="/consumer-app/assets/images/loader.gif" style="right: -40px; top: 0px" class="absoluteImg_2" *ngIf="loader_Type" />
    </div>

    <div class="col-sm-7" *ngIf="userResponse.type != ''">
      <div style="cursor: pointer" class="m-2" [ngClass]="checkIfStored?'categ_outline_red':'categ_outline_gray'" (click)="loadData(type, 'type', $event)" *ngFor="let type of userResponse.type">{{type.name}}</div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <!--Type-->

  <hr />
</div>

<div class="clearfix">&nbsp;</div>

<div class="float-right">
  <a (click)="next()" class="btn btn_red_right pl-5 pr-5">next step</a>
</div>