<!-- <form class="divPayemnt1"> -->
        <div [formGroup]="paymentFG1" [ngClass]="{'show': paymentInfoStep==1, 'hide': paymentInfoStep!==1 }">
                <div class="form-group">
                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG1.controls.paymentMethod)">Payment Method</label>
                    <select class="ddl_default w-100 form-control" formControlName="paymentMethod" (change)="paymentMethodChange()">
                        <option value=''>Select payment Method</option>
                        <option *ngFor="let option of paymentMethods" value="{{option.name}}">
                            {{option.value}}
                        </option>
                    </select>
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG1.controls.paymentMethod" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </div>
                <div class="form-group">
                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG1.controls.paymentVehicle)">Payment Vehicle</label>
                    <select class="ddl_default w-100 form-control" formControlName="paymentVehicle">
                        <option value=''>Select option</option>
                        <option *ngFor="let option of paymentVehicles" value="{{option.name}}">
                            {{option.value}}
                        </option>
                    </select>
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG1.controls.paymentVehicle" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </div>
                <hr />
                <div class="form-group">
                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG1.controls.bankname)">Bank Name</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="bankname">
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG1.controls.bankname" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </div>
                <div class="form-group">
                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG1.controls.addressLine1)">Bank Address</label>
                    <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 1" pattern formControlName="addressLine1">
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG1.controls.addressLine1" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 2.(optional)" pattern formControlName="addressLine2">
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG1.controls.addressLine2" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby=" " placeholder="City" pattern formControlName="city">
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG1.controls.city" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" aria-describedby="" placeholder="State" pattern formControlName="state">
                            <!--Validation-->
                            <app-field-error-display [field]="paymentFG1.controls.state" [errorMsg]="errorMsgs"> </app-field-error-display>
                            <!--Validation-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" aria-describedby="" placeholder="Zipcode" pattern formControlName="zipcode">
                            <!--Validation-->
                            <app-field-error-display [field]="paymentFG1.controls.zipcode" [errorMsg]="errorMsgs"> </app-field-error-display>
                            <!--Validation-->
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div [formGroup]="paymentFG2" [ngClass]="{'show': paymentInfoStep==2, 'hide': paymentInfoStep!==2  }" >
                <div class="form-group">
                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG2.controls.accountName)">Account Name</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="accountName">
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG2.controls.accountName" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </div>
                <div class="form-group">
                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG2.controls.accountNumber)">Account Number</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="accountNumber">
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG2.controls.accountNumber" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </div>
                <div class="form-group">
                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG2.controls.routingNumber)">ABA Routing number</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="routingNumber">
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG2.controls.routingNumber" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </div>
                <div class="form-group">
                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG2.controls.swiftCode)">SWIFT code</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="swiftCode">
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG2.controls.swiftCode" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </div>
                <div class="form-group">
                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG2.controls.addressLine1)">Retailer address on Account</label>
                    <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 1" pattern formControlName="addressLine1">
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG2.controls.addressLine1" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 2.(optional)" pattern formControlName="addressLine2">
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG2.controls.addressLine2" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby=" " placeholder="City" pattern formControlName="city">
                    <!--Validation-->
                    <app-field-error-display [field]="paymentFG2.controls.city" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" aria-describedby="" placeholder="State" pattern formControlName="state">
                            <!--Validation-->
                            <app-field-error-display [field]="paymentFG2.controls.state" [errorMsg]="errorMsgs"> </app-field-error-display>
                            <!--Validation-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" aria-describedby="" placeholder="Zipcode" pattern formControlName="zipcode">
                            <!--Validation-->
                            <app-field-error-display [field]="paymentFG2.controls.zipcode" [errorMsg]="errorMsgs"> </app-field-error-display>
                            <!--Validation-->
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-sm-6" >
                    <a (click)="paymentInfoBack()" *ngIf="paymentInfoStep!==1">back</a>
                </div>
                <div class="col-sm-6 text-right" [ngClass]="{'show': paymentInfoStep==1, 'hide': paymentInfoStep!==1 }">
                    <a class="btn btn-default ancProfile1" (click)="paymentInfoNext()">Next</a>
                </div>
                <div class="col-sm-6 text-right" [ngClass]="{'show': paymentInfoStep==2, 'hide': paymentInfoStep!==2  }">
                    <a class="btn btn-default ancProfile1" (click)="paymentInfoSave()">Save & Next</a>
                    <img src="/admin-app/assets/images/loader.gif" style="margin: 0 46%" *ngIf="paymentSaveloader" />
                </div>
            </div>
            <!-- </form> -->