<!-- <form class="divPayemnt1"> -->
<div [formGroup]="paymentFG1" [ngClass]="{'show': paymentInfoStep==1, 'hide': paymentInfoStep!==1 }">
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG1.controls.paymentMethod)">Payment Method</label>
        <select class="ddl_default w-100 form-control" formControlName="paymentMethod" (change)="paymentMethodChange()">
            <option value=''>Select payment Method</option>
            <option *ngFor="let option of paymentMethods" value="{{option.name}}">
                {{option.value}}
            </option>
        </select>
        <!--Validation-->
        <app-field-error-display [field]="paymentFG1.controls.paymentMethod" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG1.controls.paymentVehicle)">Payment Vehicle</label>
        <select class="ddl_default w-100 form-control" formControlName="paymentVehicle" (change)="paymentVehicleChange()">
            <option value=''>Select option</option>
            <option *ngFor="let option of paymentVehicles" value="{{option.name}}">
                {{option.value}}
            </option>
        </select>
        <!--Validation-->
        <app-field-error-display [field]="paymentFG1.controls.paymentVehicle" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <hr />
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG1.controls.bankname)">Bank Name</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="bankname">
        <!--Validation-->
        <app-field-error-display [field]="paymentFG1.controls.bankname" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG1.controls.addressLine1)">Bank Address</label>
        <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 1" pattern formControlName="addressLine1">
        <!--Validation-->
        <app-field-error-display [field]="paymentFG1.controls.addressLine1" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 2.(optional)" pattern formControlName="addressLine2">
        <!--Validation-->
        <app-field-error-display [field]="paymentFG1.controls.addressLine2" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby=" " placeholder="City" pattern formControlName="city">
        <!--Validation-->
        <app-field-error-display [field]="paymentFG1.controls.city" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="" placeholder="State" pattern formControlName="state">
                <!--Validation-->
                <app-field-error-display [field]="paymentFG1.controls.state" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="" placeholder="Zipcode" pattern formControlName="zipcode">
                <!--Validation-->
                <app-field-error-display [field]="paymentFG1.controls.zipcode" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
    </div>
    <hr />
</div>
<div [formGroup]="paymentFG2" [ngClass]="{'show': paymentInfoStep==2, 'hide': paymentInfoStep!==2  }">
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG2.controls.bankAccountName)">Account Name</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="bankAccountName">
        <!--Validation-->
        <app-field-error-display [field]="paymentFG2.controls.bankAccountName" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG2.controls.bankAccountNumber)">Account Number</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="bankAccountNumber">
        <!--Validation-->
        <app-field-error-display [field]="paymentFG2.controls.bankAccountNumber" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG2.controls.bankABARoutingNumber)">ABA Routing number</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="bankABARoutingNumber">
        <!--Validation-->
        <app-field-error-display [field]="paymentFG2.controls.bankABARoutingNumber" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG2.controls.bankSwiftCode)">SWIFT code</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="bankSwiftCode">
        <!--Validation-->
        <app-field-error-display [field]="paymentFG2.controls.bankSwiftCode" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG2.controls.addressLine1)">Retailer address on Account</label>
        <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 1" pattern formControlName="addressLine1">
        <!--Validation-->
        <app-field-error-display [field]="paymentFG2.controls.addressLine1" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 2.(optional)" pattern formControlName="addressLine2">
        <!--Validation-->
        <app-field-error-display [field]="paymentFG2.controls.addressLine2" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby=" " placeholder="City" pattern formControlName="city">
        <!--Validation-->
        <app-field-error-display [field]="paymentFG2.controls.city" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="" placeholder="State" pattern formControlName="state">
                <!--Validation-->
                <app-field-error-display [field]="paymentFG2.controls.state" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="" placeholder="Zipcode" pattern formControlName="zipcode">
                <!--Validation-->
                <app-field-error-display [field]="paymentFG2.controls.zipcode" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
    </div>
    <hr />
</div>

<div class="row" *ngIf="paymentInfoStep!==1 && activateStripe">
    <a (click)="stripe()" class="btn btn-default ancProfile1">Register Your Account with Stripe
        <i class="fa fa-repeat fa-spin" aria-hidden="true" *ngIf="paymentSaveloader"></i>
    </a>
    <p>By registering your account, you agree to our
        <a href="https://stripe.com/docs/connect/updating-accounts#tos-acceptance" target="_blank">Services Agreement</a> and the
        <a href="https://stripe.com/us/connect-account/legal" target="_blank">Stripe Connected Account Agreement</a>.</p>
</div>
<div class="row">
    <div class="col-sm-6">
        <a (click)="paymentInfoBack()" class="ancDefault" *ngIf="paymentInfoStep!==1">back</a>

    </div>
    <div class="col-sm-6 text-right" [ngClass]="{'show': paymentInfoStep==1, 'hide': paymentInfoStep!==1 }">
        <a class="btn btn-default ancProfile1" (click)="paymentInfoNext()">Next</a>
    </div>
    <div class="col-sm-6 text-right" [ngClass]="{'show': paymentInfoStep==2, 'hide': paymentInfoStep!==2  }">
        <button class="btn btn-default ancProfile1" [disabled]="paymentSaveloader" (click)="paymentInfoSave();">Save & Next
            <i class="fa fa-repeat fa-spin" aria-hidden="true" *ngIf="paymentSaveloader"></i>
        </button>
    </div>
</div>
<!-- </form> -->