<ngb-alert *ngIf="alert.show"  [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
<div class="title col-sm-12">
    <h1>Account Info</h1>

</div>
<div class="row">
    <div class="col-sm-12 signup">
        <ngb-tabset #tabs="ngbTabset" [orientation]="currentOrientation" [justify]="currentJustify" (tabChange)="setActiveTab($event)">
            <ngb-tab title="Profile info" id="tab-Profile">
                <ng-template ngbTabContent>
                    <div class="row backgroundWhite">
                        <div class="col-sm-12 p-2">

                            <!-- <form class="divProfile"> -->
                            <div [formGroup]="profileFG1" [ngClass]="{'show': profileInfoStep==1, 'hide': profileInfoStep!==1 }">
                                <label class="control-label" [ngClass]="validatorExt.displayFieldCss(profileFG1.controls.profileImage)">Business Logo</label>
                                <div class="form-group">
                                    <div class="draglogo p-3 text-center">
                                        <div class=" text-center">Drag your Logo here</div>
                                        or
                                        <input formControlName="profileImage" (change)="fileChangeEvent($event, profileFG1)" type="file" class="form-control uploadImage" />
                                    </div>
                                    <app-field-error-display [field]="profileFG1.controls.profileImage" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(profileFG1.controls.businessName)">Business name</label>
                                    <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern formControlName="businessName">
                                    <app-field-error-display [field]="profileFG1.controls.businessName" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(profileFG1.controls.tin)">DNB/TIN</label>
                                    <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern formControlName="tin">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG1.controls.tin" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->

                                </div>
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(profileFG1.controls.businessSummary)">Business summary </label>
                                    <small class="float-right">300 characters left</small>
                                    <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern formControlName="businessSummary">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG1.controls.businessSummary" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(profileFG1.controls.bussines_address)">Business Address</label>
                                    <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 1" pattern formControlName="bussines_address">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG1.controls.bussines_address" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 2.(optional)" pattern formControlName="bussines_address2">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG1.controls.bussines_address2" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby=" " placeholder="City" pattern formControlName="city">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG1.controls.city" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->

                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" aria-describedby="" placeholder="State" pattern formControlName="state">
                                            <!--Validation-->
                                            <app-field-error-display [field]="profileFG1.controls.state" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                            <!--Validation-->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" aria-describedby="" placeholder="Zipcode" pattern formControlName="zipcode">
                                            <!--Validation-->
                                            <app-field-error-display [field]="profileFG1.controls.zipcode" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                            <!--Validation-->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" aria-describedby="" placeholder="Email" pattern formControlName="email">
                                            <!--Validation-->
                                            <app-field-error-display [field]="profileFG1.controls.email" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                            <!--Validation-->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" aria-describedby="" placeholder="Phone number" pattern formControlName="phone_number">
                                            <!--Validation-->
                                            <app-field-error-display [field]="profileFG1.controls.phone_number" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                            <!--Validation-->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(profileFG1.controls.sellerTypeId)">Seller Type</label>
                                        <select class="ddl_default w-100 form-control" formControlName="sellerTypeId">
                                            <option>Select Seller Type</option>
                                            <option *ngFor="let option of sellerTypes" value="{{option.id}}">
                                                {{option.value}}
                                            </option>
                                        </select>
                                        <!--Validation-->
                                        <app-field-error-display [field]="profileFG1.controls.sellerTypeId" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                        <!--Validation-->
                                    </div>
                                </div>
                            </div>
                            <div [formGroup]="profileFG2" [ngClass]="{'show': profileInfoStep==2, 'hide': profileInfoStep!==2  }">
                                <h5>Website details</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Website URL(optional) e.g.www.mykala.com" pattern formControlName="websiteUrl">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG2.controls.websiteUrl" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Username for acct. login (optional)" pattern formControlName="websiteUserName">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG2.controls.websiteUserName" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Password for acct. login (optional)" pattern formControlName="websitePassword">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG2.controls.websitePassword" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <hr />
                                <h5>Primary account contact</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Name" pattern formControlName="contact_name">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG2.controls.contact_name" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Position" pattern formControlName="contact_position">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG2.controls.contact_position" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Address line 1" pattern formControlName="contact_address1">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG2.controls.contact_address1" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Address line 2.(optional)" pattern formControlName="contact_address2">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG2.controls.contact_address2" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="City" pattern formControlName="contact_city">
                                    <!--Validation-->
                                    <app-field-error-display [field]="profileFG2.controls.contact_city" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="State" pattern formControlName="contact_state">
                                            <!--Validation-->
                                            <app-field-error-display [field]="profileFG2.controls.contact_state" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                            <!--Validation-->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Zipcode" pattern formControlName="contact_zipcode">
                                            <!--Validation-->
                                            <app-field-error-display [field]="profileFG2.controls.contact_zipcode" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                            <!--Validation-->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Email" pattern formControlName="contact_email">
                                            <!--Validation-->
                                            <app-field-error-display [field]="profileFG2.controls.contact_email" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                            <!--Validation-->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Phone number" pattern formControlName="contact_phone_number">
                                            <!--Validation-->
                                            <app-field-error-display [field]="profileFG2.controls.contact_phone_number" [errorMsg]="profileErrorMsgs"> </app-field-error-display>
                                            <!--Validation-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-6">
                                    <a (click)="profileInfoBack()" class="ancDefault">back</a>
                                </div>
                                <div class="col-sm-6 text-right" *ngIf="profileInfoStep==1">
                                    <a class="btn btn-default ancProfile1" (click)="profileInfoNext()">Next</a>
                                </div>
                                <div class="col-sm-6 text-right" *ngIf="profileInfoStep==2">
                                    <a class="btn btn-default ancProfile1" (click)="profileInfoSave();">Save & Next</a>
                                    <img src="/admin-app/assets/images/loader.gif" style="margin: 0 46%" *ngIf="profileSaveloader" />
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Payment info" id="tab-Payment">
                <ng-template ngbTabContent>
                    <div class="row backgroundWhite">
                        <div class="col-sm-12 p-2">
                            <!-- <form class="divPayemnt1"> -->
                            <div [formGroup]="paymentFG1" [ngClass]="{'show': paymentInfoStep==1, 'hide': paymentInfoStep!==1 }">
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(paymentFG1.controls.paymentMethod)">Payment Method</label>
                                    <select class="ddl_default w-100 form-control" formControlName="paymentMethod" (change)="paymentMethodChange()">
                                        <option>Select payment Method</option>
                                        <option *ngFor="let option of paymentMethods" value="{{option.name}}">
                                            {{option.value}}
                                        </option>
                                    </select>
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG1.controls.paymentMethod" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="displayFieldCss(paymentFG1.controls.paymentVehicle)">Payment Vehicle</label>
                                    <select class="ddl_default w-100 form-control" formControlName="paymentVehicle">
                                        <option>Select option</option>
                                        <option *ngFor="let option of paymentVehicles" value="{{option.name}}">
                                            {{option.value}}
                                        </option>
                                    </select>
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG1.controls.paymentVehicle" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="displayFieldCss(paymentFG1.controls.bankname)">Bank name</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="bankname">
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG1.controls.bankname" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="displayFieldCss(paymentFG1.controls.addressLine1)">Bank Address</label>
                                    <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 1" pattern formControlName="addressLine1">
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG1.controls.addressLine1" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 2.(optional)" pattern formControlName="addressLine2">
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG1.controls.addressLine2" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby=" " placeholder="City" pattern formControlName="city">
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG1.controls.city" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->

                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" aria-describedby="" placeholder="State" pattern formControlName="state">
                                            <!--Validation-->
                                            <app-field-error-display [field]="paymentFG1.controls.state" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                            <!--Validation-->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" aria-describedby="" placeholder="Zipcode" pattern formControlName="zipcode">
                                            <!--Validation-->
                                            <app-field-error-display [field]="paymentFG1.controls.zipcode" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                            <!--Validation-->
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>
                            <div [formGroup]="paymentFG2" [ngClass]="{'show': paymentInfoStep==2, 'hide': paymentInfoStep!==2  }"validatorExt.>
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="displayFieldCss(paymentFG2.controls.accountName)">Account Name</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="accountName">
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG2.controls.accountName" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="displayFieldCss(paymentFG2.controls.accountNumber)">Account Number</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="accountNumber">
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG2.controls.accountNumber" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="displayFieldCss(paymentFG2.controls.routingNumber)">ABA Routing number</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="routingNumber">
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG2.controls.routingNumber" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="displayFieldCss(paymentFG2.controls.swiftCode)">SWIFT code</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="" pattern formControlName="swiftCode">
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG2.controls.swiftCode" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="displayFieldCss(paymentFG2.controls.name)">Retailer address on account</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Position" pattern formControlName="name">
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG2.controls.name" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label" [ngClass]="displayFieldCss(paymentFG2.controls.addressLine1)">Business Address</label>
                                    <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 1" pattern formControlName="addressLine1">
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG2.controls.addressLine1" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 2.(optional)" pattern formControlName="addressLine2">
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG2.controls.addressLine2" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" aria-describedby=" " placeholder="City" pattern formControlName="city">
                                    <!--Validation-->
                                    <app-field-error-display [field]="paymentFG2.controls.city" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                    <!--Validation-->
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" aria-describedby="" placeholder="State" pattern formControlName="state">
                                            <!--Validation-->
                                            <app-field-error-display [field]="paymentFG2.controls.state" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                            <!--Validation-->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" aria-describedby="" placeholder="Zipcode" pattern formControlName="zipcode">
                                            <!--Validation-->
                                            <app-field-error-display [field]="paymentFG2.controls.zipcode" [errorMsg]="paymentErrorMsgs"> </app-field-error-display>
                                            <!--Validation-->
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a (click)="paymentInfoBack()">back</a>
                                </div>
                                <div class="col-sm-6 text-right" [ngClass]="{'show': paymentInfoStep==1, 'hide': paymentInfoStep!==1 }">
                                    <a class="btn btn-default ancProfile1" (click)="paymentInfoNext()">Next</a>
                                </div>
                                <div class="col-sm-6 text-right" [ngClass]="{'show': paymentInfoStep==2, 'hide': paymentInfoStep!==2  }">
                                    <a class="btn btn-default ancProfile1" (click)="paymentInfoSave()">Save & Next</a>
                                    <img src="/admin-app/assets/images/loader.gif" style="margin: 0 46%" *ngIf="paymentSaveloader" />
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="col-sm-4 pl-2 pr-2 backgroundGray"></div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Product info" id="tab-Product">
                <ng-template ngbTabContent>
                    <div class="row backgroundWhite">
                            <div class="row backgroundWhite">
                                    <div class="col-sm-12 p-2">
                                        <app-retailer-add-products></app-retailer-add-products>
                                    </div>
                                    <div class="col-sm-4 pl-2 pr-2 backgroundGray"></div>
                                </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Shipping profile" id="tab-Shipping">
                <ng-template ngbTabContent>
                    <div class="row backgroundWhite">
                        <div class="col-sm-12 p-2">
                            <app-retailer-add-shipping></app-retailer-add-shipping>
                        </div>
                        <div class="col-sm-4 pl-2 pr-2 backgroundGray"></div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Return and Exchange policy" id="tab-Return">
                <ng-template ngbTabContent>
                        <div class="row backgroundWhite">
                                <div class="col-sm-12 p-2">
                                    <app-retailer-add-returns></app-retailer-add-returns>
                                </div>
                                <div class="col-sm-4 pl-2 pr-2 backgroundGray"></div>
                            </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Notifications" id="tab-Notifications">
                <ng-template ngbTabContent>
                        <div class="row backgroundWhite">
                                <div class="col-sm-12 p-2">
                                    <app-retailer-add-notifications></app-retailer-add-notifications>
                                </div>
                                <div class="col-sm-4 pl-2 pr-2 backgroundGray"></div>
                            </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>

    </div>
</div>