/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'open_sansbold';
    src: url('/consumer-app/assets/fonts/opensans-bold-webfont.eot');
    src: url('/consumer-app/assets/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/consumer-app/assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/consumer-app/assets/fonts/opensans-bold-webfont.woff') format('woff'),
         url('/consumer-app/assets/fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('/consumer-app/assets/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal; 
}  
@font-face {
    font-family: 'open_sanssemibold';
    src: url('/consumer-app/assets/fonts/opensans-semibold-webfont.eot');
    src: url('/consumer-app/assets/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/consumer-app/assets/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('/consumer-app/assets/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('/consumer-app/assets/fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('/consumer-app/assets/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/consumer-app/assets/fonts/opensans-regular-webfont.eot');
    src: url('/consumer-app/assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/consumer-app/assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/consumer-app/assets/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/consumer-app/assets/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('/consumer-app/assets/fonts/opensans-regular-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal; 
}  
@font-face {
    font-family: 'open_sanslight';
    src: url('/consumer-app/assets/fonts/opensans-light-webfont.eot');
    src: url('/consumer-app/assets/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/consumer-app/assets/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/consumer-app/assets/fonts/opensans-light-webfont.woff') format('woff'),
         url('/consumer-app/assets/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('/consumer-app/assets/fonts/opensans-light-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal; 
} 
html, body, div, img {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  background: #f3f3f4;
  height: 100%;
  font-family: open_sansregular;
  position: relative; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

::-webkit-input-placeholder {
  color: #f6dbd6; }

#main {
  height: 100%;
  position: relative; }

#content {
  width: 924px;
  height: 100%;
  margin: 0 auto; }

#intro {
  background: url("/consumer-app/assets/images/bg.jpg") no-repeat;
  background-size: cover; }

#intro_initial {
  height: 396px;
  background: rgba(35, 21, 15, 0.7);
  margin: 8px 10px 0px 10px;
  padding: 15px 30px 20px 30px;
  color: #ffffff; }

#intro_initial div:first-child {
  text-align: center;
  margin-bottom: 150px; }

#intro_initial div:first-child > span:first-child {
  padding-left: 68px; }

#intro_initial div:first-child span:nth-child(2) {
  float: right; }

#intro_initial p {
  font-size: 40px;
  line-height: 90%;
  font-weight: lighter; }

#intro_initial > p:nth-child(3) {
  margin-bottom: 40px; }

#intro a, #intro_scroll a {
  color: #ffffff; }

#intro a:hover, #intro_scroll a:hover {
  color: #ffffff; }

#intro_scroll {
  background: rgba(35, 21, 15, 0.7);
  padding: 10px 20px;
  display: none;
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 999; }

#intro_scroll p {
  text-align: left;
  width: 100px;
  font-size:14px;
}

#intro_scroll > div {
  width: 80%;
  max-width: 950px;
  min-width: 400px;
  margin: 0 auto; }

.lounge {
  border-left: 1px solid #ffffff;
  width: 226px;
  text-align: right;
  position: fixed;
  top: 10px;
  right: 0;
  z-index: 999;
  display: none;
  padding: 0px 50px 0 0;
  margin-top: 10px; }

.lounge a {
  color: #ffffff; }

#intro_initial .lounge_trigger {
  position: fixed;
  top: 20px;
  right: 146px;
  z-index: 999; }

.lounge .dialogue_right {
  width: 90%; }

.lounge_menu { 
  width: 226px;
  text-align: right;
  position: fixed;
  top: 10px;
  right: 0;
  z-index: 999;
  display: none;
  padding: 0px 50px 0 0;
  margin-top: 10px; }

.lounge_menu a {
  color: #ffffff; }

.lounge_menu .dialogue_right {
  width: 90%; }

.dialogue {
  padding: 8px 10px;
  border-radius: 10px;
  opacity: 1;
  width: 95%;
  max-width: 800px;
  font-size:14px;
}

.dialogue_right {
  background-color: #E06163;
  border-bottom-right-radius: 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); }

.dialogue_right img {
  float: right; }

.dialogue_left {
  background-color: #ffffff;
  border: 1px solid #808284;
  color: #231F20;
  border-top-left-radius: 0; }

.dialogue_right_Gray {
  background-color: #231F20; 
  color: #fff;
  border-top-left-radius: 0; }

#intro_initial .dialogue {
  margin: 0 auto; }

.dialogue input {
  background: transparent;
  border: 0px;
  margin-left: 12px;
  color: #ffffff;
  font-weight: lighter;
  width: 80%;
  font-family:open_sansregular;
}

.dialogue input:focus {
  outline: none; }

#content {
  padding: 10px 0px; }

/*.title {
  width: 924px; }*/

.title h2 {
  color: #A7A9AB;
  font-weight: lighter;
  display: inline-block;
  font-size: 40px;
  font-family:open_sanslight;
  margin-bottom:50px;
  margin-top:20px;
}

.title > p {
  margin-top: 20px;
  color: #231F20;
  display: inline-block;
  float: right; }

.title > p span {
  padding: 0 20px 0 0; }

.title a {
  color: #231F20; }

.title a:hover {
  color: #231F20; }

.title .title_category {
  color: #231F20;
  margin-left: 10px;
  font-size: 25px; }

#category_remove {
  display: inline-block;
  padding-left: 10px;
  border-left: 1px solid #D1D2D4;
  margin-left: 40px;
  margin-bottom: 10px; }

#category_remove:hover {
  cursor: pointer; }

#images {
  margin-top: 30px; }

.img_clutter {
  width: 924px;
  height: 638px;
  position: relative;
  margin-bottom: 20px;
  }

.img_clutter > div:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0; }

.img_clutter > div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 353px; }

.img_clutter > div:nth-child(3) {
  position: absolute;
  top: 0;
  right: 0; }

.img_clutter > div:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0; }

.img_clutter > div:nth-child(5) {
  position: absolute;
  top: 242px;
  left: 258px; }

.img_clutter > div:nth-child(6) {
  position: absolute;
  top: 443px;
  left: 258px; }

.img_clutter > div:nth-child(7) {
  position: absolute;
  bottom: 0;
  right: 0; }

.img_clutter .instruction {
  position: absolute;
  z-index: 99;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-color: #E06163;
  border-bottom-right-radius: 0;
  bottom: -30px;
  left: 50px;
  opacity: 0.9;
  padding: 100px 30px 0 30px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
  display: none; }

.img_clutter .instruction p, .img_clutter .instruction small {
  color: #ffffff; }

.img_clutter .instruction p {
  text-align: center; }

.img_clutter .instruction small {
  float: right;
  font-weight: lighter;
  margin-top: 30px;
  display: inline-block;
  text-align: right;
  opacity: 0.6; }

#instruction_2 {
  background-color: #23150F;
  bottom: -100px;
  left: 150px; }

#instruction_3 {
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 0;
  left: 60%;
  bottom: 100px; }

#instruction_3 small {
  text-align: left;
  float: left; }

#instruction_4 {
  background-color: #F1F1F2;
  top: 30px; }

#instruction_4 p, #instruction_4 small {
  color: #323946; }

.hover_panel {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 200px;
  height: 100px;
  background: rgba(151, 185, 69, 0.7);
  padding: 10px;
  visibility: hidden; 
  z-index:100;
}

.hover_panel h5 {
  color: #23150F;
  line-height: 150%;
  font-size: 15px; }

.hover_panel span {
  color: #ffffff;
  font-weight: lighter; }

.hover_panel > span {
  vertical-align: middle; }

.hover_panel a {
  color: #ffffff;
  font-weight: lighter; }

.hover_panel a:hover {
  color: #ffffff;
  text-decoration: underline;
  font-weight: lighter; }

.img_clutter > div:hover {
  cursor: pointer; }
ng-sidebar-container[_nghost-c2]{
    z-index: 10;
}
#sidebar {
  width: 250px;
  position: fixed;
  right: 0;
  top: 0; 
  background-color: #ffffff;
  height: 100%; 
  border-left: 1px solid #E6E6E8; }

#sidebar > div:first-child {
  padding: 126px 0 10px 20px;
  background-color: #ffffff; }

#sidebar > div:first-child > img {
  float: left; }

#sidebar > div:first-child > div {
  height: 45px;
  float: left;
  margin-left: 10px;
  font-size:12px;
}

#sidebar > div:first-child > div > p {
  line-height: 16px;
  margin-bottom: 0; }

#sidebar > div:first-child > div > p:nth-child(2) {
  color: #A7A9AB; }

#sidebar > div:first-child > div > p:nth-child(3) {
  color: #E06163; }

#sidebar table {
  background-color: #ffffff;
  /*margin-top: 20px;*/ }

#sidebar table img {
  margin-right: 8px;
  margin-left: 12px; 
  width: 18px;
 }

#sidebar table tbody tr td {
  height: 52px;
  line-height: 40px;
  font-size:14px;
}

#sidebar table tbody tr td:first-child {
  width: 165px; }

#sidebar table tbody tr .right {
  background-color: #E06163;
  color: #ffffff;
  text-align: center;
  width: 60px; 
}
#sidebar table a{
    color: #23150F;
    text-decoration: none;
}
#sidebar table a:hover{
    color: #23150F;
    text-decoration: none;
}
#sidebar .table td, .table th{
    border-bottom: 1px solid #eceeef;
}

/* code */
.sub_cntPage {
    background: rgba(35, 21, 15, 0.7);
    padding: 10px 20px; 
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    z-index: 999;
}
.mobile_home{
    padding:50px 0px;
}
.category_list{
    margin-top:10px !important;
}
ul.category_list{
    margin:0px;
    padding:0px;
    width:100%;
}
.category_list li{
    list-style: none;
    width: 32%;
    border: solid 1px #231F20;
    display: inline-block;
    margin: 0px;
    text-align: center;
    position: relative;
    margin-bottom: 0px;
    margin-right: 5px;
    background-size: cover;
    overflow: hidden;
    height: 232px;
    cursor: pointer;
}
.category_list .overlayBg{
    position:absolute;
    left:0px;
    top:0px;
    width: 100%;
    height:100%;
    opacity: 0.5;
    z-index: 3;
    background: #000;
}
.category_list .bg{
    position:absolute;
    left:0px;
    top:0px;
    width: 100%;
    height:100%;
    z-index: 2;
    background: linear-gradient( rgba(0,0,0, .6), rgba(0,0,0, .6) );
}
.category_list .bg img{
    width: 100%;
}
.category_list .iconText{
    position:absolute;
    left:50%;
    top:50%;
    width: 100%;
    z-index: 4;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
}
.dialogue_outerline{ 
    border-bottom-right-radius: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    border:solid 1px red;
    padding:6px 10px !important;
}
.search_txtIcon{
    background:url(/consumer-app/assets/images/icon_search.png) no-repeat left !important;
    color:red;
    padding-left:20px;
    margin-left:0px !important;
}
.landing_header{
    background:#231F20; 
    padding:5px;
}
.noWidth{
    width:0px !important;
}
.displayinline{
    display:inline !important;
}
.displayblock{
    display:block !important;
}
.colorGray{
    color:#231F20 !important;
} 
.colorlightGray{
    color:#999999;
} 
.colorred{
    color:#e06263 !important;
}
.colorwhite{
    color:#fff !important;
}
.colorblack{
    color:#000 !important;
}
.backgroundWhite{
    background:#fff !important;
}
.backgroundGray{
    background:#231F20 !important;
}
.backgroundlightGray{
    background:#f3f3f4 !important;
}
.backgroundRed{
    background:#e06263 !important;
}
.checkout_layout {
    padding-left:0px !important;
}
.checkout_layout .clearfix{
    padding:25px 0px;
    border-bottom:solid 1px #999999; 
}
 
.get_Offer_list p{
    color:#999999; 
}
a.ancRed{
    color:#e06263;
    text-decoration:none;
}
a.ancRed:hover{
    color:#e06263;
    text-decoration:none;
}
.sub_header {
    background: rgba(35, 21, 15, 0.7);
    padding: 10px 20px;
    display: none;
    position: fixed; 
    left: 0;
    width: 100%;
    z-index: 999;
}
.sub_header p {
  text-align: left;
  width: 100px;
  font-size:14px;
}
 
.sub_header > div {
  width: 75%;
  max-width: 1200px;
  min-width: 400px;
  margin: 0 auto;
  border-right: solid 2px #999999;
}
.sub_header > div:last-child {
    border-right: none;
}
.noBackground{
    background-color:transparent !important;
}
.addWidth{
    padding:3px 20px !important;
    border-radius:0px !important;
}
.categ_outline_red{
    border:solid 1px #e06263;
    padding:3px 15px;
    display:inline-block;
    background:#fff;
    border-radius:5px;
    font-size:13px;
    color:#e06263;
}
.categ_outline_red_bg{
    background:none;
    color:#a32f31;
}
.categ_outline_gray{
    border:solid 1px #4d4d4d;
    padding:3px 15px;
    display:inline-block; 
    border-radius:5px;
    font-size:13px;
    color:#999999;
}
a.categ_close{
    color:#e06263;
    padding-left:10px;
}
.product-length{
    border:solid 1px #999999;
    padding:3px 10px;
    display:inline-block; 
    border-radius:5px;
    font-size:13px; 
}
.bgGray{
    background:#999999;
}
.txtColorWhite{
    color:#fff;
}
.outlineBox{
    border:solid 1px #4d4d4d;
    padding:3px 10px;
    display:inline-block; 
    border-radius:5px;
    font-size:13px;
}
.btn{
    border:solid 0px #e06263;
    padding: 8px 20px;
    border-radius: 10px;
    opacity: 1;  
    font-size:14px;
    color:#fff;
}
.btn-outer{
    border:solid 0px #e06263;
    padding: 7px 20px;
    border-radius: 10px;
    opacity: 1;  
    font-size:14px;
    color:#fff;
}
.btn_red_right{
    background-color: #e06263;
    border-bottom-right-radius: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
}
.btn_redouter_right{
    background-color: #fff;
    border-bottom-right-radius: 0px;
    /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);*/ 
    border:solid 1px red;
    color:#241610;
}
.catg_kitchen{
    background:  linear-gradient( rgba(0,0,0, .6),  rgba(0,0,0, .6) ), url(/consumer-app/assets/images/catg-1.png); 
    background-size:cover;
}
.category_list p{
    color:#fff;
    padding:10px 0px 0px;
    font-size:20px;
}
.catg_appliances{
    background:  linear-gradient( rgba(1,1,1,0.5),  rgba(1,1,1,0.5) ), url(/consumer-app/assets/images/catg-2.png);  
    background-size:cover;
}
.catg_appliances{
    background:  linear-gradient( rgba(1,1,1,0.5),  rgba(1,1,1,0.5) ),url(/consumer-app/assets/images/catg-3.png); 
    background-size:cover;
}
.catg_furniture{
    background:  linear-gradient( rgba(1,1,1,0.5),  rgba(1,1,1,0.5) ),url(/consumer-app/assets/images/catg-4.png); 
    background-size:cover;
}
.catg_lighting{
    background:  linear-gradient( rgba(1,1,1,0.5),  rgba(1,1,1,0.5) ),url(/consumer-app/assets/images/catg-5.png); 
    background-size:cover;
}
.catg_garden{
    background:  linear-gradient( rgba(1,1,1,0.5),  rgba(1,1,1,0.5) ),url(/consumer-app/assets/images/catg-6.png); 
    background-size:cover;
}
.catg_supplies{
    background:  linear-gradient( rgba(1,1,1,0.5),  rgba(1,1,1,0.5) ),url(/consumer-app/assets/images/catg-7.png); 
    background-size:cover;
}
.catg_poolspa{
    background:  linear-gradient( rgba(1,1,1,0.5),  rgba(1,1,1,0.5) ),url(/consumer-app/assets/images/catg-8.png); 
    background-size:cover;
}
.catg_pestcontrol{
    background:  linear-gradient( rgba(1,1,1,0.5),  rgba(1,1,1,0.5) ),url(/consumer-app/assets/images/catg-9.png); 
    background-size:cover;
} 
.catg_linens1{
    background:  linear-gradient( rgba(1,1,1,0.5),  rgba(1,1,1,0.5) ),url(/consumer-app/assets/images/catg-10.png); 
    background-size:cover;
}
.catg_safety{
    background:  linear-gradient( rgba(1,1,1,0.5),  rgba(1,1,1,0.5) ),url(/consumer-app/assets/images/catg-11.png); 
    background-size:cover;
}
.catg_DIY{
    background:  linear-gradient( rgba(1,1,1,0.5),  rgba(1,1,1,0.5) ),url(/consumer-app/assets/images/catg-1.png); 
    background-size:cover;
}
.catg_linens{
    background:  linear-gradient( rgba(1,1,1,0.5),  rgba(1,1,1,0.5) ),url(/consumer-app/assets/images/catg-2.png); 
    background-size:cover;
}
.productDtl-right{
    background:#fff;
    color:#241610;
    padding:20px;
}
.productDtl-right h4{
    color:#241610; 
    font-size:20px;
    display:inline;
    padding-right:20px; 
}
.productDtl-right ul.relatedList{
    margin:0px auto;
    padding:0px;
} 
.productDtl-right ul.relatedList li{
    list-style:none;
    display:inline-block ;
    padding:5px;
    width:30%;
}
.productDtl-right ul.relatedList li p{
    margin:0px;
}
.productDtl-right ul.relatedList li img{
    width:70px;
}
.reviewlayout p{
    margin:0px;
}
ul.prd_Soc_icon li{
    margin:0px auto;
    padding:0px;
}
.prd_Soc_icon li{
    list-style:none;
    display:inline-block;
}
.prd_Soc_icon li img{
    height:24px;
}
.splInst_getoffer{
    width:80%;
    height:100px;
    border:solid 1px #e06263;
    border-radius:5px;
    border-bottom-right-radius: 0px; 
}
.btnClose{
    border: solid 1px #999999;
    border-radius: 25px;
    padding: 1px 6px;
    color: #999999;
    font-size: 14px;
    position: relative;
    bottom: 3px;
}
.star-rating {
  line-height:32px;
  font-size:1em;
} 
.star-rating .fa-star{color: #e06263;}
.get_Offer_summary{
    background:#fff;
    padding:20px 10px;
}
.get_Offer_summary p{
    color:#999999;
}
#thumbcarousel .carousel {
    margin-top: 20px;
}
#thumbcarousel .item .thumb {
    width: 25%;
	cursor: pointer;
	float: left;
}
#thumbcarousel .item .thumb img {
	width: 100%;
	margin: 2px;
}
#thumbcarousel .item img {
	width: 100%;	
}
.order_Summary_Rgt{
    background:#fff;
    color:#231F20;
    padding:10px !important;
}
.order_Summary_Rgt table tr td{
    padding:5px;
}
.joinScreen_right{
    background:#fff;
    color:#231F20;
    padding:10px !important;
}
.joinScreen_right h3{
    margin:0px;
    padding:0px;
    font-size:20px;
    color:#e06263;
    font-weight:bold;
}
.myaccount_menu .navbar{
    margin-bottom: 0px !important;
    border: 0px solid transparent !important;
}
.myaccount_menu .navbar .navbar-nav > li > a{
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.myaccount_menu .navbar{
    min-height: 0px;
}
.myaccount_menu{
    position: fixed;
    top: 116px;
    width: 100%;
    z-index: 999;
    left:0px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{ 
   background:url(/consumer-app/assets/images/bottom-arrow.png) no-repeat bottom center !important;
   background-color:transparent !important;
}
 
.myCart-list{
    margin-bottom:20px;
    background:#fff;
    padding:10px 20px;
}
.myaccount{  
}
.myaccount_row .clearfix{
    padding:10px 0px; 
    border-bottom:solid 1px #f2f2f2;
}
.myaccount_row .clearfix:last-child{ 
    border-bottom:solid 0px #fff;
}
.myaccount .myaccount_row{ 
    background:#fff;
    padding:20px;
    margin-bottom:20px;
}
.myaccount .userIcon{
    width:80px;
}
.menu_notify {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background: #e06263;
    padding: 0px 4px;
    margin-left: 4px;
    color: #fff;
    font-size: 12px;
}
.valign_bottom{
    position:absolute;
    bottom:0px;
    right:80px;
}
.join_layout{  
    background:#fff;
    margin-top:20px;
    margin-bottom: 80px;
}
.join_content{
    width:320px;
    margin:0px auto;
    padding:10px;
}

.contact_icon{
    border:solid 1px #fff;
    border-bottom-left-radius:20px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    padding: 0px 6px;
    font-size: 10px;
}
.joinScreen_layout h2{
    padding:0px;
    margin:0px; 
}
.mobile_Footer .spacing{
    padding:10px;
}
.vertical_divide{
    border-right:solid 1px #fff;
}
.mobile_Footer{
    position: fixed;
    bottom: 0;
    width: 100%; 
    background-color: #231F20; 
    left:0px;
    z-index:999;
    margin:0px; 
}
.mobile_Screen img{ 
     width:32px;
}
.mobile_Screen .anc_topIcon a{
    color:#fff;
    text-decoration:none;
    position:relative;
    top:-5px !important;
}
.mobile_Screen .anc_topIcon a:hover{
    color:#fff;
    text-decoration:none;
}
.mobile_key img{
     width:48px; 
}
.mobile_key .typeBox{ 
    background:#231F20; 
}
.mobile_chat{
    position: fixed;
    bottom: 48px;
    width: 100%;  
    color:#231F20;
    left:0px;
    z-index:999;
    margin:0px;
    padding:10px;
}
.customerVoice{
    background:#fff;
}
.typeBox{
    background:#231F20; 
    padding:10px;
}
.customerVoice{
    padding:10px;
}
.left_chat{
    border:solid 1px #999999;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px; 
    border-top-right-radius:7px;
    background:#fff;
    padding:6px;
    display:inline-block; 
    margin:5px 0px;
}
.right_chat{
    border:solid 1px #999999;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
    border-top-left-radius:7px; 
    background:#231F20;
    color:#fff;
    padding:6px;
    display:inline-block; 
    float:right;
    margin:5px 0px;
}
.header_logo{
    position:relative;
    top:7px;
}
.img_holder { 
    object-fit: fill; 
    width: 100%;
    position: relative;
}
.cardlist li{
    list-style:none;
    padding:1px;
    display:inline-block;
}
.cardlist li img{
    width:50px;
}
.sub_Menu{
    position: fixed;  
    top: 75px;
    background: #fff;
    width: 100%;
    left: 0px;
    z-index: 999;
}
.sub_Menu ul li{
    list-style:none; 
    display:inline-block;
    padding:8px 20px 8px 8px;  
}
.sub_Menu ul li a{
    color:#999999;
}
.sub_Menu img{
    width:14px;
}
.sub_Menu ul li.active{
    background:red url(/consumer-app/assets/images/bottom-arrow.png) no-repeat bottom center !important;
    background-color:transparent !important; 
    font-weight:bold;
}
 
.product_hover{
    display: block;
    position:relative;
    z-index:1
}
.gender_icon{
    height:40px;
    padding:0px 10px; 
}
.review_Icon{
    width:8px;
}
.header_divide{
    border-right:solid 1px #ffffff;
    height: 38px
}
a.anc_topIcon{
    color:#fff;
    text-decoration:none;
    position:relative;
    top:7px;
}
a.anc_topIcon:hover{
    color:#fff;
    text-decoration:none;
}
.dft_icon{
    width:24px;
}
.relativePosition{
    position:relative;
}
.txtnml{
    border:solid 1px #999999;
    border-radius:5px;
    padding:3px;
    color:#231F20;
}
.txt-chat{
    border:solid 1px #999999;
    border-bottom-left-radius:7px;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    padding:8px;
    margin:8px 0px;
    font-size:12px;
    color:#231F20;
}
.ddlnml{
    border:solid 1px #999999;
    border-radius:5px;
    padding:3px;
    color:#231F20;
}
hr{
    border-top: 1px solid #e0e0e0 !important
}
h4.subtitle{
    color:#999999;
    margin-bottom:20px;
    font-family:open_sanslight;
    font-size:20px;
}
.nopadding{
    padding-left:0px !important;
    padding-right:0px !important;
}
.width100{
    width:100% !important;
}
.width90{
    width:90% !important;
}
.width50{
    width:50% !important;
}
.width75{
    width:75% !important;
}
.width49{
    width:49% !important;
}
@media only screen and (min-width: 800px) and (max-width: 1024px){
    .sub_header > div{
        width: 100%;
        float:left !important;
        max-width: initial !important;
        min-width: initial !important;
    }
     a.anc_topIcon { 
        top: 0px !important;
    }
    #intro_scroll > div{
        width: 70%;
        float:left !important;
        max-width: initial !important;
        min-width: initial !important;
    }
    #content{
        width:auto !important;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px){
    .sub_header > div{
        width: 100%;
        float:left !important;
        max-width: initial !important;
        min-width: initial !important;
    }
     a.anc_topIcon { 
        top: 0px !important;
    }
    #intro_scroll > div{
        width: 50%;
        float:left !important;
        max-width: initial !important;
        min-width: initial !important;
    }
    #content{
        width:auto !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 500px){
    .sub_header > div{
        /*width: 50%;*/
        float:left !important;
        max-width: initial !important;
        min-width: initial !important; 
    }
    a.anc_topIcon { 
        top: 0px !important;
    }
    #intro_scroll > div{
        width: 50%;
        float:left !important;
        max-width: initial !important;
        min-width: initial !important;
        width: 65%;
    }
    .lounge{
        width: auto !important;
        padding: 0px 20px 0 !important;
    }
    .lounge_menu{
        width: auto !important;
        padding: 0px 20px 0 !important;
    }
    .dialogue input{
        width: 60% !important;
    }
    ul.category_list li{ 
        padding:3px !important;
    } 
    #content{
        width:auto !important;
    }
    .category_list p{
        font-size:12px;
    }
}
.rdoMale{
    border:solid 1px #999;
    display:inline-block;  
    background:#fff;
}
.rdoFemale{
    border:solid 1px #999;
    display:inline-block;  
    background:#fff;
}
.register-switch { 
  margin-bottom: 20px;
  padding: 4px;
}
.register-switch-input {
  display: none;
} 
.rdoMale .register-switch-label span{
    top: 54px;
    position: relative;
    font-size: 12px;
}
.rdoFemale .register-switch-label_female span{
    top: 54px;
    position: relative;
    font-size: 12px;
}
.register-switch-input:checked + .register-switch-label {
    font-weight: normal;
    color: #e06263; 
    line-height: 32px;
    border-radius: 2px;
    background:#fff url("/consumer-app/assets/images/male_red.png") no-repeat;  
    background-size: 100%;  
    width: 68px;
    height: 80px; 
    margin-bottom:0px;
}
.register-switch-label {
    float: left; 
    line-height: 32px;
    color: #999;
    text-align: center;
    cursor: pointer;
    background:#f3f3f4 url("/consumer-app/assets/images/male_gray.png") no-repeat; 
    background-size: 100%;  
    width: 68px;
    height: 80px; 
    margin-bottom:0px;
}
.register-switch-label_female {
    float: left; 
    line-height: 32px;
    color: #999;
    text-align: center;
    cursor: pointer;
    background:#f3f3f4 url("/consumer-app/assets/images/female_gray.png") no-repeat;
    background-size: 100%; 
    background-position: 100%;
    width: 68px;
    height: 80px; 
    margin-bottom:0px;
}
.register-switch-input:checked + .register-switch-label_female {
    font-weight: normal;
    color: #e06263;
    line-height: 32px;
    background: #999;
    border-radius: 2px;
    background:#fff url("/consumer-app/assets/images/female_red.png") no-repeat; 
    background-size:50%; 
    background-size: 100%; 
    background-position: 100%;
    width: 68px;
    height: 80px; 
    margin-bottom:0px;
}
.aboluteImg{
    position: absolute;
    left: 0;
    top: 0px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
}
.absoluteImg_2{
    position: absolute !important;
    right: 22px;
    top: 6px;
}
.errorMessages,
.successMessage{
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 15px;
}

.profImageWrapper{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    position: relative;
}

.profImageWrapper img{
    width: 100%;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.uploadImage{
    position: absolute;
    width: 0px;
    height: 0px;
    border: none;
    display: none;
    left: 25px;
    top: 0px;
    padding: 0px;
    z-index: -1;
    cursor: pointer;
}
.errorUser .errorMessages{
    margin-bottom: 0px !important;
}
.sidebar_sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
}
.sidebar_sticky_2{
    top: 170px;
}
.bgColor{
    margin: -10px;
    margin-bottom: 10px;
    width: 289px;
}
.bcpointer{
    cursor: pointer;
    color: #999999;
    font-size: 12px;
}
.profile_Edit{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    cursor: pointer;
    display: inline-flex;
    opacity: 0.5;
    background: #fff;
    border-radius: 5px 0px 0px 0px;
}
.profile_Edit img{
    border: none;
}
.profile_Edit:hover{
    opacity: 0.8;
}
.categ_outline_red_fixed{
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    padding: 15px;
}
.example:hover .hover_panel{
    visibility: visible;
}
/**/
#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:48em) {
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: width;
       -o-transition-property: width;
          transition-property: width;

}

.category_tiles{
    margin:0px;
    padding:0px;
}
.category_tiles li{ 
    padding:20px 10px; 
    text-align:right;
    padding-right:30px;
    list-style:none;
    color:#fff; 
    background:#615754;
    border-bottom:solid 1px #f3f3f4;
    box-shadow: rgb(153, 153, 153) 5px 0px 5px inset;
}
/*.category_tiles li img{ 
    width:50px;
} 
.category_tiles li:nth-child(1){
    background:#c8792f; 
}
.category_tiles li:nth-child(2){
    background:#dfad26; 
}
.category_tiles li:nth-child(3){
    background:#eac625; 
}
.category_tiles li:nth-child(4){
    background:#98b945; 
}
.category_tiles li:nth-child(5){
    background:#4ba681; 
}
.category_tiles li:nth-child(6){
    background:#4b8da6; 
}
.category_tiles li:nth-child(7){
    background:#7a81c4; 
}
.category_tiles li:nth-child(8){
    background:#ba86d8; 
}
.category_tiles li:nth-child(9){
    background:#f3845e; 
}*/
.cat_subMenu{
    margin:0px;
    display: none;
    padding:0px;
    border-top:solid 1px #999999;
}
.cat_subMenu li{
    list-style:none;
    padding:10px 10px; 
    font-size:14px;
    box-shadow: none !important;  
    background:#615754 !important;
    color:#fff;
    border:none;
}
.cat_subMenu li span{
     color:#fff !important;
     font-size:14px;
}
.cat_subMenu li a:hover{
     color:#fff;
}
/* The sticky right menu */
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1036;
    top: 0;
    right: 0;
    background-color: #615754;
    overflow-x: hidden; 
    padding-top: 60px;
    border-left: 1px solid #E6E6E8;
    box-shadow: rgb(153, 153, 153) 5px 0px 5px inset;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main_nav {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#carouselExampleSlidesOnly{

}
.imgGradiant{
    background: linear-gradient( rgba(0,0,0, .6), rgba(0,0,0, .6) ) !important;
    border:solid 1px red !important;
}
.w-15{
    width:15%;
}
.w-20{
    width:20%;
}
input[formControlName="delivery"]{
    display: none;
}
input[formControlName="delivery"] ~ label{
    cursor: pointer;
}
#twobusinessdayshipping:checked ~ label[for="twobusinessdayshipping"],
#onebusinessdayshipping:checked ~ label[for="onebusinessdayshipping"],
#fivetoeightbusinessdays:checked ~ label[for="fivetoeightbusinessdays"],
#threetofivebusinessdays:checked ~ label[for="threetofivebusinessdays"]{
    background: #fff;
    border:solid 1px #e06263
}
.currencySymbol{
    position: absolute;
    background: #dadada;
    color: #545454;
    padding: 0px 10px;
    line-height: 34px;
    border-radius: 4px 0px 0px 4px;
    left: 1px;
    top: 1px;
    z-index: 1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.header{ 
    border-top:solid 5px #e06263;
    z-index:1;
    position:relative;
 }
 .header.bgimage{
     background:url(/consumer-app/assets/images/slide_1.jpg); 
     background-size:cover; 
     background-position:center;
     height:100%; 
     position:relative;
 }
 .header.bgimage::before {
    content: "";
    background: #000;
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}
 ul.hdr_menuTop {
     margin:0px;
     padding:0px;
 }
 ul.hdr_menuTop li{
     list-style:none;
     display:inline-block;
     padding:10px 20px; 
     color:#fff;
 }
 ul.hdr_menuTop li:nth-child(1){ 
     border-right:solid 1px #999999;
     padding-right:20px;
     display:inline-block;
     width:55%;
 }
 ul.hdr_menuTop li:nth-child(2){ 
     vertical-align:top;
     margin-top:4px;
     display:inline-block;
 }
 ul.hdr_menuTop li:nth-child(2) h4{
      padding-top:6px;
 }
 .hdr_menuTop h4{
     font-size:13px;
     text-transform:uppercase;
     border:0px;
     padding:0px;
     padding-left:30px;
     text-align:left;
 }
 .hdr_menuTop h5{
     font-size:11px; 
     border:0px;
     padding:0px;
     text-align:left;
     padding-left:30px;
     margin-bottom:0px;
 }
 .hdr_menuTop h5 a{
     color:#fff;
     text-decoration:underline;
 }
 .hdr_menuTop .dropdown-toggle{
     font-size:14px;
     padding:0px 6px 0px;
 } 
 .anc_Cart{
     position:relative;
 }
 a.anc_Cart{
     color:#fff; 
 }
 .anc_Cart .cartNotify{
     background: #e06263;
     color: #fff;
     padding: 3px 5px;
     border-bottom-right-radius: 10px;
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     font-size: 10px;
     position: absolute;
     top: 9px;
     right: 40px;
 }
 .anc_Cart h4{
     padding-left:30px ;
 }
 .banner_content{ 
     text-align:center;
     margin:12% 0px 15%;
 }
 .banner_content h1{
     color:#e06263;
     font-size:50px;
     font-family:open_sanslight;
     padding:20px 0px;
 }
 .banner_content h4{
     color:#ffffff;
     font-size:25px;
     font-family:open_sanslight;
     padding-bottom:20px;
 }
 .banner_action{ 
     width:400px;
     margin:0px auto;
     border-radius:30px;
     position:relative;
     background: white;
     border: 15px solid rgba(0, 0, 0, 0.1);
     -moz-background-clip: border;     /* Firefox 3.6 */
       -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
       background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
                 
       -moz-background-clip: padding;     /* Firefox 3.6 */
       -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
       background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
                 
       -moz-background-clip: content;     /* Firefox 3.6 */
       -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
       background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
 }
 .banner_action .form-control{
     border-radius:20px; 
     border:none !important;
 }
 .banner_action .btn-red{
     background: #e06263;
     color: #fff;
     position: absolute;
     top: -2px;
     right: -4px;
     border-radius: 20px;
     padding: 11px 20px;
 }
 .hdr_footer{ 
    position: absolute;
    bottom: 0;
    left: 0px;
    display: block;
    width: 100%;
    text-align: center;
 }
 .hdr_footer span{  
     display:block;
     width:100%;
     text-align:center;
     color:#fff;
     margin:10px 0px;
 }
 .banner_title h1{
     color:#e06263;
     font-size:50px;
     font-family:open_sanslight;
     padding:7% 0px 2%;
     text-align:center;
 }
 .banner_title h4{
     color:#999999;
     font-size:25px;
     font-family:open_sanslight;
     padding:0px 0px 4%;
     text-align:center;
 }
 .banner_title img{
     background-size:cover; 
     background-position:center;
     height:100%; 
     position:relative;
 }
 .banner_title_gray h1{
     color:#eeecec;
     font-size:50px;
     font-family:open_sanslight;
     padding:7% 0px 2%;
     text-align:center;
 }
 .banner_title_gray h4{
     color:#999999;
     font-size:25px;
     font-family:open_sanslight;
     padding:0px 0px 4%;
     text-align:center;
 }
 .banner_title_gray img{
     background-size:cover; 
     background-position:center;
     height:100%; 
     position:relative;
 }
 .color_step_h1{
     color:#eeecec !important;
 }
 .color_step_h5{
     color:#746965 !important;
 }
 #homeWorks{
     background:#746965;
     color:#fff;
 }
 #homeRequest{
     background:#fff;
 }
 #homeCreate{
     background:#f7f7f7;
 }
 #homeBuy, #homequestions, #homegarden{
     background:#fff;
 }
 #homeFAQ{
     background:#e06263;
     padding:30px 0px;
 }
 .banner_steps h1{
     font-size:100px;
     font-family:open_sanslight;
     color:#8f8683;
     text-align:left;
     margin:0px;
     padding:0px;
 }
 .banner_steps h5{
     font-size:20px; 
     position:relative;
     top:-35px;
     color:#ffffff;
     text-align:left;
     font-weight:bold;
     left:10px;
     margin:0px;
     padding:0px;
 }
 .banner_steps p{
     padding-right:10em;
     font-size:16px;
 }
 #homeFAQ .card-header,  #homeFAQ .card { 
     background-color: transparent !important; 
     color:#fff !important;
     border-bottom: 0px solid rgba(0, 0, 0, 0.125) !important;
     border: 0px solid rgba(0, 0, 0, 0.125) !important;
 }
 #homeFAQ .card h5 a{
     font-size:20px;
     font-weight:bold;
     color:#fff;
 }
 #homeFAQ .card-block{
     border-bottom:solid 1px #f3f3f4;
 }
 .btn_more{
     border:solid 1px #bdbfc0;
     text-transform:uppercase;
     border-radius:20px;
     padding:10px 40px;
     color:#bdbfc0;
 }
 .btn_more_gray{
     border:solid 1px #f3f3f4;
     text-transform:uppercase;
     border-radius:20px;
     padding:10px 40px;
     color:#f3f3f4;
 }
 .btn_default{ 
     text-transform:uppercase;
     background:#e06263;
     border-radius:20px;
     padding:10px 40px;
     color:#fff;
 }
 footer .footer_link a{
     color:#999999;
     font-size:14px;
 }
 footer .footer_link li{
     list-style:none;
     display:inline-block;
     padding:0px 3px;
 }
 footer .footer_link li:nth-child(4) i{ 
     padding:0px 20px;
     font-size:20px !important;
 }
 footer .footer_link li:nth-child(5) i{ 
     padding-right:20px;
     font-size:20px !important;
 }
 footer{
     border-bottom:solid 5px #999999;
     background:#fff; 
 }
 .centerArrow{ 
     padding: 11px 21px;
     border-radius: 40px;
     background: #fff;
     color: #e06263 !important;
     width: 56px;
     margin: 0px auto;
     font-size: 20px;
     position:relative;
     top:-74px;
 }
 .topArrow{
     padding: 6px 15px 7px 15px;
     border-radius: 40px;
     background: #e06263;
     color: #fff;
     width: 42px;
     margin: 0px auto;
     font-size: 20px;
     position: fixed;
     bottom: 10px;
     right: 8px;
 }
 .header_Scroll {
     background:rgba(0, 0, 0, 0.5); 
 }
 .topArrow{
     display:none;
 }
 .topArrow.active{
     display:block;
 }
 .hdr_footer .carousel-inner { 
     width: 1000px; 
     margin: 0px auto;
     background:url(/consumer-app/assets/images/carosel_bg.png) no-repeat top center;
 }
 .hdr_footer ul{
     margin:0px;
     padding:0px;  
     width: 1000px;
 }
 .hdr_footer ul li{ 
    display: inline-block;
    padding: 0;
    font-weight: bold;
    width: 20%;
    margin: 20px 0px 0px;
 }
 .hdr_footer ul li:nth-child(n+6){
    margin: 0px 0px 20px !important;  
 }
 .overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   border-radius: 2px;
   cursor: pointer;
   left: -16px;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color:  rgba(220, 32, 32, 0.80); 
 }
 .banner_title .imgHover:hover .overlay {
   opacity: 0.9;
 }
 .explore{
     position: absolute;
     top: 35%; 
     text-align:center;  
     opacity:1;
 }
 .explore p{
     color:#fff;
     font-weight:bold;
     text-transform:uppercase;
 }
 .header_sub .cartNotify{
     right:34px;
 }
 
 
 @media screen and (min-height: 320px) and (max-height: 600px) {
   ul.hdr_menuTop li:nth-child(1){
       width: auto;
   }
   .banner_action{
       width:300px;
   }
   .hdr_footer li img{
       width:16px;
   }
   .hdr_footer li span{
       font-size:10px;
   }
   .banner_content h1{
       font-size:30px;
   }
   .banner_content h4{
       font-size:18px;
   }
   
 }
 /* Home Products Large devices (desktops, 768px and up) */
 @media (min-width: 768px) {  
  .card-columns {column-count: 4;}
}

/* Home Products Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 .card-columns {column-count: 3;}
}
 
/* Home Products Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
   .card-columns {column-count: 3;
   } 
    .card-columns .card .card-img-top{
        width:100%;
    }
}
.productsHome{
    border:none;
}
.productsHome .card-img-top{
    border-radius: 2px;
}
.nav-link{
    padding: 0px !important; 
}
.imageOverlayText{
    position: absolute;
    bottom: 18px;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px 0px 0px 20px;
    padding: 5px 15px;
}
.sidenav_right {
    height: 100%;
    width: 398px;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 10px;
    margin-top: 75px;
    border-left: 1px solid #E6E6E8;
}
.sidenav_right .table td{
    padding: 1rem;
}
.sidenav_right .right {
    background: #e06263;
    color: #fff;
    text-align: center;
}
.sidenav_right span{
    padding-left: 5px;
}
.sidenav_right a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.sidenav_right .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 36px;
    color: #999999;
}
.sidenav_right p{
    padding: 0px !important;
    margin: 0px;
    font-size: 13px;
}
.dropdown-menu {
    top: 65px !important;
    width: 401px;
    position: fixed !important;
    left: calc(100% - 400px) !important;
    height: 100%;
    border-radius: 0px;
}
.dropdown-menu .dropdown-item{
    padding: 1rem !important;
    border-top: 1px solid #eceeef !important;
    position: relative;
    cursor: pointer;
}
.dropdown-item .right{
    background-color: #E06163;
    color: #ffffff;
    text-align: center;
    width: 60px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 55px;
    height: 100%;
}
.dropdown-menu p{
    margin-bottom: 12px;
    font-size: 13px;
}