<div class="title col-sm-12">
    <h1>Admin Account</h1>
</div>
<div class="row">
    <div class="col-sm-4">
        <input type="text" placeholder="search for seller by name" class="form-control txt_Search" [(ngModel)]="retailerName" (keyup.enter)="getPage(1)" />
    </div>
    <div class="col-sm-8 text-right">
        <a class="btn btn-default" routerLink="/retailer-add" routerLinkActive="retailer-add">+ New Account</a>
    </div>
</div>
<div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
<div class="col-sm-12 p-0 pt-3 pagination_align">
    <pagination-controls id='server' class="my-pagination" (pageChange)="getPage($event)" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>

<div class="AdminAcct_Row" *ngFor="let retailer of retailers.content | paginate: { id: 'server', itemsPerPage: retailers.size, currentPage: retailers.number + 1 , totalItems: retailers.totalElements }">
    <div class="row">
        <div class="col-sm-2 pl-4 pt-3 ">
            <div class="bordershadow">
                <img *ngIf="retailer.businessLogoPath" src="{{retailer.businessLogoPath}}" class="img-fluid showDummy" alt="" />
                <i *ngIf="!retailer.businessLogoPath" class="fa fa-picture-o defaultUser py-2" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-sm-8">
            <p>
                <strong>{{retailer.businessName}}</strong>
            </p>
            <div>{{retailer.businessAddress.city}}, {{retailer.businessAddress.state}}, USA</div>
            <div>reviews:...</div>
        </div>
        <div class="col-sm-2 mt-4 pr-4">
            <p class="clearfix">
                <a class=" btn_redouter_right w-100" [routerLink]="['../retailer-edit', retailer.retailerId]">edit account</a>
            </p>
            <p class="clearfix">
                <a class=" btn_red_right w-100" (click)="deactivate(retailer)">{{retailer.status?'deactivate':'activate'}}</a>
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 text-center">
            <h5>{{retailer.retailerOtherInfo? retailer.retailerOtherInfo.totalProducts:'0'}}</h5>
            <div class="colorlightGray">products</div>
        </div>
        <div class="col-sm-3 text-center">
            <h5>{{retailer.retailerOtherInfo? retailer.retailerOtherInfo.totalTransactions:'0'}}</h5>
            <div class="colorlightGray">transactions</div>
        </div>
        <div class="col-sm-3 text-center">
            <h5>{{retailer.retailerOtherInfo? retailer.retailerOtherInfo.totalReturns:'0'}}</h5>
            <div class="colorlightGray">returns</div>
        </div>
        <div class="col-sm-2 text-center">
            <h5>{{retailer.retailerOtherInfo? retailer.retailerOtherInfo.totalOffers:'0'}}</h5>
            <div class="colorlightGray">offers made</div>
        </div>
        <div class="col-sm-2 text-center">
            <h5>{{retailer.retailerOtherInfo? retailer.retailerOtherInfo.totalComplaints:'0'}}</h5>
            <div class="colorlightGray">complaints</div>
        </div>
    </div>
</div>