<div class="title col-sm-12">
  <h1>Admin Account</h1>
</div>
<div class="row">
    <div class="col-sm-4">
        <input type="text" placeholder="search for seller by name" class="form-control" />
    </div>
    <div class="col-sm-8 text-right">
        <a class="btn btn-default" routerLink="/retailer-add" routerLinkActive="retailer-add">+ New Account</a>
    </div>
</div>
<div class="AdminAcct_Row" *ngFor="let retailer of retailers"> 
    <div class="row">
        <div class="col-sm-2 pl-4 pt-3">
          <img src="images/business_logo.png" class="img-fluid" />
        </div>
        <div class="col-sm-8">
            <p><strong>Ada</strong></p>
            <div>New York, New York, United States</div>
            <div>reviews:</div>
        </div>
        <div class="col-sm-2 mt-4 pr-4">
            <p class="clearfix"><a class=" btn_redouter_right w-100" routerLink="/retailer-edit" routerLinkActive="retailer-edit">edit account</a></p>
            <p class="clearfix"><a class=" btn_red_right w-100" (click)="deactivate()">deactive</a></p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 text-center">
            <h5>4,564</h5>
            <div class="colorlightGray">Products</div>
        </div>
        <div class="col-sm-3 text-center">
            <h5>564</h5>
            <div class="colorlightGray">transactions</div>
        </div>
        <div class="col-sm-3 text-center">
            <h5>7</h5>
            <div class="colorlightGray">returns</div>
        </div>
        <div class="col-sm-2 text-center">
            <h5>1,564</h5>
            <div class="colorlightGray">offers made</div>
        </div>
        <div class="col-sm-2 text-center">
            <h5>4</h5>
            <div class="colorlightGray">complaints</div>
        </div>
    </div>
</div>