<div class="container">
  <app-sub-menus></app-sub-menus>
  <div style="height:135px;width:100%;"></div>

  <div class="container" id="main">
    <div id="content">
      <div class="myaccount row">
        <div class="col-sm-6">
          <div class="myaccount_row">
            <!--Profile Image-->
            <div class="row" style="position:relative">
              <div class="col-sm-4 colorlightGray p-2">profile image</div>
              <div class="col-sm-5 text-right p-2">
                <img [src]="myAccountModel.profileInfo.consumerImagePath" class="userIcon" />
                <input (change)="fileChangeEvent($event)" type="file" class="form-control uploadImage" />
              </div>
              <img src="/consumer-app/assets/images/loader.gif" class="absoluteImg_2 absoluteImg_myAc" *ngIf="loader_profileImage" />
              <button class="col-sm-3 text-right p-2 colorred txtasbutton cursor" (click)="appendInput($event, 'profileImage')">change</button>
            </div>
            <!--Profile Image-->

            <!--Name-->
            <div class="row">
              <div class="col-sm-4 colorlightGray p-2">name</div>
              <div class="col-sm-5 text-right p-2">{{myAccountModel.profileInfo.firstName}} {{myAccountModel.profileInfo.lastName}}</div>
              <div class="col-sm-3 text-right p-2"></div>
            </div>
            <!--Name-->

            <!--Email Address-->
            <div class="row" style="position:relative">
              <div class="col-sm-2 colorlightGray p-2">email</div>
              <div class="col-sm-7 text-right p-2">
                <span #emailElement *ngIf="!input_Email">{{myAccountModel.userData.emailId}}</span>
                <input *ngIf="input_Email" (keyup)="emailValidator()" [(ngModel)]="append_Email" type="email" class="txtnml width100 appendedInput" placeholder="Email">
                <p *ngIf="emptyEmailAddress" class="clearfix colorlightGray pt-0 mb-0" style="font-size: 13px; color: #e06263">Please enter your email address</p>
                <p *ngIf="invalidEmailAddress" class="clearfix colorlightGray pt-0 mb-0" style="font-size: 13px; color: #e06263">Please enter your valid email address</p>
              </div>
              <img src="/consumer-app/assets/images/loader.gif" class="absoluteImg_2 absoluteImg_myAc" *ngIf="loader_emailImage" />
              <button [disabled]="emptyEmailAddress || invalidEmailAddress" class="col-sm-3 text-right p-2 colorred txtasbutton cursor" (click)="appendInput($event, 'email')">change</button>
            </div>
            <!--Email Address-->

            <!--Password-->
            <div class="row" style="position:relative">
              <div class="col-sm-2 colorlightGray p-2">password</div>
              <div class="col-sm-7 text-right p-2">
                <span #passwordElement *ngIf="!input_Password">{{myAccountModel.userData.password}}</span>
                <input *ngIf="input_Password" (keyup)="passwordValidator()" [(ngModel)]="append_Password" type="password" class="txtnml width100 appendedInput" placeholder="Old Password">
                <input *ngIf="input_Password" (keyup)="passwordValidator()" [(ngModel)]="append_NewPassword" type="password" class="txtnml width100 appendedInput" placeholder="New Password">
                <input *ngIf="input_Password" (keyup)="passwordValidator()" [(ngModel)]="append_ConfirmPassword" type="password" class="txtnml width100 appendedInput" placeholder="Confirm Password">
                <p *ngIf="emptyOldPassword" class="clearfix colorlightGray mb-0" style="font-size: 13px; color: #e06263">Please enter old password</p>
                <p *ngIf="emptyNewPassword" class="clearfix colorlightGray mb-0" style="font-size: 13px; color: #e06263">Please enter new password</p>
                <p *ngIf="emptyConfirmPassword" class="clearfix colorlightGray mb-0" style="font-size: 13px; color: #e06263">Please confirm new password</p>
                <p *ngIf="invalidPassword" class="clearfix colorlightGray mb-0" style="font-size: 13px; color: #e06263">Password length must be at least 8 characters: 1 Uppercase Character, 1 Lowercase Character, 1 Number and 1 Special Character</p>
                <p *ngIf="oldNewPassword" class="clearfix colorlightGray mb-0" style="font-size: 13px; color: #e06263">Old password and New password cannot be same</p>
                <p *ngIf="newConfirmPassword" class="clearfix colorlightGray mb-0" style="font-size: 13px; color: #e06263">New password and confirm password doesn't match</p>
              </div>
              <img src="/consumer-app/assets/images/loader.gif" class="absoluteImg_2 absoluteImg_myAc" *ngIf="loader_password" />
              <button [disabled]="emptyOldPassword || emptyNewPassword || emptyConfirmPassword || invalidPassword || oldNewPassword || newConfirmPassword" class="col-sm-3 text-right p-2 colorred txtasbutton cursor" (click)="appendInput($event, 'password')">change</button>
            </div>
            <!--Password-->
          </div>

          <div class="myaccount_row">
            <!--Gender-->
            <div class="row">
              <div class="col-sm-4 p-2 colorlightGray">gender</div>
              <div class="col-sm-5 p-2 text-right">{{myAccountModel.profileInfo.gender}}</div>
              <div class="col-sm-3 p-2 text-right"></div>
            </div>
            <!--Gender-->

            <!--Location-->
            <div class="row" style="position:relative">
              <div class="col-sm-2 p-2 colorlightGray">location</div>
              <div class="col-sm-7 p-2 text-right">
                <span #locationElement *ngIf="!input_Location">
                  <span *ngFor="let address of myAccountModel.profileInfo.address">
                    <span *ngIf="address.addressType == 'profileAddress'">
                      {{address.city}}, {{address.state}}, {{address.zipcode}}
                    </span>
                  </span>
                </span>
                <input *ngIf="input_Location" (keyup)="_keuyp($event)" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="append_Location" type="number" class="txtnml width100 appendedInput" placeholder="zipcode">
                <img src="/consumer-app/assets/images/loader.gif" class="absoluteImg_2 absoluteImg_3" *ngIf="loader" />
                <p *ngIf="input_getLocation" class="clearfix colorlightGray pt-0 mb-0">{{fetchGeoCode}}</p>
              </div>
              <img src="/consumer-app/assets/images/loader.gif" class="absoluteImg_2 absoluteImg_myAc" *ngIf="loader_profileAddress" />
              <button [disabled]="input_Location && !input_getLocation" class="col-sm-3 text-right p-2 colorred txtasbutton cursor" (click)="appendInput($event, 'location')">change</button>
            </div>
            <!--Location-->

            <!--Date Of Birth-->
            <div class="row" style="position:relative">
              <div class="col-sm-4 p-2 colorlightGray">date of birth</div>
              <div class="col-sm-5 p-2 text-right">
                <span #dobElement *ngIf="!input_dob">{{myAccountModel.profileInfo.birthMonth}}/{{myAccountModel.profileInfo.birthDate}}/{{myAccountModel.profileInfo.birthYear}}</span>
                <input *ngIf="input_dob" [(ngModel)]="append_dob" (focus)="d.open()" [minDate]="minDate" [maxDate]="maxDate" ngbDatepicker #d="ngbDatepicker" class="txtnml width100 appendedInput" placeholder="mm-dd-yyyy">
              </div>
              <img src="/consumer-app/assets/images/loader.gif" class="absoluteImg_2 absoluteImg_myAc" *ngIf="loader_DOB" />
              <button class="col-sm-3 text-right p-2 colorred txtasbutton cursor" (click)="appendInput($event, 'dob'); selectSelected($event)">change</button>
            </div>
            <!--Date Of Birth-->

            <!--Style Preferences-->
            <div class="row" style="position:relative">
              <div class="col-sm-6 p-2 colorlightGray">
                <p class="colorlightGray">style perferences</p>
              </div>
              <img src="/consumer-app/assets/images/loader.gif" class="absoluteImg_2 absoluteImg_myAc" *ngIf="loader_Interest" />
              <button class="col-sm-6 text-right p-2 colorred txtasbutton cursor changeInterestBtn" (click)="appendInput($event, 'interest')">change</button>
              <div class="col-sm-12 p-2 text-right interestImagesMyAc" *ngFor="let interest of myAccountModel.profileInfo.consumerInterests">
                <img (click)="selectInterest($event, interest)" style="cursor: pointer" src="{{interest.consumerInterestImagePath}}" title="{{interest.consumerInterestImageName}}" id="{{interest.id}}" />
                <img class="aboluteImg" src="/consumer-app/assets/images/select.png" *ngIf="interest.selectImg" />
              </div>
            </div>
            <!--Style Preferences-->
          </div>
        </div>

        <div class="col-sm-6">
          <div class="myaccount_row">
            <p class="colorlightGray">shipping addresses</p>
            <!--Shipping Address-->
            <div class="row">
              <button (click)="addNewAddress($event)" class="col-sm-4 p-2 txtasbutton colorred cursor" style="padding-top: 0 !important">add</button>

              <div class="col-sm-8 p-0">
                <!--Add Address Form-->
                <div *ngIf="addShippingAddress" class="col-sm-10 p-0">
                  <input [(ngModel)]="append_addAddressLine1" type="text" class="txtnml width100 appendedInput" placeholder="Address Line 1">
                  <input [(ngModel)]="append_addAddressLine2" type="text" class="txtnml width100 appendedInput" placeholder="Address Line 2">
                  <input [(ngModel)]="append_addShippingCity" type="text" class="txtnml width100 appendedInput" placeholder="City">
                  <select [(ngModel)]="append_addShippingState" class="txtnml width100 appendedInput">
                    <option value selected disabled>Select a state</option>
                    <option *ngFor="let state of getStates" value="{{state}}">{{state}}</option>
                  </select>
                  <input onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="append_addShippingZipcode" type="number" class="txtnml width100 appendedInput" placeholder="Zipcode">
                </div>
                <button [disabled]="addShippingAddress && (!append_addAddressLine1 || !append_addAddressLine2 || !append_addShippingCity || !append_addShippingState || !append_addShippingZipcode)" *ngIf="addShippingAddress" (click)="saveNewAddress($event)" class="col-sm-2 p-2 mb-2 text-right txtasbutton colorred" style="padding-top: 0 !important; cursor: pointer; padding-left: 0px !important">done</button>
                <!--Add Address Form-->

                <!--Edit Address-->
                <div *ngIf="!addShippingAddress" class="col-sm-12 row text-right">
                  <div class="w-100" *ngFor="let shippingAddress of myAccountModel.profileInfo.address">
                    <div class="mb-3 row" *ngIf="shippingAddress.addressType == 'shippingAddress'">
                      <div class="col-sm-9 text-right p-2" style="padding-top: 0 !important">
                        <span *ngIf="!shippingAddress.input_shippingAddress">{{shippingAddress.addressLineOne}}</span>
                        <br />
                        <span *ngIf="!shippingAddress.input_shippingAddress">{{shippingAddress.addressLineTwo}}</span>
                        <br />
                        <span *ngIf="!shippingAddress.input_shippingAddress">{{shippingAddress.city}},</span>
                        <span *ngIf="!shippingAddress.input_shippingAddress">{{shippingAddress.state}},</span>
                        <span *ngIf="!shippingAddress.input_shippingAddress">{{shippingAddress.zipcode}}</span>

                        <input style="position: relative; top: -37px;" *ngIf="shippingAddress.input_shippingAddress" type="text" [(ngModel)]="shippingAddress.append_editAddressLine1" class="txtnml width100 appendedInput" placeholder="Address Line 1">
                        <input style="position: relative; top: -37px;" *ngIf="shippingAddress.input_shippingAddress" type="text" [(ngModel)]="shippingAddress.append_editAddressLine2" class="txtnml width100 appendedInput" placeholder="Address Line 2">
                        <input style="position: relative; top: -37px;" *ngIf="shippingAddress.input_shippingAddress" type="text" [(ngModel)]="shippingAddress.append_editShippingCity" class="txtnml width100 appendedInput" placeholder="City">
                        <select style="position: relative; top: -37px;" *ngIf="shippingAddress.input_shippingAddress" [(ngModel)]="shippingAddress.append_editShippingState" class="txtnml width100 appendedInput">
                          <option value selected disabled>Select a state</option>
                          <option *ngFor="let state of getStates" value="{{state}}" selected="shippingAddress.append_editShippingState == state">{{state}}</option>
                        </select>
                        <input style="position: relative; top: -37px;" *ngIf="shippingAddress.input_shippingAddress" type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="shippingAddress.append_editShippingZipcode" class="txtnml width100 appendedInput" placeholder="Zipcode">
                      </div>

                      <button [disabled]="shippingAddress.input_shippingAddress && (!shippingAddress.append_editAddressLine1 || !shippingAddress.append_editAddressLine2 || !shippingAddress.append_editShippingCity || !shippingAddress.append_editShippingState || !shippingAddress.append_editShippingZipcode)" class="col-sm-3 text-right p-2 colorred txtasbutton cursor" style="padding-top: 0 !important; cursor: pointer" (click)="appendInput($event, 'shippingAddress', shippingAddress)">change</button>
                    </div>
                  </div>
                </div>
                <!--Edit Address-->
              </div>
            </div>
            <!--Shipping Address-->

            <!--Add New Cards-->
            <div class="row">
              <div class="col-sm-12 p-3 colorlightGray">
                <p class="colorlightGray mb-0">payment information</p>
              </div>
              <div class="col-sm-10 pt-0 pl-3 pr-3">
                <!--Add New Cards Form-->
                <div class="row" [hidden]="!addCard">
                  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout pl-1 pr-0 pb-0 pt-0 mt-0 mb-4">
                    <div class="form-row position-relative">
                      <div id="card-info" #cardInfo class="mt-0"></div>
                      <div id="card-number" #cardNumber class="field empty"></div>
                      <div style="top: 10px; right: 8px; position: absolute">
                        <span class="brand">
                          <i class="pf pf-credit-card" id="brand-icon"></i>
                        </span>
                      </div>
                      <div id="card-expiry" #cardExpiry class="field empty third-width"></div>
                      <div id="card-cvc" #cardCvc class="field empty third-width"></div>
                      <div id="card-zip" #cardZip class="field empty third-width"></div>
                      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
                    </div>
                    <button type="submit" class="btn btn_red_right">add card</button>
                    <button type="button" (click)="resetAddCard()" class="btn-outer btn_redouter_right btn-outer-margin">cancel</button>
                    <img src="/consumer-app/assets/images/loader.gif" style="margin-left: 7px; margin-top: 7px" *ngIf="loader_addCard" />
                    <hr class="mb-0" />
                  </form>
                </div>
                <!--Add New Cards Form-->
              </div>
              <button class="col-sm-2 text-right p-2 colorred txtasbutton cursor" (click)="addNewCard()">add</button>
            </div>
            <!--Add New Cards-->

            <!--Listing All The Cards-->
            <div class="row">
              <div class="col-sm-12 pt-0 pl-3 pr-3">
                <div class="categ_outline_gray mr-2 mb-2" style="cursor:pointer" *ngFor="let card of getCardsDetails">
                  {{card.cardType}} {{card.last4Digit}}
                  <span (click)="deleteCard(card)" class="ml-2">
                    <i title="delete card" class="fa fa-times" aria-hidden="true"></i>
                  </span>
                </div>
                <img src="/consumer-app/assets/images/loader.gif" *ngIf="loader_Card" class="ml-2" />
              </div>
            </div>
            <!--Listing All The Cards-->
          </div>

          <div class="myaccount_row">
            <p class="colorlightGray">settings and privacy</p>
            <div class="row pl-2">
              <div class="col-sm-6 p-2 text-left colorred" position-relative>email notifications
                <i class="fa fa-question-circle helpIcon" aria-hidden="true"></i>
                <span class="tooltipText">Turning off email notifications means you won’t receive order confirmations, shipping notifications, product review alerts, or other news from Kala. You will still receive emails for password resets, verifying your account info, and other critical alerts.</span>
              </div>
              <div class="col-sm-6 p-2 text-right">
                <span class="switch primary-switch float-right">
                  <label>
                    <input type="checkbox" [checked]="!getUserInfo.emailNotification" (change)="turnOnOffNotifications($event, 'email')">
                    <span class="lever"></span>
                  </label>
                </span>
              </div>
            </div>
            <div class="row pl-2">
              <div class="col-sm-6 p-2 text-left colorred" position-relative>alerts notifications
                <i class="fa fa-question-circle helpIcon" aria-hidden="true"></i>
                <span class="tooltipText">Turning off alert notifications means you won’t receive news and alert notifications in your account portal or on your mobile device for new orders, offer requests, shipping notifications, product reviews, or other news from Kala.</span>
              </div>
              <div class="col-sm-6 p-2 text-right">
                <span class="switch primary-switch float-right">
                  <label>
                    <input type="checkbox" [checked]="!getUserInfo.alertNotification" (change)="turnOnOffNotifications($event, 'alert')">
                    <span class="lever"></span>
                  </label>
                </span>
              </div>
            </div>
            <div class="row pl-2">
              <div class="col-sm-6 p-2 text-left colorred" (click)="core.openModal(content)" style="cursor: pointer">close your account</div>
              <div class="col-sm-6 p-2 text-right"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Close Account-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Close Account</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>We're sorry to see you leave. Are you sure that you want to close your account?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outer btn_red_right" (click)="c('Close click'); closeAccount()">Yes</button>
    <button type="button" class="btn btn-outer btn_redouter_right" (click)="c('Close click')">No</button>
  </div>
</ng-template>
<!--Close Account-->