<div class="container">
  <app-sub-menus></app-sub-menus>
  <div style="height:135px;width:100%;"></div>

  <div class="container" id="main">
    <div id="content">
      <div class="myaccount row">
        <div class="col-sm-6">
          <div class="myaccount_row">
            <!--Profile Image-->
            <div class="row">
              <div class="col-sm-4 colorlightGray p-2">profile image</div>
              <div class="col-sm-5 text-right p-2">
                <img [src]="myAccountModel.profileInfo.consumerImagePath" class="userIcon" />
                <input (change)="fileChangeEvent($event)" type="file" class="form-control uploadImage" />
              </div>
              <button class="col-sm-3 text-right p-2 colorred txtasbutton cursor" (click)="appendInput($event, 'profileImage')">change</button>
            </div>
            <!--Profile Image-->

            <!--Name-->
            <div class="row">
              <div class="col-sm-4 colorlightGray p-2">name</div>
              <div class="col-sm-5 text-right p-2">{{myAccountModel.profileInfo.firstName}} {{myAccountModel.profileInfo.lastName}}</div>
              <div class="col-sm-3 text-right p-2"></div>
            </div>
            <!--Name-->

            <!--Email Address-->
            <div class="row">
              <div class="col-sm-2 colorlightGray p-2">email</div>
              <div class="col-sm-7 text-right p-2">
                <span #emailElement *ngIf="!input_Email">{{myAccountModel.userData.emailId}}</span>
                <input *ngIf="input_Email" (keyup)="emailValidator()" [(ngModel)]="append_Email" type="email" class="txtnml width100 appendedInput" placeholder="Email">
                <p *ngIf="emptyEmailAddress" class="clearfix colorlightGray pt-0 mb-0" style="font-size: 13px; color: #e06263">Please enter your email address</p>
                <p *ngIf="invalidEmailAddress" class="clearfix colorlightGray pt-0 mb-0" style="font-size: 13px; color: #e06263">Please enter your valid email address</p>
              </div>
              <button class="col-sm-3 text-right p-2 colorred txtasbutton cursor" (click)="appendInput($event, 'email')">change</button>
            </div>
            <!--Email Address-->

            <!--Password-->
            <div class="row">
              <div class="col-sm-2 colorlightGray p-2">password</div>
              <div class="col-sm-7 text-right p-2">
                <span #passwordElement *ngIf="!input_Password">{{myAccountModel.userData.password}}</span>
                <input *ngIf="input_Password" (keyup)="passwordValidator()" [(ngModel)]="append_Password" type="password" class="txtnml width100 appendedInput" placeholder="Old Password">
                <input *ngIf="input_Password" (keyup)="passwordValidator()" [(ngModel)]="append_NewPassword" type="password" class="txtnml width100 appendedInput" placeholder="New Password">
                <input *ngIf="input_Password" (keyup)="passwordValidator()" [(ngModel)]="append_ConfirmPassword" type="password" class="txtnml width100 appendedInput" placeholder="Confirm Password">
                <p *ngIf="emptyOldPassword" class="clearfix colorlightGray mb-0" style="font-size: 13px; color: #e06263">Please enter old password</p>
                <p *ngIf="emptyNewPassword" class="clearfix colorlightGray mb-0" style="font-size: 13px; color: #e06263">Please enter new password</p>
                <p *ngIf="emptyConfirmPassword" class="clearfix colorlightGray mb-0" style="font-size: 13px; color: #e06263">Please confirm new password</p>
                <p *ngIf="invalidPassword" class="clearfix colorlightGray mb-0" style="font-size: 13px; color: #e06263">Password length must be at least 8 characters: 1 Uppercase Character, 1 Lowercase Character, 1 Number and 1 Special Character</p>
                <p *ngIf="oldNewPassword" class="clearfix colorlightGray mb-0" style="font-size: 13px; color: #e06263">Old password and New password cannot be same</p>
                <p *ngIf="newConfirmPassword" class="clearfix colorlightGray mb-0" style="font-size: 13px; color: #e06263">New password and confirm password doesn't match</p>
              </div>
              <button class="col-sm-3 text-right p-2 colorred txtasbutton cursor" (click)="appendInput($event, 'password')">change</button>
            </div>
            <!--Password-->
          </div>

          <div class="myaccount_row">
            <!--Gender-->
            <div class="row">
              <div class="col-sm-4 p-2 colorlightGray">gender</div>
              <div class="col-sm-5 p-2 text-right">{{myAccountModel.profileInfo.gender}}</div>
              <div class="col-sm-3 p-2 text-right"></div>
            </div>
            <!--Gender-->

            <!--Location-->
            <div class="row">
              <div class="col-sm-2 p-2 colorlightGray">location</div>
              <div class="col-sm-7 p-2 text-right">
                <span #locationElement *ngIf="!input_Location">
                  <span *ngFor="let address of myAccountModel.profileInfo.address">
                    <span *ngIf="address.addressType == 'profileAddress'">
                      {{address.city}}, {{address.state}}, {{address.zipcode}}
                    </span>
                  </span>
                </span>
                <input *ngIf="input_Location" (keyup)="_keuyp($event)" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="append_Location" type="number" class="txtnml width100 appendedInput" placeholder="zipcode">
                <img src="/consumer-app/assets/images/loader.gif" class="absoluteImg_2 absoluteImg_3" *ngIf="loader" />
                <p *ngIf="input_getLocation" class="clearfix colorlightGray pt-0 mb-0">{{fetchGeoCode}}</p>
              </div>
              <button class="col-sm-3 text-right p-2 colorred txtasbutton cursor" (click)="appendInput($event, 'location')">change</button>
            </div>
            <!--Location-->

            <!--Date Of Birth-->
            <div class="row">
              <div class="col-sm-4 p-2 colorlightGray">date of birth</div>
              <div class="col-sm-5 p-2 text-right">
                <span #dobElement *ngIf="!input_dob">{{myAccountModel.profileInfo.birthMonth}}/{{myAccountModel.profileInfo.birthDate}}/{{myAccountModel.profileInfo.birthYear}}</span>
                <input *ngIf="input_dob" [(ngModel)]="append_dob" (focus)="d.open()" [minDate]="minDate" [maxDate]="maxDate" ngbDatepicker #d="ngbDatepicker" class="txtnml width100 appendedInput" placeholder="mm-dd-yyyy">
              </div>
              <button class="col-sm-3 text-right p-2 colorred txtasbutton cursor" (click)="appendInput($event, 'dob'); selectSelected($event)">change</button>
            </div>
            <!--Date Of Birth-->

            <!--Style Preferences-->
            <div class="row">
              <div class="col-sm-6 p-2 colorlightGray">
                <p class="colorlightGray">style perferences</p>
              </div>
              <button class="col-sm-6 text-right p-2 colorred txtasbutton cursor" (click)="appendInput($event, 'interest')">change</button>
              <div class="col-sm-12 p-2 text-right interestImagesMyAc" *ngFor="let interest of myAccountModel.profileInfo.consumerInterests">
                <img (click)="selectInterest($event, interest)" style="cursor: pointer" src="{{interest.consumerInterestImagePath}}" title="{{interest.consumerInterestImageName}}" id="{{interest.id}}" />
                <img class="aboluteImg" src="/consumer-app/assets/images/select.png" *ngIf="interest.selectImg" />
              </div>
            </div>
            <!--Style Preferences-->
          </div>
        </div>

        <div class="col-sm-6">
          <div class="myaccount_row">
            <p class="colorlightGray">shipping addresses</p>
            <!--Shipping Address-->
            <div class="row">
              <button (click)="addNewAddress($event)" class="col-sm-4 p-2 txtasbutton colorred" style="padding-top: 0 !important; cursor: pointer">add</button>

              <div class="col-sm-8 p-0">
                <!--Add Address Form-->
                <div *ngIf="addShippingAddress" class="col-sm-10 p-0">
                  <input [(ngModel)]="append_addAddressLine1" type="text" class="txtnml width100 appendedInput" placeholder="Address Line 1">
                  <input [(ngModel)]="append_addAddressLine2" type="text" class="txtnml width100 appendedInput" placeholder="Address Line 2">
                  <input [(ngModel)]="append_addShippingCity" type="text" class="txtnml width100 appendedInput" placeholder="City">
                  <input [(ngModel)]="append_addShippingState" type="text" class="txtnml width100 appendedInput" placeholder="State">
                  <input onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="append_addShippingZipcode" type="number" class="txtnml width100 appendedInput" placeholder="Zipcode">
                </div>
                <button *ngIf="addShippingAddress" (click)="saveNewAddress($event)" class="col-sm-2 p-2 mb-2 text-right txtasbutton colorred" style="padding-top: 0 !important; cursor: pointer; padding-left: 0px !important">done</button>

                <!--Add Address Form-->

                <!--Edit Address-->
                <div *ngIf="!addShippingAddress" class="col-sm-12 row text-right">
                  <div class="w-100" *ngFor="let shippingAddress of myAccountModel.profileInfo.address">
                    <div class="mb-3 row" *ngIf="shippingAddress.addressType == 'shippingAddress'">
                      <div class="col-sm-9 text-right p-2" style="padding-top: 0 !important">
                        <span *ngIf="!shippingAddress.input_shippingAddress">{{shippingAddress.addressLineOne}}</span>
                        <br />
                        <span *ngIf="!shippingAddress.input_shippingAddress">{{shippingAddress.addressLineTwo}}</span>
                        <br />
                        <span *ngIf="!shippingAddress.input_shippingAddress">{{shippingAddress.city}},</span>
                        <span *ngIf="!shippingAddress.input_shippingAddress">{{shippingAddress.state}},</span>
                        <span *ngIf="!shippingAddress.input_shippingAddress">{{shippingAddress.zipcode}}</span>

                        <input style="position: relative; top: -37px;" *ngIf="shippingAddress.input_shippingAddress" type="text" [(ngModel)]="shippingAddress.append_editAddressLine1" class="txtnml width100 appendedInput" placeholder="Address Line 1">
                        <input style="position: relative; top: -37px;" *ngIf="shippingAddress.input_shippingAddress" type="text" [(ngModel)]="shippingAddress.append_editAddressLine2" class="txtnml width100 appendedInput" placeholder="Address Line 2">
                        <input style="position: relative; top: -37px;" *ngIf="shippingAddress.input_shippingAddress" type="text" [(ngModel)]="shippingAddress.append_editShippingCity" class="txtnml width100 appendedInput" placeholder="City">
                        <input style="position: relative; top: -37px;" *ngIf="shippingAddress.input_shippingAddress" type="text" [(ngModel)]="shippingAddress.append_editShippingState" class="txtnml width100 appendedInput" placeholder="State">
                        <input style="position: relative; top: -37px;" *ngIf="shippingAddress.input_shippingAddress" type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="shippingAddress.append_editShippingZipcode" class="txtnml width100 appendedInput" placeholder="Zipcode">
                      </div>
                      <button class="col-sm-3 text-right p-2 colorred txtasbutton cursor" style="padding-top: 0 !important; cursor: pointer" (click)="appendInput($event, 'shippingAddress', shippingAddress)">change</button>
                    </div>
                  </div>
                </div>
                <!--Edit Address-->
              </div>
            </div>
            <!--Shipping Address-->

            <!--Add New Cards-->
            <div class="row">
              <div class="col-sm-12 p-2 colorlightGray">
                <p class="colorlightGray">payment information</p>
              </div>
              <div class="col-sm-9 p-2">
                <!--Add New Cards-->
                <div class="row p-2" [hidden]="!addCard">
                  <div class="col-sm-3 p-0"></div>
                  <div class="col-sm-9">
                    <div class="row">
                      <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
                        <div class="form-row">
                          <div id="card-info" #cardInfo></div>
                          <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
                        </div>
                        <button type="submit" class="btn btn_red_right">add card</button>
                        <img src="/consumer-app/assets/images/loader.gif" style="margin-left: 7px; margin-top: 7px" *ngIf="loader" />
                      </form>
                    </div>
                  </div>
                </div>
                <!--Add New Cards-->

                <div class="categ_outline_gray mr-2 mb-2" *ngFor="let card of getCardsDetails">
                  {{card.cardType}} {{card.last4Digit}}
                </div>
              </div>
              <div class="col-sm-3 text-right p-2 colorred txtasbutton cursor" (click)="addNewCard()">add</div>
            </div>
            <!--Add New Cards-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>