<div class="col-sm-12 accountInfo">
    <div class="title col-sm-12">
        <h1>
            Account Info
        </h1>
        <span class="float-right">
            <select class="ddl_default">
                <option>Download as</option>
                <option>PDF</option>
                <option>Exel</option>
                <option>Doc</option>
            </select>
        </span>
    </div>
    <div class="col-sm-12 backgroundWhite ">
        <div class="row py-3">
            <div class="col-sm-2 col-2">
                Business Logo
            </div>
            <div class="col-sm-9 col-8">
                <img src="/admin-app/assets/images/business_logo.png" class="img-fluid" width="100" />
            </div>
            <div class="col-sm-1 col-1 text-right">
                <a href="#">Edit</a>
            </div>
        </div>
        <hr />
        <div class="row py-3">
            <div class="col-sm-2 col-2">
                Business Logo
            </div>
            <div class="col-sm-9 col-8">
                Design Within Reach
            </div>
            <div class="col-sm-1 col-1 text-right">
                <a href="#">Edit</a>
            </div>
        </div>
        <hr />
        <div class="row py-3">
            <div class="col-sm-2 col-2">
                Business Summary
            </div>
            <div class="col-sm-9 col-8">
                <p>At Design Within Reach, we make authentic modern design accessible. "Within reach" means things not found elsewhere. It means in stock.</p>
                <p>
                    Authenticity is something we’re proud to offer; elitism however is not. Visit any of our Studios and
                    you’ll never see a "do not touch" sign. We invite you to linger, bring your dog or kids and join us for
                    design events. Continue the experience here, at dwr.com, where you’ll find everything we carry, plus
                    additional finishes and styles not shown in our catalogs or Studios. And, of course, you can always call
                    or Chat Live with our Connecticut-based office.
                </p>
            </div>
            <div class="col-sm-1 col-1 text-right">
                <a href="#">Edit</a>
            </div>
        </div>
        <hr />
        <div class="row py-3">
            <div class="col-sm-2 col-2">
                Business Address
            </div>
            <div class="col-sm-9 col-8">
                <div>Design Within Reach</div>
                <div>711 Canal St., 3rd floor</div>
                <div>Stamford, CT 06902</div>
            </div>
            <div class="col-sm-1 col-1 text-right">
                <a href="#">Edit</a>
            </div>
        </div>
        <hr />
        <div class="row py-3">
            <div class="col-sm-2 col-2">
                Industry Type
            </div>
            <div class="col-sm-9 col-8">
                <div class="box_outlineGray">Manufacturing <a href="#" class="categ_close">x</a></div> <div class="box_outlineGray">Home Builders <a href="#" class="categ_close">x</a></div>
            </div>
            <div class="col-sm-1 col-1 text-right">
                <a href="#">Add</a>
            </div>
        </div>
        <hr />
        <div class="row py-3">
            <div class="col-sm-2 col-2">
                Primary Account:
            </div>
            <div class="col-sm-9 col-8">
                Shelley Myers
            </div>
            <div class="col-sm-1 col-1 text-right">
                <a href="#">Edit</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-2">
                <p>Contact:</p>
            </div>
            <div class="col-sm-9 col-8">
                <p>Manager</p>
            </div>
            <div class="col-sm-1 col-1 text-right"></div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-2">
                Address:
            </div>
            <div class="col-sm-9 col-8">
                Design Within Reach 711 Canal St., 3rd floor Stamford, CT 06902
            </div>
            <div class="col-sm-1 col-1 text-right"></div>
        </div>
        <div class="row py-3">
            <div class="col-sm-2 col-2">
                Email:
            </div>
            <div class="col-sm-9 col-8">
                shelleymyers@gmail.com
            </div>
            <div class="col-sm-1 col-1 text-right"></div>
        </div>
        <div class="row py-3">
            <div class="col-sm-2 col-2">
                Phone Number:
            </div>
            <div class="col-sm-9 col-8">
                (+1)(412)614-0171
            </div>
            <div class="col-sm-1 col-1 text-right"></div>
        </div>
        <hr />
        <div class="row py-3">
            <div class="col-sm-2 col-2">
                Store Locations
            </div>
            <div class="col-sm-9 col-8">
                None
            </div>
            <div class="col-sm-1 col-1 text-right">
                <a href="#">Add</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 my-3 backgroundWhite">
        <div class="row py-3">
            <div class="col-sm-2 col-2">
                Returns and Exchange Policy
            </div>
            <div class="col-sm-9 col-8">
                We only offer product refund for damaged items. Every items will be well checked before I put it into
                the box. Feel free to contact me for further information or any enquirers before you buy it. The most
                important is to ensure you feel happy on buying from my store.
            </div>
            <div class="col-sm-1 col-1 text-right">
                <a href="#">Edit</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 my-3 backgroundWhite">
        <div class="row py-3">
            <div class="col-sm-2 col-2">
                <select class="ddl_default form-control">
                    <option>Auto</option>
                    <option>Auto1</option>
                    <option>Auto2</option>
                    <option>Auto3</option>
                </select>
            </div>
            <div class="col-sm-2 col-2">
                Bank
            </div>
            <div class="col-sm-7 col-6">
                Bank of America
            </div>
            <div class="col-sm-1 col-1 text-right">
                <a href="#">Edit</a>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-sm-2 col-2">
                <select class="ddl_default form-control">
                    <option>Strips</option>
                    <option>Strips1</option>
                    <option>Strips2</option>
                    <option>Strips3</option>
                </select>
            </div>
            <div class="col-sm-2 col-2">
                Bank Address:
            </div>
            <div class="col-sm-7 col-6">
                655 Massachusetts Ave
                Arlington, MA
            </div>
            <div class="col-sm-1 col-1 text-right"></div>
        </div>
        <div class="row py-3">
            <div class="col-sm-2 col-2 offset-2">
                Account Name:
            </div>
            <div class="col-sm-7 col-6">
                Shelley Myers
            </div>
            <div class="col-sm-1 col-1 text-right"></div>
        </div>
        <div class="row py-3">
            <div class="col-sm-2 col-2 offset-2">
                Account Number:
            </div>
            <div class="col-sm-7 col-6">
                57324686876525
            </div>
            <div class="col-sm-1 col-1 text-right"></div>
        </div>
        <div class="row py-3">
            <div class="col-sm-2 col-2 offset-2">
                ABA Routing Number:
            </div>
            <div class="col-sm-7 col-6">
                253184922
            </div>
            <div class="col-sm-1 col-1 text-right"></div>
        </div>
        <div class="row py-3">
            <div class="col-sm-2 col-2 offset-2">
                SWIFT Code:
            </div>
            <div class="col-sm-7 col-6">
                BANKBOA
            </div>
            <div class="col-sm-1 col-1 text-right"></div>
        </div>
        <div class="row py-3">
            <div class="col-sm-2 col-2 offset-2">
                Retailer Address:
            </div>
            <div class="col-sm-7 col-6">
                Design Within Reach
                711 Canal St., 3rd floor
                Stamford, CT 06902
            </div>
            <div class="col-sm-1 col-1 text-right"></div>
        </div>
    </div>
</div>