<div class="col-sm-12 p-0">
    Notifications
</div>
<div class="row p-2">
    <div class="col-sm-4"> 
        <label class="control-label required" ng-reflect-klass="control-label" ng-reflect-ng-class="[object Object]">Order email:</label>
    </div>
    <div class="col-sm-8">
        <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
    </div>
</div>
<div class="row p-2">
    <div class="col-sm-4"> 
        <label class="control-label required" ng-reflect-klass="control-label" ng-reflect-ng-class="[object Object]">Shipping email:</label>
    </div>
    <div class="col-sm-8">
        <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
    </div>
</div>
<div class="p-5">&nbsp;</div>
<hr />
<div class="row p-2"> 
    <div class="col-sm-12 text-right hide" ng-reflect-klass="col-sm-6 text-right" ng-reflect-ng-class="[object Object]">
        <a class="btn btn-default ancProfile1">Next</a>
    </div>
    <div class="col-sm-12 text-right show" ng-reflect-klass="col-sm-6 text-right" ng-reflect-ng-class="[object Object]">
        <a class="btn btn-default ancProfile1">Save &amp; Next</a>
    </div>
</div>
