<div>
    <div class="mb-2">States
        <small class="float-right">{{ getSelectedCount() }} / {{statesSelected.length}} </small>
    </div>

    <div class="form-group">
        <ol class="ol-3 taxlist">
            <li *ngFor="let state of statesSelected " class="m-0">
                <label>
                    <input type="checkbox" [(ngModel)]="state.value"> {{state.key}}
                </label>
            </li>
        </ol>
    </div>
    <div class="p-5">&nbsp;</div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12 text-right show">
        <button class="btn btn-default ancProfile1" [disabled]="saveLoader" (click)="saveData();">Save & Next
            <i class="fa fa-repeat fa-spin" aria-hidden="true" *ngIf="saveLoader"></i>
        </button>
    </div>
</div>