<div class="container">
  <app-sub-menus></app-sub-menus>
  <div style="height:135px;width:100%;"></div>

  <img src="/consumer-app/assets/images/loader.gif" style="margin: 0 49%" class="mt-3 mb-4" *ngIf="loader" />
  <div class="myCart">
    <!--Orders Available-->
    <div *ngIf="myorderModal.length > 0;else noOrders">
      <div *ngFor="let modal of myorderModal | reverse">
        <div class="myCart-list" *ngFor="let order of modal.orderItems">
          <h4 class="subtitle clearfix">
            Estimated delivery on: {{getDeliveryDate(order.deliveryMethod, modal.purchasedDate)}}
            <span class="float-right">Order Id: {{modal.orderId}}
              <span class="float-right" *ngIf="order.productItemStatus != undefined" [ngClass]="{'orderProcess':order.productItemStatus == 'ORDER PROCESSED' || order.productItemStatus == 'ORDER SHIPPED' || order.productItemStatus == 'ORDER PENDING', 'orderCancelled':order.productItemStatus == 'ORDER CANCELED', 'orderSuccess':order.productItemStatus == 'ORDER DELIVERED'}">{{order.productItemStatus}}</span>
            </span>
          </h4>
          <div class="row">
            <div class="col-sm-2">
              <img [src]="order.productImage" (click)="core.getProductDetails(order.productId)" class="img-fluid cursor" />
            </div>
            <div class="col-sm-7">
              <p>
                <strong (click)="core.getProductDetails(order.productId)" class="cursor">{{order.productName}}</strong>
              </p>
              <div class="row">
                <p class="col-sm-3 colorlightGray">Retailer:</p>
                <p class="col-sm-9 colorred">{{order.retailerName}}</p>
              </div>
              <div class="row">
                <p class="col-sm-3 colorlightGray">Quantity:</p>
                <p class="col-sm-9 colorred">{{order.productQuantity}}</p>
              </div>
              <div class="row">
                <p class="col-sm-3 colorlightGray">Price:</p>
                <p class="col-sm-9 colorred">{{order.productPrice | currency}}</p>
              </div>
            </div>
            <div class="col-sm-3">
              <p>&nbsp;</p>
              <div class="row">
                <button class="btn btn-outer btn_redouter_right" [disabled]="order.contactSupport" (click)="showSupportPanel(modal, order)">contact kala</button>
              </div>
              <p>&nbsp;</p>
              <div class="row">
                <button class="btn btn-outer btn_redouter_right" [disabled]="order.leaveReview" (click)="leaveReview(modal, order)">leave review</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
              <hr />
            </div>
          </div>

          <!--Support Section-->
          <div class="row position-relative suportWrapper" *ngIf="order.showCustomerSupport">
            <div class="supportMessages w-100">
              <div class="float-left w-100 mb-3" *ngFor="let message of supportMessages">
                <div [ngClass]="{'float-left ligherBack':message.from == 'Kala', 'float-right darkerBack':message.from == 'User'}">
                  <img [src]="message.mainImage" class="mr-2 chatImage" /> {{message.message}}
                </div>
              </div>
            </div>

            <div class="supportOptions" *ngIf="showSupportOptions">
              <span *ngIf="showBack" (click)="goBack(order)" style="background:#070707">back</span>
              <span *ngFor="let option of supportOptions.data" (click)="loadOptions(order, supportOptions, option)">{{option}}</span>
            </div>

            <div *ngIf="OtherOption" class="col-sm-12 text-center">
              <textarea class="form-control" [(ngModel)]="commentBox" rows="4" placeholder="please write your description here..."></textarea>
              <button class="btn btn-outer btn_red_right mt-3" [disabled]="!commentBox" (click)="submitComment(order, commentBox)">Submit</button>
              <button class="btn btn-outer btn_red_right mt-3" (click)="cancelComment(order, commentBox)">Cancel</button>
            </div>
          </div>
          <!--Support Section-->

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-7">
              <div class="row">
                <p class="col-sm-3 colorlightGray">Order placed:</p>
                <p class="col-sm-9">{{getPurchaseDate(modal.purchasedDate)}}</p>
              </div>
              <div class="row">
                <p class="col-sm-3 colorlightGray">{{order.deliveryMethod}}:</p>
                <p class="col-sm-9">{{order.shippingCost | currency}}</p>
              </div>
              <div class="row">
                <p class="col-sm-3 colorlightGray">Tax:</p>
                <p class="col-sm-9" *ngIf="order.productTaxCost != undefined;else otherContent">{{order.productTaxCost | currency}}</p>
                <ng-template #otherContent>
                  <p class="col-sm-9">$0</p>
                </ng-template>
              </div>
              <div class="row">
                <p class="col-sm-3 colorlightGray">Total:</p>
                <p class="col-sm-9">
                  <strong>{{getTotalCost(order.shippingCost, order.productPrice, order.productTaxCost) | currency}}</strong>
                </p>
              </div>
              <div class="row">
                <p class="col-sm-3 colorlightGray">Pay with:</p>
                <p class="col-sm-9">
                  <strong>{{modal.paymentSource}} {{modal.last4Digits}}</strong>
                </p>
              </div>
              <div class="row">
                <p class="col-sm-3 colorlightGray">Ship to:</p>
                <p class="col-sm-9">
                  <strong>{{modal.address.city}}, {{modal.address.state}}</strong>
                </p>
              </div>
            </div>
            <div class="col-sm-3">
              <p>&nbsp;</p>
              <div class="row">
                <button class="btn btn-outer btn_redouter_right" [disabled]="order.cancelOrder" (click)="cancelOrder(modal, order)">cancel order</button>
              </div>
              <p>&nbsp;</p>
              <div class="row">
                <button class="btn btn-outer btn_red_right" [disabled]="order.trackOrder" (click)="trackOrder(modal, order)">where is it?</button>
              </div>
            </div>
          </div>
          <div class="row">&nbsp;</div>
        </div>
      </div>
    </div>
    <!--Orders Available-->

    <!--No Orders Available-->
    <ng-template #noOrders>
      <div *ngIf="!loader" class="myCart-list text-center mt-2 colorred">
        <u routerLink="/home">You have not placed any orders yet. Click here to continue shopping.</u>
      </div>
    </ng-template>
    <!--No Orders Available-->

  </div>
</div>

<!--Cancel Order-->
<ng-template #cancelOrdersModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Cancel Order</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to cancel the order?</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outer btn_red_right" (click)="c('Close click'); confirmCancelOrder()">Yes</button>
      <button type="button" class="btn btn-outer btn_redouter_right" (click)="c('Close click')">No</button>
  </div>
</ng-template>
<!--Cancel Order-->

<!--Contact Kala-->
<ng-template #contactKalaModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Contact Kala</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Thank you for contacting Kala</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outer btn_redouter_right" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!--Contact Kala-->