<div class="container">
  <div style="height:180px;width:100%;"></div>
  <div class="myCart">
    <div class="myCart-list">
      <h4 class="subtitle">
        Estimated delivery on: Apr. 27, Next Monday
        <div class="pull-right">
          <ul class="prd_Soc_icon">
            <li>
              <img src="/consumer-app/assets/images/icon_more.png" />
            </li>
            <li>
              <img src="/consumer-app/assets/images/icon_facebook.png" />
            </li>
            <li>
              <img src="/consumer-app/assets/images/icon_twitter.png" />
            </li>
            <li>
              <img src="/consumer-app/assets/images/icon_fav.png" />
            </li>
          </ul>
        </div>
      </h4>
      <div class="row">
        <div class="col-sm-2">
          <img src="/consumer-app/assets/images/catg-1.png" class="img-fluid" />
        </div>
        <div class="col-sm-7">
          <p>
            <strong>Wood Floral Ceiling Lamp - pendant lamp - ceiling lamp</strong>
          </p>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Retailer:</p>
            <p class="col-sm-9 colorred">industlamp</p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Price:</p>
            <p class="col-sm-9 colorred">$235.00</p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Quality:</p>
            <p class="col-sm-9">1</p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Size:</p>
            <p class="col-sm-9">20cm</p>
          </div>
        </div>
        <div class="col-sm-3">
          <p>&nbsp;</p>
          <div class="row">
            <a href="#" class="btn-outer btn_redouter_right">contact retailer</a>
          </div>
          <p>&nbsp;</p>
          <div class="row">
            <a href="#" class="btn-outer btn_redouter_right">leave review</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
          <div class="row">
            <p class="col-sm-3 colorlightGray">Order placed:</p>
            <p class="col-sm-9">Apr. 20</p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">1-5 days delivery:</p>
            <p class="col-sm-9">$5.00</p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Total:</p>
            <p class="col-sm-9">
              <strong>$240.00</strong>
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Pay with:</p>
            <p class="col-sm-9">
              <strong>visa 6408</strong>
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Ship to:</p>
            <p class="col-sm-9">
              <strong>Xinyu Liu, 20 Surry Rd, Arlington, MA, 02476</strong>
            </p>
          </div>
        </div>
        <div class="col-sm-3">
          <p>&nbsp;</p>
          <div class="row">
            <a href="#" class="btn-outer btn_redouter_right">cancel order</a>
          </div>
          <p>&nbsp;</p>
          <div class="row">
            <a href="#" class="btn-outer btn_red_right">where is it?</a>
          </div>
        </div>
      </div>
      <div class="row">&nbsp;</div>
    </div>
    <div class="myCart-list">
      <h4 class="subtitle">
        Delivered on: Apr. 07
        <div class="pull-right">
          <ul class="prd_Soc_icon">
            <li>
              <img src="/consumer-app/assets/images/icon_more.png" />
            </li>
            <li>
              <img src="/consumer-app/assets/images/icon_facebook.png" />
            </li>
            <li>
              <img src="/consumer-app/assets/images/icon_twitter.png" />
            </li>
            <li>
              <img src="/consumer-app/assets/images/icon_fav.png" />
            </li>
          </ul>
        </div>
      </h4>
      <div class="row">
        <div class="col-sm-2">
          <img src="/consumer-app/assets/images/catg-1.png" class="img-fluid" />
        </div>
        <div class="col-sm-7">
          <p>
            <strong>Engraved Wooden Tools</strong>
          </p>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Retailer:</p>
            <p class="col-sm-9 colorred">Jared Rocha</p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Price:</p>
            <p class="col-sm-9 colorred">$19.00</p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Quality:</p>
            <p class="col-sm-9">1</p>
          </div>
        </div>
        <div class="col-sm-3">
          <p>&nbsp;</p>
          <p class="row">
            <a href="#" class="btn-outer btn_redouter_right">return or replace it</a>
          </p>
          <p>&nbsp;</p>
          <p class="row">
            <a href="#" class="btn-outer btn_red_right">leave review</a>
          </p>
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-sm-2">
          <img src="/consumer-app/assets/images/catg-1.png" class="img-fluid" />
        </div>
        <div class="col-sm-7">
          <p>
            <strong>Set of 9 Personalized Engraved Monogrammed Pocket Knife Groomsmen, Best Man or Usher Gifts</strong>
          </p>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Retailer:</p>
            <p class="col-sm-9 colorred">Jared Rocha</p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Price:</p>
            <p class="col-sm-9 colorred">$19.00</p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Quality:</p>
            <p class="col-sm-9">1</p>
          </div>
        </div>
        <div class="col-sm-3">
          <p>&nbsp;</p>
          <p class="row">
            <a href="#" class="btn-outer btn_redouter_right">return or replace it</a>
          </p>
          <p>&nbsp;</p>
          <p class="row">
            <a href="#" class="btn-outer btn_red_right">leave review</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
          <div class="row">
            <p class="col-sm-3 colorlightGray">Order placed:</p>
            <p class="col-sm-9">Apr. 20</p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">1-5 days delivery:</p>
            <p class="col-sm-9">$5.00</p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Total:</p>
            <p class="col-sm-9">
              <strong>$240.00</strong>
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Pay with:</p>
            <p class="col-sm-9">
              <strong>visa 6408</strong>
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3 colorlightGray">Ship to:</p>
            <p class="col-sm-9">
              <strong>Xinyu Liu, 20 Surry Rd, Arlington, MA, 02476</strong>
            </p>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row">&nbsp;</div>
    </div>
  </div>
</div>