<div class="title">
  <h2>get offers
    <span class="colorGray"> Step 4/4: summary</span> |
    <a [routerLink]="isFromES ? '/elastic-product' : '/browse-product'">
      <span class="btnClose">X</span>
    </a>
  </h2>
</div>

<div class="clearfix">&nbsp;</div>

<div class="col-sm-12 p-4 backgroundWhite">
  <!--Step 1 View-->
  <div class="row" *ngIf="Step1Data != undefined">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 colorlightGray">
      <p>Category:</p>
    </div>
    <div class="col-sm-6 text-left">{{Step4Summary.category.name}}</div>
  </div>

  <div class="row" *ngIf="Step1Data != undefined">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 colorlightGray">
      <p>Sub - category:</p>
    </div>
    <div class="col-sm-6 text-left">{{Step4Summary.subCategory.name}}</div>
  </div>

  <div class="row" *ngIf="Step1Data != undefined && !this.Step4Summary.noType">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 colorlightGray">
      <p>Type:</p>
    </div>
    <div class="col-sm-6 text-left">
      <span *ngFor="let type of Step4Summary.type; let isLast=last">{{type.name}}{{isLast ? '' : ', '}}</span>
    </div>
  </div>
  <!--Step 1 View-->

  <!--Step 2 View-->
  <div class="row" *ngIf="Step2Data != undefined && Step2Data != ''">
    <div class="col-sm-12">
      <div class="row" *ngFor="let data of step2DataArr">
        <div *ngIf="data.key != 'Type'" class="col-sm-3"></div>
        <div *ngIf="data.key != 'Type'" class="col-sm-3 colorlightGray">
          <p>{{data.key}}:</p>
        </div>
        <div *ngIf="data.key != 'Type'" class="col-sm-6 text-left">
          <span *ngFor="let values of data.values; let isLast=last">{{values}}{{isLast ? '' : ', '}}</span>
        </div>
      </div>
    </div>
  </div>
  <!--Step 2 View-->

  <!--Step 3 View-->
  <div class="row" *ngIf="Step3Data != undefined && Step3Data != ''">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 colorlightGray">
      <p>Price range:</p>
    </div>
    <div class="col-sm-6 text-left">{{Step4Summary.priceRange.minPrice | currency}} -
      {{Step4Summary.priceRange.maxPrice | currency}}</div>
  </div>

  <div class="row" *ngIf="Step3Data != undefined && Step3Data != ''">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 colorlightGray">
      <p>Delivery:</p>
    </div>
    <div class="col-sm-6 text-left">{{Step4Summary.delivery}}</div>
  </div>

  <div class="row" *ngIf="Step3Data != undefined && Step3Data != ''">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 colorlightGray">
      <p>Zip code:</p>
    </div>
    <div class="col-sm-6 text-left" *ngFor="let location of Step4Summary.location">{{location.zipcode}}</div>
  </div>
  <!--Step 3 View-->

  <hr />

  <div class="row">
    <div class="col-sm-5">
      <a (click)="prev()" class="colorred">back</a>
    </div>
    <div class="col-sm-7">
      <a (click)="next()" class="btn btn_red_right pr-5 pl-5">confirm</a>
      <img src="/consumer-app/assets/images/loader.gif" style="margin-left:15px" *ngIf="loader" />
    </div>
  </div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<!--Confirm Offer-->
<ng-template #confirmOfferModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Get Offers</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      {{this.confirmValidationMsg.message}}
    </p>
  </div>
  <div class="modal-footer">
    <div *ngIf="this.confirmValidationMsg.label == 'login';else default">
      <button type="button" class="btn btn-outer btn_red_right" (click)="c('Close click'); confirmUser()">Yes</button>
      <button type="button" class="btn btn-outer btn_redouter_right" (click)="c('Close click')">No</button>
    </div>
    <ng-template #default>
      <button type="button" class="btn btn-outer btn_redouter_right" (click)="c('Close click')">Close</button>
    </ng-template>
  </div>
</ng-template>
<!--Confirm Offer-->