<div class="title">
  <h2>get offers
    <span class="colorGray"> Step 4/4: basic info</span> |
    <span class="btnClose">
      <a routerLink="/browse-product" onclick="activate()">X</a>
    </span>
  </h2>
</div>

<div class="clearfix">&nbsp;</div>

<div class="col-sm-12 p-4 backgroundWhite">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-2 colorlightGray">
      <p>Category:</p>
    </div>
    <div class="col-sm-6 text-left">Lighting</div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-2 colorlightGray">
      <p>Sub - category:</p>
    </div>
    <div class="col-sm-6 text-left">Lamps</div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-2 colorlightGray">
      <p>Type:</p>
    </div>
    <div class="col-sm-6 text-left">Ceiling</div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-2 colorlightGray">
      <p>Features:</p>
    </div>
    <div class="col-sm-6 text-left">outdoor, energy star</div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-2 colorlightGray">
      <p>Number of bulbs:</p>
    </div>
    <div class="col-sm-6 text-left">1 - 2 bulb</div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-2 colorlightGray">
      <p>Style:</p>
    </div>
    <div class="col-sm-6 text-left">global</div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-2 colorlightGray">
      <p>Material:</p>
    </div>
    <div class="col-sm-6 text-left">wood</div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-2 colorlightGray">
      <p>Price range:</p>
    </div>
    <div class="col-sm-6 text-left">$ 0 - $ 150</div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-2 colorlightGray">
      <p>Delivery:</p>
    </div>
    <div class="col-sm-6 text-left">1 - 5 days delivery</div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-2 colorlightGray">
      <p>Zip code:</p>
    </div>
    <div class="col-sm-6 text-left">02476</div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-5">
      <a (click)="prev()" class="colorred">back</a>
    </div>
    <div class="col-sm-7">
      <a (click)="next()" class="btn btn_red_right pr-5 pl-5">confirm</a>
    </div>
  </div>
</div>