<div class="col-sm-12 p-3"> 
    <div class="form-group">
        <div class="draglogo text-center">
            <div class=" text-center">Drag your Logo here</div>
            or <a href="#">Select file from computer</a>
        </div>
    </div>
    <p>Main Image<span class="float-right colorlightGray">Drag to change main image</span></p> 
    <div>
        <img src="images/lamp1.png">
    </div>
    <p>Other Images</p>
    <div>
        <img src="images/lamp2.png"> <img src="images/lamp3.png">
    </div>  
</div>