<div class="col-sm-12 p-3">
    <div class="input-group row">
        <span class="input-group-btn w-100">
            <span class="btn btn-file draglogo">
                <div class="p-3 text-center">
                    <div class=" text-center">Drag your Logo here</div>
                    or
                    <div class=" text-center">Select..

                    </div>
                </div>
                <input accept="image/jpeg" (change)="fileChangeEvent($event)" type="file" class="uploadImage" multiple />
            </span>
        </span>
        <div class="col-sm-12 p-0">Main Image
            <span class="float-right colorlightGray">Click to change main image</span>
        </div>
        <div class="col-sm-12 p-0">
            <p class="pt-2 pb-2">Count: {{ productImages.length }}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>MainImage</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productImages">
                        <td>
                            <strong>{{ item.file?.name }}</strong>
                        </td>
                        <td nowrap>{{ item.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td nowrap>
                            <input type="radio" name="mainImage" 
                            [checked]="item.mainImage" 
                            [value]="item" 
                            (change)="onSelectionChange(item)" >
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" (click)="upload(item)" >
                                <span class="fa fa-upload"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" (click)="remove(item)">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Queue progress:
                </div>
                <button type="button" class="btn btn-success btn-s" (click)="saveData()">
                    <span class="fa fa-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-danger btn-s" (click)="removeAll()">
                    <span class="fa fa-trash"></span> Remove all
                </button>
            </div>

        </div>
    </div>
    <div class="row mt-2 anc_otherImg">
        <a href="#" class="anc_otherImg" *ngIf="mainImage">
            <img src="{{mainImage}}">
        </a>
        <div class="overlay">
            <div class="text">
                <span class="fa fa-trash"></span>
            </div>
        </div>
    </div>
    <p class="row">Other Images</p>
    <div class="row">
        <div class="d-inline anc_otherImg" *ngFor="let image of uploadedImages" >
            <img src="{{image}}">
            <div class="overlay">
                <div class="text">
                    <span class="fa fa-refresh"></span>
                    <span class="fa fa-trash"></span>
                </div>
            </div>
        </div>       
    </div>
</div>