<div class="container">
    <div class="title col-sm-12">
        <h1>{{inquiryId===''?'Create':'Edit'}}</h1>
    </div>
    <div class="backgroundWhite p-3" [formGroup]="fG1">
        <div class="row">
            <div class="col-sm-8">
                <p>
                    <select class="ddl_default w-50 form-control" formControlName="inquiryType" (change)="inquiryTypeChange()">
                        <option value=''>Inquiry Type</option>
                        <option *ngFor="let option of inquiryTypes" value="{{option.name}}">
                            {{option.value}}
                        </option>
                    </select>
                    <!--Validation-->
                    <app-field-error-display [field]="fG1.controls.inquiryType" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </p>
                <p *ngIf="showInquiryTypeOther">
                    <input class="form-control w-50" type="text" placeholder="Other.." formControlName="inquiryTypeOther" />
                    <!--Validation-->
                    <app-field-error-display [field]="fG1.controls.inquiryTypeOther" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </p>
                <p *ngIf="!showInquiryTypeOther">
                    <select class="ddl_default w-50 form-control" formControlName="inquiryCategory" (change)="inquiryCategoryChange()">
                        <option value=''>Inquiry Category</option>
                        <option *ngFor="let option of inquiryCategorys" value="{{option}}">
                            {{option}}
                        </option>
                    </select>
                    <!--Validation-->
                    <app-field-error-display [field]="fG1.controls.inquiryCategory" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </p>
                <p *ngIf="showinquiryCategoryOther">
                    <input class="form-control w-50" type="text" placeholder="Other.." formControlName="inquiryCategoryOther" />
                    <!--Validation-->
                    <app-field-error-display [field]="fG1.controls.inquiryCategoryOther" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </p>
                <p>
                    <input class="form-control" type="text" placeholder="Summary Description" formControlName="description" />
                    <!--Validation-->
                    <app-field-error-display [field]="fG1.controls.description" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </p>

                <p>
                    <input class="form-control" type="text" placeholder="Order Id" formControlName="orderId" (blur)="checkOrder()" />
                    <!--Validation-->
                    <app-field-error-display [field]="fG1.controls.orderId" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </p>

                <p *ngIf="showProduct">
                    <select class="ddl_default form-control w-50" formControlName="product" (change)="setInquiryOrderDetails(this.fG1.value.product)">
                        <option value=''>Product</option>
                        <option *ngFor="let option of order.orderItems" [ngValue]="option">
                            {{option.productName}}
                        </option>
                    </select>
                    <!--Validation-->
                    <app-field-error-display [field]="fG1.controls.product" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </p>

                <p>
                    <select class="ddl_default form-control w-50" formControlName="priority">
                        <option value=''>Priority</option>
                        <option *ngFor="let option of inquiryPrioritys" value="{{option}}">
                            {{option}}
                        </option>
                    </select>
                    <!--Validation-->
                    <app-field-error-display [field]="fG1.controls.priority" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </p>
                <p>
                    <select class="ddl_default form-control w-50" formControlName="assignedTo">
                        <option value=''>Assigned to</option>
                        <option *ngFor="let option of users" value="{{option.userId}}">
                            {{option.firstName + ' ' + option.lastName }}
                        </option>
                    </select>
                    <!--Validation-->
                    <app-field-error-display [field]="fG1.controls.assignedTo" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </p>
                <p>
                    <select class="ddl_default form-control w-20" formControlName="inquiryStatus" (change)="inquiryStatusChange()">
                        <option value=''>Status</option>
                        <option *ngFor="let option of inquiryStatuses" value="{{option}}">
                            {{option}}
                        </option>
                    </select>
                    <!--Validation-->
                    <app-field-error-display [field]="fG1.controls.inquiryStatus" [errorMsg]="errorMsgs"> </app-field-error-display>
                    <!--Validation-->
                </p>
            </div>
            <div class="col-sm-4 ">
                <div class="input-group">
                    <input formControlName="inquiryDate" (focus)="d.open()" [minDate]="minDateInquiry" [maxDate]="maxDateInquiry" ngbDatepicker #d="ngbDatepicker" class="form-control" placeholder="Date of Inquiry (mm-dd-yyyy)">
                    <div class="input-group-append">
                        <button class="btn btn-default ancProfile1" (click)="d.toggle()">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <!--Validation-->
                <app-field-error-display [field]="fG1.controls.inquiryDate" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 clearfix">
                <div>Notes</div>
                <div class="pt-1">
                    <textarea class="h-50 w-100 txt" formControlName="inquiryNotes"></textarea>
                </div>
                <!--Validation-->
                <app-field-error-display [field]="fG1.controls.inquiryNotes" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
            <div class="col-sm-4 text-left" *ngIf="false">
                <p>
                    <a class="btn_redouter_right w-50" href="#">Add Note</a>
                </p>
                <p>
                    <a class="btn_red_right w-50 " href="#">Edit Note</a>
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <p class="col-sm-8" *ngIf="showResolutionOutcome">
                Resolution
                <select class="ddl_default form-control w-50" formControlName="resolutionOutcome">
                    <option value=''>Resolution Outcome</option>
                    <option *ngFor="let option of inquiryResolvedOutcomes" value="{{option}}">
                        {{option}}
                    </option>
                </select>
                <!--Validation-->
                <app-field-error-display [field]="fG1.controls.resolutionOutcome" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </p>
        </div>
        <div class="row">
            <div class="col-sm-8" *ngIf="showResolution">
                <select class="ddl_default form-control w-50" formControlName="resolutionType">
                    <option value=''>Resolution</option>
                    <option *ngFor="let option of inquiryResolutions" value="{{option}}">
                        {{option}}
                    </option>
                </select>
                <!--Validation-->
                <app-field-error-display [field]="fG1.controls.resolutionType" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
        <div class="row py-3">
            <div class="col-sm-8 clearfix" *ngIf="showResolutionDescription">
                <input class="form-control" type="text" placeholder="Summary Description" formControlName="resolutionDescription" />
                <!--Validation-->
                <app-field-error-display [field]="fG1.controls.resolutionDescription" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
            <div class="col-sm-4" *ngIf="showResolutionDate">
                <div class="input-group">
                    <input formControlName="resolutionDate" (focus)="d.open()" [minDate]="fG1.value.inquiryDate" [maxDate]="maxDateResolution" ngbDatepicker #d="ngbDatepicker" class="form-control" placeholder="Date of Resolution (mm-dd-yyyy)">
                    <div class="input-group-append">
                        <button class="btn btn-default ancProfile1" (click)="d.toggle()">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <!--Validation-->
                <app-field-error-display [field]="fG1.controls.resolutionDate" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 clearfix" *ngIf="showResolutionNotes">
                <div>Resolution Notes</div>
                <div class="pt-1">
                    <textarea class="h-50 w-100 txt" formControlName="resolutionNotes"></textarea>
                </div>
                <!--Validation-->
                <app-field-error-display [field]="fG1.controls.resolutionNotes" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>

        <div class="col-sm-12 py-3 text-right">
            <button class="btn btn-default ancProfile1" routerLink='/inquiry-list'>Cancel</button>
            <button class="btn btn-default ancProfile1" [disabled]="saveloader" (click)="saveInquiry();">Save
                <i class="fa fa-repeat fa-spin" aria-hidden="true" *ngIf="saveloader"></i>
            </button>
        </div>
    </div>
</div>