<ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
<div class="title col-sm-12">
    <h1>Account Info</h1> 
</div>
<div class="row">
    <div class="col-sm-12 signup">
        <ngb-tabset #tabs="ngbTabset" class="accountsTabs" [orientation]="currentOrientation" [justify]="currentJustify" (tabChange)="setActiveTab($event)">
            <ngb-tab title="Profile info" id="tab-Profile">
                <ng-template ngbTabContent>
                    <div class="row backgroundWhite">
                      
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Payment info" id="tab-Payment">
                <ng-template ngbTabContent>
                    <div class="row backgroundWhite">
                       
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Product info" id="tab-Product">
                <ng-template ngbTabContent>
                    <div class="row backgroundWhite">

                        <div class="col-sm-12 p-2">
                        </div>
                        <div class="col-sm-4 pl-2 pr-2 backgroundGray"></div>

                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Shipping profile" id="tab-Shipping">
                <ng-template ngbTabContent>
                    <div class="row backgroundWhite">
                        
                         
                        <div class="col-sm-4 pl-2 pr-2 backgroundGray"></div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Return and Exchange policy" id="tab-Return">
                <ng-template ngbTabContent>
                    <div class="row backgroundWhite">
                        <div class="col-sm-12 p-2">
                        </div>
                        <div class="col-sm-4 pl-2 pr-2 backgroundGray"></div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Notifications" id="tab-Notifications">
                <ng-template ngbTabContent>
                    <div class="row backgroundWhite">
                        <div class="col-sm-12 p-2">
                        </div>
                        <div class="col-sm-4 pl-2 pr-2 backgroundGray"></div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>

    </div>
</div>