<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/admin-app/assets/images/logo.png" class="img-fluid" />
  </a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" *ngIf="core.navVisible">

    <ul class="navbar-nav mr-auto">
      <li ngbDropdown class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          ngbDropdownToggle>Accounts</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item active" href="#">Accounts Info</a>
          <a class="dropdown-item" href="#">Shipping Profiles</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          ngbDropdownToggle>Products</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">View Products</a>
          <a class="dropdown-item" href="#">Products Files</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          ngbDropdownToggle>Supports</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Orders</a>
          <a class="dropdown-item" href="#">Inquiries</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          ngbDropdownToggle>Reports</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Sales</a>
          <a class="dropdown-item" href="#">Customers</a>
          <a class="dropdown-item" href="#">Reviews</a>
          <a class="dropdown-item" href="#">Inquiries</a>
          <a class="dropdown-item" href="#">Payments</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Users</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0 ancUser">
      <a href="#" class="">Hi, Shelley!</a>
      <a class="nav-link" routerLink="/logout" routerLinkActive="logout">log out</a>
    </div>
  </div>
</nav>
