.dropdown-item.active, .dropdown-item:active{
    color: #1d1e1f !important;
    text-decoration: none;
    background-color:transparent !important;
}
.dropdown-item:focus, .dropdown-item:hover{
    color: #1d1e1f;
    text-decoration: none;
    background-color:transparent !important;
}