<div class="container">
  <app-sub-menus></app-sub-menus>
  <div style="height:135px;width:100%;"></div>
  <img src="/consumer-app/assets/images/loader.gif" style="margin: 0 49%" class="mb-3 mt-3" *ngIf="loader">

  <!--Offer Blocks-->
  <ng-container *ngFor="let offer of offers">
    <div class="myCart-list" *ngIf="offer.getOffersResponse.length > 0">
      <div class="mb-3">Get Offers for
        <strong>{{offer.getOffersRequestDTO.placeName}} - {{offer.getOffersRequestDTO.categoryName}} - {{offer.getOffersRequestDTO.subCategoryName}}</strong> is complete! You received
        <strong>{{offer.getOffersResponse.length}}</strong> offers!
        <span class="d-inline float-right offerStatus inactive" *ngIf="offer.expire;else activeOffer">Offer Expired</span>
        <ng-template #activeOffer>
          <span class="d-inline float-right offerStatus active">Offer Active</span>
        </ng-template>
      </div>
      <small class="pull-right colorlightGray">{{formatAMPM(offer.startDate)}}</small>
      <img src="/consumer-app/assets/images/img_17.jpg" class="img-fluid mr-4 mb-3" width="55" *ngFor="let images of getImages(offer.getOffersResponse.length)" />
    </div>
  </ng-container>

  <div class="myCart-list" *ngFor="let review of reviews">
    <small class="pull-right colorlightGray">{{formatAMPM(review.reviewDate)}}</small>
    <div class="mb-2">You reviewed
      <strong>{{review.productName}}</strong>
    </div>
    <div class="row p-0">
      <div class="col-sm-12">
        <div class="mb-2">
          Ratings:
          <span *ngFor="let rating of getRating(review.rating)">
            <i class="fa fa-star starIcon" aria-hidden="true"></i>
          </span>
        </div>
        <div>Comments: {{review.reviewDescription}}</div>
      </div>
    </div>
  </div>
  <!--Offer Blocks-->
</div>