<div class="title mb-4">
  <h2>get offers
    <span class="colorGray"> Step 3/4: order info</span> |
    <a routerLink="/browse-product">
      <span class="btnClose">X</span>
    </a>
    <small class="text-right mt-2 bgColor float-right">
      <a (click)="skip()" class="colorred">skip</a>
    </small>
  </h2>
</div>

<form [formGroup]="getOffer_orderInfo">
  <div class="col-sm-12 p-0">
    <div class="row">
      <div class="col-sm-2 colorlightGray">
        <p>Price range:</p>
      </div>
      <div class="col-sm-8">
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-value">
              <span style="position: relative" class="d-block">
                <span class="currencySymbol">$</span>
                <dx-number-box formControlName="minPrice" onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="padding-left: 30px;" [min]="minPrice" [max]="maxPrice" [showSpinButtons]="true" [(value)]="rangeSlider.start" class="categ_outline_red w-100 mr-2"></dx-number-box>
              </span>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-value">
              <span style="position: relative" class="d-block">
                <span class="currencySymbol">$</span>
                <dx-number-box formControlName="maxPrice" onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="padding-left: 30px;" [min]="minPrice" [max]="maxPrice" [showSpinButtons]="true" [(value)]="rangeSlider.end" class="categ_outline_red  w-100 mr-2"></dx-number-box>
              </span>
            </div>
          </div>
          <div class="dx-field">
            <dx-range-slider #rangeSlider [min]="0" [max]="maxPrice" [start]="getOffer_orderInfo.controls.minPrice.value" [end]="getOffer_orderInfo.controls.maxPrice.value"></dx-range-slider>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <hr />

    <div class="row">
      <div class="col-sm-2 colorlightGray">
        <p>Delivery:</p>
      </div>
      <div class="col-sm-8">
        <input id="onebusinessdayshipping" type="radio" formControlName="delivery" name="delivery" value="Next day: 1 business day shipping" />
        <label class="categ_outline_gray mr-2 mb-3" for="onebusinessdayshipping">Next day: 1 business day shipping</label>

        <input id="twobusinessdayshipping" type="radio" formControlName="delivery" name="delivery" value="2 day: 2 business day shipping" />
        <label class="categ_outline_gray mr-2 mb-3" for="twobusinessdayshipping">2 day: 2 business day shipping</label>

        <input id="threetofivebusinessdays" type="radio" formControlName="delivery" name="delivery" value="Express: 3 to 5 business days" />
        <label class="categ_outline_gray mr-2 mb-3" for="threetofivebusinessdays">Express: 3 to 5 business days</label>

        <input id="fivetoeightbusinessdays" type="radio" formControlName="delivery" name="delivery" value="Standard: 5 to 8 business days" />
        <label class="categ_outline_gray mr-2 mb-3" for="fivetoeightbusinessdays">Standard: 5 to 8 business days</label>

        <input id="noPreference" type="radio" formControlName="delivery" name="delivery" value="No Preference" />
        <label class="categ_outline_gray mr-2 mb-3" for="noPreference">No Preference</label>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <hr />

    <div class="row">
      <div class="col-sm-2 colorlightGray">
        <p>Zip code:</p>
      </div>
      <div class="col-sm-8">
        <div>
          <!--Predefined Zipcodes-->
          <span *ngIf="showExistingLocation">
            <img class="mr-3" width="15" src="/consumer-app/assets/images/loader.gif" *ngIf="loaderZipcodes" />
            <span class="deliveryLocations categ_outline_gray text-center mr-2" style="cursor:pointer" (click)="selectAddress(location, $event)" *ngFor="let location of existingLocation">{{location.zipcode}}</span>
          </span>
          <!--Predefined Zipcodes-->

          <!--Custom Zipcodes Entry-->
          <span *ngIf="inputNewLocation" style="position: relative;">
            <input (keyup)="_keuyp($event)" onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="zipCode" type="text" class="categ_outline_red text-center w-15 mr-2" />
            <img style="top:5px; right:20px" width="15" src="/consumer-app/assets/images/loader.gif" class="absoluteImg_2" *ngIf="loaderLocation" />
          </span>
          <div style="cursor: pointer" (click)="addNewLocation($event)" class="categ_outline_red mr-2 noBackground colorred">+</div>
          <!--Custom Zipcodes Entry-->

          <!--No Zipcode Validation-->
          <p *ngIf="zipcodeRequired" class="clearfix colorred" style="margin-top: 0.75rem; margin-bottom: 0; font-size: 15px;">Please select or enter a Zip Code</p>

          <p class="clearfix colorlightGray" style="margin-top: 0.75rem; margin-bottom: 0; font-size: 15px;">
            {{fetchGeoCode}}
          </p>

          <!--Validation-->
          <div *ngIf="enterZipcode">
            <div *ngIf="getOffer_orderInfo.controls.zipCode.value && getOffer_orderInfo.controls.zipCode.errors && (!getOffer_orderInfo.controls.zipCode.minlength || !getOffer_orderInfo.controls.zipCode.maxlength)" style="font-size: 15px" class="colorred">
              Please enter a valid Zip Code
            </div>
          </div>
          <!--Validation-->
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <hr />

    <div class="row">
      <div class="col-sm-2 colorlightGray">
        <p>Special instructions:</p>
      </div>
      <div class="col-sm-8">
        <textarea formControlName="instruction" class="splInst_getoffer"></textarea>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <hr />
  </div>
</form>

<div class="clearfix">&nbsp;</div>

<div class="row">
  <div class="col-sm-6">
    <a (click)="prev()" class="colorred">back</a>
  </div>
  <div class="col-sm-6 text-right">
    <a (click)="next()" class="btn btn_red_right pr-5 pl-5">next step</a>
  </div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>