<div class="container">
  <div style="height:150px;width:100%;"></div>
  <div class="row title">
    <h2>Checkout</h2>
  </div>

  <div class="row">
    <div class="col-sm-7 checkout_layout">
      <p class="colorlightGray p-0">Shipping address: </p>
      <div class="row p-2">
        <div class="col-sm-3 p-0">
          <button (click)="addAddress()" class="ancRed txtasbutton cursor colorred">Add new address</button>
        </div>
        <div class="col-sm-9">
          <div class="row mb-3" *ngFor="let address of shippingAddressCheckout">
            <div class="col-sm-10">
              <div class="categ_outline_gray customerShippingAddress" style="cursor:pointer" (click)="selectShippingAddress($event, address)">
                {{address.addressLineOne}}, {{address.city}}, {{address.state}}, {{address.zipcode}}
              </div>
            </div>
            <div class="col-sm-2 text-right">
              <button (click)="editAddress(address)" class="ancRed txtasbutton cursor colorred">edit</button>
            </div>
          </div>
        </div>
      </div>
      <hr />

      <!--Exsiting Cards-->
      <div class="row p-2">
        <div class="col-sm-3 p-0 colorlightGray">
          <p>Payment method</p>
        </div>
        <div class="col-sm-6">
          <div class="categ_outline_gray customerCards mr-2 mb-2" style="cursor:pointer" *ngFor="let card of getCardsDetails" (click)="selectPayCard($event, card)">
            {{card.cardType}} {{card.last4Digit}}
          </div>
          <img src="/consumer-app/assets/images/loader.gif" style="margin-left: 10px" *ngIf="loader_getCards" />
        </div>
        <div class="col-sm-3">
          <div class="float-right pr-2 d-inline">
            <a (click)="addNewCard()" href="javascript:void(0)" class="ancRed">Add New Card</a>
          </div>
        </div>
      </div>
      <!--Exsiting Cards-->

      <!--Add New Cards-->
      <div class="row p-2" [hidden]="!addCard">
        <div class="col-sm-3 p-0"></div>
        <div class="col-sm-9">
          <hr class="mt-0" />
          <div class="row">
            <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
              <div class="form-row">
                <div id="card-info" #cardInfo></div>
                <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
              </div>

              <button type="submit" class="btn btn_red_right">add card</button>
              <button type="button" (click)="resetAddCard()" class="btn-outer btn_redouter_right btn-outer-margin">cancel</button>
              <img src="/consumer-app/assets/images/loader.gif" style="margin-left: 7px; margin-top: 7px" *ngIf="loader" />
            </form>
          </div>
        </div>
      </div>
      <!--Add New Cards-->

      <hr />

      <div class="row p-2">
        <div class="col-sm-3 p-0 colorlightGray">
          <p>Shipping method</p>
        </div>
        <div class="col-sm-8">
          <div class="categ_outline_gray mb-3">$5.00 - Next day shipping - get it tomorrow, May 29</div>
          <div class="categ_outline_red mb-3 colorred">$2.00 - Two days shipping - get it Saturday, May 30</div>
          <div class="categ_outline_gray mb-3">Free-five business days shipping - get it Next Wed, June 3</div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>

    <div class="col-sm-1">&nbsp;</div>

    <!--Order Summary-->
    <div class="col-sm-4 order_Summary_Rgt">
      <h4 class="subtitle" style="padding: 0px 25px">Order summary:</h4>
      <div class="row">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" id="orderSummaryAccordian">
          <ngb-panel *ngFor="let item of itemsInCart | reverse">
            <!--Title-->
            <ng-template ngbPanelTitle>
              <div class="row">
                <div class="col-sm-3">
                  <img src="/consumer-app/assets/images/catg-1.png" class="img-fluid" />
                </div>
                <div class="col-sm-8" style="padding-left: 8px; margin-top: -4px">
                  <b>{{item.productName}}</b>
                </div>
              </div>
            </ng-template>
            <!--Title-->

            <!--Content-->
            <ng-template ngbPanelContent>
              <table class="w-100">
                <tr>
                  <td width="35%" class="colorlightGray">Retailer</td>
                  <td width="55%">{{item.retailerName}}</td>
                </tr>
                <tr>
                  <td class="colorlightGray">Quantity</td>
                  <td>{{item.quantity}}</td>
                </tr>
                <tr>
                  <td class="colorlightGray">Price</td>
                  <td>${{item.price}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="colorred" (click)="showRetailerReturns(item)">Return policy</td>
                </tr>
              </table>
            </ng-template>
            <!--Content-->
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div class="row p-2">
        <table id="paymentSummary">
          <tr>
            <td class="colorlightGray">Subtotal</td>
            <td>$
              <span class="amount">{{totalAmountFromCart}}</span>
            </td>
          </tr>
          <tr>
            <td class="colorlightGray">Shipping</td>
            <td>$
              <span class="amount">227.50</span>
            </td>
          </tr>
          <tr>
            <td class="colorlightGray">Tax</td>
            <td>$
              <span class="amount">227.50</span>
            </td>
          </tr>
          <tr>
            <td class="colorred">
              <strong>Total</strong>
            </td>
            <td>
              <strong class="colorred">$
                <span #toBeCharged>{{calculateTotalPayable()}}</span>
              </strong>
            </td>
          </tr>
        </table>
      </div>
      <hr />
      <div class="col-sm-12 text-center">
        <button (click)="chargeAmount()" class="btn btn_red_right w-100" [disabled]="core.hideUser">confirm</button>
        <br />
        <img src="/consumer-app/assets/images/loader.gif" class="mt-3 mb-2" *ngIf="loader_chargeAmount" />
        <br />
        <span *ngIf="core.hideUser" class="colorlightGray" style="font-size: 14px">Please login to continue</span>
      </div>
    </div>
    <!--Order Summary-->
  </div>
  <div class="clearfix">&nbsp;</div>
</div>

<!--Modal Payment Confirmation-->
<ng-template #ModalBox let-c="close" class="modalBox" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Payment Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>
      "Your order is on it's way!"
      <br />
      <strong>
        "Order Number -
        <u>{{paymentSuccessfullMsg.paymentId}}"</u>
      </strong>
      <br /> "You will receive an email confirmation shortly at
      <u>{{paymentSuccessfullMsg.receiptEmail}}</u>"
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn_red_right" style="margin: 0 auto" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!--Modal Payment Confirmation-->

<!--Retailer Returns Policy-->
<ng-template #retialerReturnModal let-c="close" class="modalBox" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Return Policy</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      {{retailerReturnPolicy}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn_red_right" style="margin: 0 auto" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!--Retailer Returns Policy-->

<!--Edit Shipping Address-->
<ng-template #editAddressModal let-c="close" class="modalBox" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Shipping Address</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <form [formGroup]="editShippingAddressForm">
      <div class="form-group">
        <input type="text" formControlName="editAddressLineOne" class="form-control" placeholder="Address Line 1" />
      </div>
      <div class="form-group">
        <input type="text" formControlName="editAddressLineTwo" class="form-control" placeholder="Address Line 2" />
      </div>
      <div class="form-group">
        <input type="text" formControlName="editCity" class="form-control" placeholder="City" />
      </div>
      <div class="form-group">
        <input type="text" formControlName="editState" class="form-control" placeholder="State" />
      </div>
      <div class="form-group">
        <input type="text" formControlName="editZipcode" class="form-control" placeholder="Zipcode" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn_red_right" style="margin: 0 auto" (click)="c('Close click')">Save</button>
  </div>
</ng-template>
<!--Edit Shipping Address-->

<!--Add New Shipping Address-->
<ng-template #addNewAddressModal let-c="close" class="modalBox" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Shipping Address</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <form [formGroup]="addShippingAddressForm">
      <div class="form-group">
        <input type="text" formControlName="addAddressLineOne" class="form-control" placeholder="Address Line 1" />
      </div>
      <div class="form-group">
        <input type="text" formControlName="addAddressLineTwo" class="form-control" placeholder="Address Line 2" />
      </div>
      <div class="form-group">
        <input type="text" formControlName="addCity" class="form-control" placeholder="City" />
      </div>
      <div class="form-group">
        <input type="text" formControlName="addState" class="form-control" placeholder="State" />
      </div>
      <div class="form-group">
        <input type="text" formControlName="addZipcode" class="form-control" placeholder="Zipcode" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn_red_right" style="margin: 0 auto" (click)="c('Close click')">Add</button>
  </div>
</ng-template>
<!--Add New Shipping Address-->