<div class="container">
  <div style="height:150px;width:100%;"></div>
  <div class="row title">
    <h2>Checkout</h2>
  </div>

  <!--Shipping Address and Payment-->
  <div class="row p-2 backgroundWhite">
    <!--Shipping Address-->
    <div class="col-sm-4">
      <div class="colorlightGray mb-3">Shipping address:</div>
      <div class="row mb-3" *ngFor="let address of shippingAddressCheckout">
        <div class="col-sm-10">
          <div class="categ_outline_gray w-100 text-center customerShippingAddress" style="cursor:pointer" (click)="selectShippingAddress($event, address)">
            {{address.addressLine1}}, {{address.city}}, {{address.state}}, {{address.zipcode}}
          </div>
        </div>
        <div class="col-sm-2 text-right">
          <button (click)="editAddress(address)" class="ancRed txtasbutton cursor colorred">edit</button>
        </div>
      </div>

      <!--Add Shipping Address-->
      <form [formGroup]="addShippingAddressForm" *ngIf="addShippingAddressFormWrapper">
        <div class="form-group">
          <input type="text" formControlName="addAddressLineOne" class="form-control" placeholder="Address Line 1" />
        </div>
        <div class="form-group">
          <input type="text" formControlName="addAddressLineTwo" class="form-control" placeholder="Address Line 2" />
        </div>
        <div class="form-group">
          <input type="text" formControlName="addCity" class="form-control" placeholder="City" />
        </div>
        <div class="form-group">
          <select formControlName="addState" class="form-control">
            <option value selected disabled>Select a state</option>
            <option *ngFor="let state of getStates" value="{{state}}">{{state}}</option>
          </select>
        </div>
        <div class="form-group">
          <input (keypress)="core.allowOnlyNumbers($event)" type="number" formControlName="addZipcode" class="form-control" placeholder="Zipcode" />
        </div>
        <div class="form-group">
          <button [disabled]="addShippingAddressFormWrapper && (!addShippingAddressForm.controls.addAddressLineOne.value || !addShippingAddressForm.controls.addAddressLineTwo.value || !addShippingAddressForm.controls.addCity.value || !addShippingAddressForm.controls.addState.value || !addShippingAddressForm.controls.addZipcode.value)" type="button" (click)="addEditSave(addShippingAddressForm, 'add')" class="btn btn_red_right">
            add
          </button>
          <button type="button" (click)="cancelAddress(addShippingAddressForm, 'add')" class="btn btn-outer btn_redouter_right">cancel</button>
        </div>
      </form>
      <!--Add Shipping Address-->

      <!--Edit Shipping Address-->
      <form [formGroup]="editShippingAddressForm" *ngIf="editShippingAddressFormWrapper">
        <div class="form-group">
          <input type="text" formControlName="editAddressLineOne" class="form-control" placeholder="Address Line 1" />
        </div>
        <div class="form-group">
          <input type="text" formControlName="editAddressLineTwo" class="form-control" placeholder="Address Line 2" />
        </div>
        <div class="form-group">
          <input type="text" formControlName="editCity" class="form-control" placeholder="City" />
        </div>
        <div class="form-group">
          <select formControlName="editState" class="form-control">
            <option value selected disabled>Select a state</option>
            <option *ngFor="let state of getStates" value="{{state}}" selected="editShippingAddressForm.editState == state">{{state}}</option>
          </select>
        </div>
        <div class="form-group">
          <input (keypress)="core.allowOnlyNumbers($event)" type="number" formControlName="editZipcode" class="form-control" placeholder="Zipcode" />
        </div>
        <div class="form-group">
          <button type="button" [disabled]="editShippingAddressFormWrapper && (!editShippingAddressForm.controls.editAddressLineOne.value || !editShippingAddressForm.controls.editAddressLineTwo.value || !editShippingAddressForm.controls.editCity.value || !editShippingAddressForm.controls.editState.value || !editShippingAddressForm.controls.editZipcode.value)" (click)="addEditSave(editShippingAddressForm, 'edit')" class="btn btn_red_right">save</button>
          <button type="button" (click)="cancelAddress(editShippingAddressForm, 'edit')" class="btn btn-outer btn_redouter_right">cancel</button>
        </div>
      </form>
      <!--Edit Shipping Address-->

      <!-- <div class="colorred text-right">
        <small>+ more</small>
      </div> -->
    </div>
    <div class="col-sm-2 mt-2 pt-4 text-right borderRight">
      <button (click)="addAddress()" class="ancRed txtasbutton cursor colorred">Add new address</button>
    </div>
    <!--Shipping Address-->

    <!--Payment-->
    <div class="col-sm-6 pl-4">
      <div class="colorlightGray mb-3 ">Payment:</div>
      <div class="row">
        <!--Existing Cards-->
        <div class="col-sm-8">
          <div class="categ_outline_gray customerCards mr-2 mb-2" style="cursor:pointer" *ngFor="let card of getCardsDetails" (click)="selectPayCard($event, card)">
            {{card.cardType}} {{card.last4Digit}}
            <span (click)="confirmDeleteCard(card)" class="ml-2">
              <i title="delete card" class="fa fa-times" aria-hidden="true"></i>
            </span>
          </div>
          <img src="/consumer-app/assets/images/loader.gif" style="margin-left: 10px" *ngIf="loader_getCards" />
        </div>
        <!--Existing Cards-->

        <!--Add New Cards-->
        <div class="col-sm-4">
          <div class="float-right pr-2 d-inline">
            <a (click)="addNewCard()" href="javascript:void(0)" class="ancRed">Add New Card</a>
          </div>
        </div>
        <!--Add New Cards-->
      </div>

      <div class="row" [hidden]="!addCard">
        <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout pl-1 pr-0 pb-0 pt-0 mt-0 mb-4">
          <hr class="mb-4" />
          <div class="form-row position-relative" [hidden]="!addCard">
            <div id="card-info" #cardInfo class="mt-0"></div>
            <div id="card-number" #cardNumber class="field empty"></div>
            <div style="top: 10px; right: 8px; position: absolute">
              <span class="brand">
                <i class="pf pf-credit-card" id="brand-icon"></i>
              </span>
            </div>
            <div id="card-expiry" #cardExpiry class="field empty third-width"></div>
            <div id="card-cvc" #cardCvc class="field empty third-width"></div>
            <div id="card-zip" #cardZip class="field empty third-width"></div>
            <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
          </div>
          <button type="submit" class="btn btn_red_right">add card</button>
          <button type="button" (click)="resetAddCard()" class="btn-outer btn_redouter_right btn-outer-margin">cancel</button>
          <img src="/consumer-app/assets/images/loader.gif" style="margin-left: 7px; margin-top: 7px" *ngIf="loader" />
        </form>
      </div>
    </div>

    <!--Payment-->
    <hr />
  </div>
  <!--Shipping Address and Payment-->

  <!--Orders and Summary-->
  <div class="row mt-2">
    <!--Orders Details-->
    <div class="col-sm-8 p-0 pr-2">
      <div class="sellerProduct left mb-4 mt-3" *ngFor="let item of filteredCartItems">
        <h5 class="colorlightGray">{{item.retailerName}}</h5>
        <div class="p-2">
          <div class="row pl-2">
            <div class="col-sm-3">
              <small>Item</small>
            </div>
            <div class="col-sm-5">

            </div>
            <div class="col-sm-2 text-right pr-5">
              <small>Quantity</small>
            </div>
            <div class="col-sm-2 text-left">
              <small>Total</small>
            </div>
          </div>
          <hr />
          <div class="sellerProduct" *ngFor="let orders of item.orderItems">
            <div class="row p-2">
              <div class="col-sm-3">
                <div class="prodImageContainer">
                  <img [src]="orders.productImage" (click)="core.getProductDetails(orders.productId)" class="img-fluid cursor" />
                  <div class="checkoutPrice">
                    <span>Price</span>
                    <br />
                    <span class="colorred" style="font-weight:bold">{{orders.price | currency}}</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <strong (click)="core.getProductDetails(orders.productId)" class="cursor">{{orders.productName}}</strong>
              </div>
              <div class="col-sm-2 text-right pr-5">{{orders.quantity}}</div>
              <div class="col-sm-2 text-left">{{getPerItemTotal(orders.price, orders.quantity) | currency}}</div>
            </div>
            <!--If Shipping Methods are Different-->
            <div class="row py-3 ml-0 mr-0" *ngIf="item.differentShippingMethod && this.selectedAddressDetails != undefined && shippingMethod != undefined">
              <div class="col-3 pl-4">Shipping Method</div>
              <div class="col-6">
                <span class="plain-select w-100">
                  <select class="taxAmounts" (change)="selectShippingMethod($event, $event.target.value, orders)">
                    <option value selected disabled>Please select a method</option>
                    <option value="{{shippingMethod.deliveryFee + orders.locationFee | currency}} - {{shippingMethod.deliveryMethodName}}" *ngFor="let shippingMethod of orders.deliveryTiers">
                      {{shippingMethod.deliveryFee + orders.locationFee | currency}} - {{shippingMethod.deliveryMethodName}}
                    </option>
                  </select>
                </span>
              </div>
            </div>
            <!--If Shipping Methods are Different-->
          </div>
          <!--If Shipping Methods are same-->
          <div class="row row pt-3 mt-3 mb-3 ml-0 mr-0" *ngIf="!item.differentShippingMethod && this.selectedAddressDetails != undefined && shippingMethod != undefined">
            <div class="col-3 pl-4">Shipping Method</div>
            <div class="col-6">
              <span class="plain-select w-100">
                <select class="taxAmounts" (change)="selectShippingMethod($event, $event.target.value, item)">
                  <option value selected disabled>Please select a method</option>
                  <option value="{{shippingMethod.deliveryFee + item.locationFee | currency}} - {{shippingMethod.deliveryMethodName}}" *ngFor="let shippingMethod of item.deliveryTiers">
                    {{shippingMethod.deliveryFee + item.locationFee | currency}} - {{shippingMethod.deliveryMethodName}}
                  </option>
                </select>
              </span>
            </div>
          </div>
          <!--If Shipping Methods are same-->
        </div>
      </div>
    </div>
    <!--Orders Details-->

    <!--Order Summary-->
    <div class="col-sm-4 pr-0 mb-4 mt-3">
      <div class="sellerProduct right checkOutSticky pt-0">
        <h5 class="colorlightGray">Order Summary</h5>
        <table class="w-100">
          <tr>
            <td width="60%" class="p-2 pl-3">Items Total : </td>
            <td width="40%" class="p-2 pl-3">
              <span class="amount">{{totalAmountFromCart | currency}}</span>
            </td>
          </tr>
          <tr>
            <td class="p-2 pl-3">Shipping : </td>
            <td class="p-2 pl-3" *ngIf="selectedMethodDetails != undefined">
              <span class="amount totalShipCost">{{finalShippingAmount | currency}}</span>
            </td>
          </tr>
          <tr>
            <td class="p-2 pl-3">Tax: </td>
            <td class="p-2 pl-3" *ngIf="totalProductTax != undefined">
              <img src="/consumer-app/assets/images/loader.gif" width="22" *ngIf="loader_productTax" />
              <span *ngIf="!loader_productTax" class="amount totalTaxCost">{{totalProductTax | currency}}</span>
            </td>
          </tr>
          <tr>
            <td class="p-2 pl-3">Payable Amount : </td>
            <td class="p-2 pl-3">
              <span #toBeCharged class="totalAmount">{{calculateTotalPayable() | currency}}</span>
            </td>
          </tr>
        </table>
        <div class="p-3">
          <button (click)="chargeAmount()" class="btn btn_red_right w-100 mb-2" [disabled]="loader_chargeAmount">confirm</button>
          <span style="font-size:14px" class="d-block text-center" *ngIf="loader_chargeAmount">
            Please wait while we place your order...
            <img src="/consumer-app/assets/images/loader.gif" class="ml-2" width="22" *ngIf="loader_chargeAmount" />
          </span>
        </div>
      </div>
    </div>
    <!--Order Summary-->
  </div>
  <!--Orders and Summary-->
  <div class="clearfix">&nbsp;</div>
</div>

<!--Contact Kala-->
<ng-template #checkoutModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Checkout</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{this.confirmValidationMsg.message}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outer btn_red_right" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!--Contact Kala-->

<!--Delete Card-->
<ng-template #deleteCardModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete Card</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete the card?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outer btn_red_right" (click)="c('Close click'); deleteCard()">Yes</button>
    <button type="button" class="btn btn-outer btn_redouter_right" (click)="c('Close click')">No</button>
  </div>
</ng-template>
<!--Delete Card-->