 
 <div class="col-sm-12">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td colspan="2">
                    <span class="ancPlace">Places</span> > <span class="ancCat">Category</span> > <span class="ancsubCat">Sub-category</span>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <ul class="list-unstyled ulCategory1">
                        <li><a href="#"><strong>Home & Garden (546)</strong></a></li>
                        <li><a href="#">Health & Fitness (321)</a></li>
                    </ul>
                    <ul class="list-unstyled ulCategory2">
                        <li><a href="#"><strong>Home & Garden (546)</strong></a></li>
                        <li><a href="#">Health & Fitness (321)</a></li>
                        <li><a href="#">Furniture &amp; Patio (162)</a></li>
                        <li><a href="#">Lighting (27)</a></li>
                        <li><a href="#">Lawn &amp; Garden (43)</a></li>
                        <li><a href="#">Supplies (50)</a></li>
                        <li><a href="#">Pest Control (3)</a></li>
                        <li><a href="#">Bedding &amp; Linens (13)</a></li>
                        <li><a href="#">Emergency &amp; Safety (11)</a></li>
                        <li><a href="#">Pool &amp; Spa (15)</a></li>
                    </ul>
                    <ul class="list-unstyled ulCategory3">
                        <li><a href="#"><strong>Lamps (3)</strong></a></li>
                        <li><a href="#">Light Bulbs (3)</a></li>
                        <li><a href="#">Nightlights</a></li>
                        <li><a href="#">Light Ropes &amp; Srings</a></li>
                        <li><a href="#">Lighting Fixtures (4)</a></li>
                        <li><a href="#">Track Lighting</a></li>
                        <li><a href="#">Landscape Lighting (4)</a></li>
                        <li><a href="#">Emergency Lighting</a></li>
                        <li><a href="#">Flood &amp; Spot lights</a></li>
                        <li><a href="#">Lamp Shades</a></li>
                        <li><a href="#">Timers &amp; Accessories</a></li>
                    </ul>
                    <span class="productList_back"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                </td>
                <td width="50%">
                    <ul class="list-unstyled ulCategoryright1">
                        <li><a href="#">Home & Garden (546)</a></li>
                        <li><a href="#">Health & Fitness (321)</a></li>
                        <li><a href="#">Furniture &amp; Patio (162)</a></li>
                        <li><a href="#">Lighting (27)</a></li>
                        <li><a href="#">Lawn &amp; Garden (43)</a></li>
                        <li><a href="#">Supplies (50)</a></li>
                        <li><a href="#">Pest Control (3)</a></li>
                        <li><a href="#">Bedding &amp; Linens (13)</a></li>
                        <li><a href="#">Emergency &amp; Safety (11)</a></li>
                        <li><a href="#">Pool &amp; Spa (15)</a></li>
                    </ul>
                    <ul class="list-unstyled ulCategoryright2">
                        <li><a href="#">Lamps (3)</a></li>
                        <li><a href="#">Light Bulbs (3)</a></li>
                        <li><a href="#">Nightlights</a></li>
                        <li><a href="#">Light Ropes &amp; Srings</a></li>
                        <li><a href="#">Lighting Fixtures (4)</a></li>
                        <li><a href="#">Track Lighting</a></li>
                        <li><a href="#">Landscape Lighting (4)</a></li>
                        <li><a href="#">Emergency Lighting</a></li>
                        <li><a href="#">Flood &amp; Spot lights</a></li>
                        <li><a href="#">Lamp Shades</a></li>
                        <li><a href="#">Timers &amp; Accessories</a></li>
                    </ul>
                    <ul class="list-unstyled ulCategoryright3">
                        <li><a href="#">Table Lamps</a></li>
                        <li><a href="#">Floor Lamps</a></li>
                        <li><a href="#">Ceiling Lamps</a></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
 </div>
        
 
     