<div [formGroup]="FG1"  class="col-sm-12 p-0">
    <table class="table w-100">
        <tbody>
            <tr>
                <td class="border-0">
                    <angular2-multiselect [data]="places" [(ngModel)]="selectedPlaces" 
                        [settings]="placesSettings" 
                        (onSelect)="onPlaceSelect($event)"
                        (onDeSelect)="onPlaceDeSelect($event)" 
                        (onSelectAll)="onPlaceSelectAll($event)" 
                        (onDeSelectAll)="onPlaceDeSelectAll($event)" formControlName="place">
                    </angular2-multiselect>                   
                </td>
            </tr>
            <tr>
                <td class="border-0">
                    <angular2-multiselect [data]="categories" [(ngModel)]="selectedCategories" 
                        [settings]="categorySettings" 
                        (onSelect)="onCategorySelect($event)"
                        (onDeSelect)="onCategoryDeSelect($event)" 
                        (onSelectAll)="onCategorySelectAll($event)" 
                        (onDeSelectAll)="onCategoryDeSelectAll($event)" formControlName="category">
                    </angular2-multiselect>                  
                </td>
            </tr>
            <tr>
                <td class="border-0">
                    <angular2-multiselect [data]="subCategories" [(ngModel)]="selectedSubCategories" 
                        [settings]="subCategorySettings" 
                        (onSelect)="onSubCategorySelect($event)"
                        (onDeSelect)="onSubCategoryDeSelect($event)" 
                        (onSelectAll)="onSubCategorySelectAll($event)" 
                        (onDeSelectAll)="onSubCategoryDeSelectAll($event)" formControlName="subCategory">
                    </angular2-multiselect>        
                </td>
            </tr>
            <tr>
                <td class="border-0" width="80%">
                    <angular2-multiselect [data]="productTypes" [(ngModel)]="selectedProductTypes" 
                        [settings]="productTypeSettings" 
                        (onSelect)="onProductTypeSelect($event)"
                        (onDeSelect)="onProductTypeDeSelect($event)" 
                        (onSelectAll)="onProductTypeSelectAll($event)" 
                        (onDeSelectAll)="onProductTypeDeSelectAll($event)" formControlName="productType">
                    </angular2-multiselect>        
                </td>
                <td class="border-0" width="20%">
                    
                </td>
            </tr>
            <tr>
                <td colspan="2" class="border-0">
                    <div *ngFor="let item of selectedProductTypes" >
                        <span class="productSelect_gray">{{item.itemName}}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div class="text-right pb-3">
        <a class="btn btn-default" href="#">Save & Next</a>
    </div>
</div>