<header *ngIf="getHeader == 'header1'">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top header_Scroll">
    <div class="container web-header">
      <div class="row">
        <div class="col-sm-1 col-12 pt-3">
          <ul class="list-unstyled m-0">
            <li class="list-unstyled d-inline pr-2">
              <a routerLink="/home">
                <img src="/consumer-app/assets/images/logo.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-7 mt-2">
          <div class="dialogue dialogue_right clearfix">
            <!-- <form (ngSubmit)="core.search(searchBar.value)">
              <input type="text" #searchBar placeholder="what can we help you find?">
              <span>
                <img src="/consumer-app/assets/images/voice.png">
              </span>
            </form> -->
            <input type="text" [(ngModel)]="core.searchBar" (blur)="core.hideSuggesstionList()" (keyup)="core.searchSuggestion(core.searchBar, $event)" placeholder="What can we help you find?">
            <span>
              <img src="/consumer-app/assets/images/voice.png">
            </span>
            <!-- <div class="p-0 float-left text-left suggesstionList suggesstionListBig" *ngIf="core.suggesstionList != undefined && core.suggesstionList.length > 0">
              <button *ngFor="let list of core.suggesstionList; let i = index" (click)="core.search(list)" [ngClass]="{'activeList':i == core.arrowkeyLocation}">{{list}}</button>
            </div> -->
          </div>
        </div>
        <div class="col-sm-4 col-12 text-right">
          <ul class="hdr_menuTop">
            <!--Non Logged In User-->
            <li *ngIf="core.hideUser">
              <span class="float-left">
                <img src="/consumer-app/assets/images/icon_user.png" />
              </span>
              <h4>
                <a routerLink="/login" style="color:white">ACCOUNT LOGIN</a>
              </h4>
              <h5>
                or
                <a routerLink="/join-kala">Create an Account</a>
              </h5>
            </li>
            <!--Non Logged In User-->

            <!--Logged In User-->
            <li *ngIf="!core.hideUser">
              <span class="float-left userProfileImage">
                <img [src]="core.userImg" />
              </span>
              <h5 class="staticMsgName">Hi
                <a class="colorred dynamicName">{{firstName}}</a>
              </h5>
              <div class="btn-group float-left">
                <div ngbDropdown class="d-inline-block">
                  <a class="btn" id="dropdownBasic1" ngbDropdownToggle>MY LOUNGE</a>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <!--Menu Itmes-->
                    <div class="row p-2">
                      <div class="col-sm-2 pr-0">
                        <img [src]="core.userImg" class="img-fluid">
                      </div>
                      <div class="col-sm-10">
                        <p>{{firstName}} {{lastName}}</p>
                        <p>{{emailId}}</p>
                      </div>
                    </div>

                    <div class="dropdown-item" routerLink="/myaccount">
                      <i class="fa fa-user-o" aria-hidden="true"></i>
                      <span>My Account</span>
                    </div>

                    <div class="dropdown-item" routerLink="/mycart">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      <span>My Cart</span>
                      <span class="right" *ngIf="core.showNoOfItemsInCart()">{{core.noOfItemsInCart}}</span>
                    </div>

                    <div class="dropdown-item" routerLink="/myorder">
                      <i class="fa fa-briefcase" aria-hidden="true"></i>
                      <span>My Orders</span>
                    </div>

                    <div class="dropdown-item" routerLink="/myoffer">
                      <i class="fa fa-tag" aria-hidden="true"></i>
                      <span>My Offers</span>
                    </div>

                    <div class="dropdown-item" routerLink="/myalerts">
                      <i class="fa fa-bell-o" aria-hidden="true"></i>
                      <span>News & Alerts</span>
                    </div>

                    <div class="dropdown-item" routerLink="/logout">
                      <i class="fa fa-sign-out" aria-hidden="true"></i>
                      <span>Sign Out</span>
                    </div>
                    <!--Menu Itmes-->
                  </div>
                </div>
              </div>
            </li>
            <!--Logged In User-->
            <li>
              <a class="anc_Cart" routerLink="/mycart">
                <span class="cartNotify" *ngIf="core.showNoOfItemsInCart()">{{core.noOfItemsInCart}}</span>
                <span class="float-left">
                  <img src="/consumer-app/assets/images/icon_cart.png">
                </span>
                <h4>CART</h4>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="mob-header">
    <div class="row">
      <div class="col-6">
        Home & Garden
      </div>
      <div class="col-6 text-right">
        category
        <img src="/consumer-app/assets/images/category.png">
      </div>
    </div>
  </div>
</header>

<header *ngIf="getHeader == 'header2'">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top header_sub">
    <div class="container web-header">
      <div class="row">
        <div class="col-sm-1 pt-3">
          <ul class="list-unstyled d-none m-0 logo">
            <li class="list-unstyled d-inline pr-2">
              <a routerLink="/home">
                <img src="/consumer-app/assets/images/logo.png" />
              </a>
            </li>
          </ul>
          <ul class="list-unstyled mob-social">
            <li class="list-unstyled d-inline pr-2">
              <a href="https://www.facebook.com/KalaMarketplace" target="_blank">
                <img src="/consumer-app/assets/images/face.png" />
              </a>
            </li>
            <li class="list-unstyled d-inline">
              <a href="https://twitter.com/kalamarketplace" target="_blank">
                <img src="/consumer-app/assets/images/twitter.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-7 mt-2">
          <div class="col-sm-12 mb-3 p-0" *ngIf="core.showPageMsg">
            <span class="dialogue dialogue_left">{{core.pageMsg}}</span>
          </div>
          <div class="col-sm-12 mb-3 p-0 pr-3" *ngIf="core.navVisible">
            <a class="dialogue dialogue_left">{{core.showHeaderMessage}}</a>
          </div>
          <div class="dialogue dialogue_right clearfix searchBox position-relative" *ngIf="core.showSearch">
            <!-- <form (ngSubmit)="core.search(searchBar.value)">
              <input type="text" #searchBar placeholder="what can we help you find?">
              <span>
                <img src="/consumer-app/assets/images/voice.png">
              </span>
            </form> -->
            <input type="text" [(ngModel)]="core.searchBar" (blur)="core.hideSuggesstionList()" (keyup)="core.searchSuggestion(core.searchBar, $event)" placeholder="What can we help you find?">
            <span>
              <img src="/consumer-app/assets/images/voice.png">
            </span>
            <!-- <div class="p-0 float-left text-left suggesstionList suggesstionListBig" style="left: 8px" *ngIf="core.suggesstionList != undefined && core.suggesstionList.length > 0">
              <button *ngFor="let list of core.suggesstionList; let i = index" (click)="core.search(list)" [ngClass]="{'activeList':i == core.arrowkeyLocation}">{{list}}</button>
            </div> -->
          </div>
          <div *ngIf="!core.showSearch" class="col-sm-12 mb-3 p-0 text-right pr-3">
            <a class="dialogue dialogue_right colorwhite" [routerLink]="['/getoffer', 'step1']">{{core.searchMessage}}</a>
          </div>
        </div>
        <div class="col-sm-4 text-right">
          <ul class="hdr_menuTop">
            <!--Non Logged In User-->
            <li *ngIf="core.hideUser">
              <span class="float-left">
                <img src="/consumer-app/assets/images/icon_user.png" />
              </span>
              <h4>
                <a routerLink="/login" style="color:white">ACCOUNT LOGIN</a>
              </h4>
              <h5>
                or
                <a routerLink="/join-kala">Create an Account</a>
              </h5>
            </li>
            <!--Non Logged In User-->

            <!--Logged In User-->
            <li *ngIf="!core.hideUser">
              <span class="float-left userProfileImage">
                <img [src]="core.userImg" />
              </span>
              <h5 class="staticMsgName">Hi
                <a class="colorred dynamicName">{{firstName}}</a>
              </h5>
              <div class="btn-group float-left">
                <div ngbDropdown class="d-inline-block">
                  <a class="btn" id="dropdownBasic1" ngbDropdownToggle>MY LOUNGE</a>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <!--Menu Itmes-->
                    <div class="row p-2">
                      <div class="col-sm-2 pr-0">
                        <img [src]="core.userImg" class="img-fluid">
                      </div>
                      <div class="col-sm-10">
                        <p>{{firstName}} {{lastName}}</p>
                        <p>{{emailId}}</p>
                      </div>
                    </div>

                    <div class="dropdown-item" routerLink="/myaccount">
                      <i class="fa fa-user-o" aria-hidden="true"></i>
                      <span>My Account</span>
                    </div>

                    <div class="dropdown-item" routerLink="/mycart">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      <span>My Cart</span>
                      <span class="right" *ngIf="core.showNoOfItemsInCart()">{{core.noOfItemsInCart}}</span>
                    </div>

                    <div class="dropdown-item" routerLink="/myorder">
                      <i class="fa fa-briefcase" aria-hidden="true"></i>
                      <span>My Orders</span>
                    </div>

                    <div class="dropdown-item" routerLink="/myoffer">
                      <i class="fa fa-tag" aria-hidden="true"></i>
                      <span>My Offers</span>
                    </div>

                    <div class="dropdown-item" routerLink="/myalerts">
                      <i class="fa fa-bell-o" aria-hidden="true"></i>
                      <span>News & Alerts</span>
                    </div>

                    <div class="dropdown-item" routerLink="/logout">
                      <i class="fa fa-sign-out" aria-hidden="true"></i>
                      <span>Sign Out</span>
                    </div>
                    <!--Menu Itmes-->
                  </div>
                </div>
              </div>
            </li>
            <!--Logged In User-->
            <li>
              <a class="anc_Cart" routerLink="/mycart">
                <span class="cartNotify" *ngIf="core.showNoOfItemsInCart()">{{core.noOfItemsInCart}}</span>
                <span class="float-left">
                  <img src="/consumer-app/assets/images/icon_cart.png">
                </span>
                <h4>CART</h4>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

</header>