<!--Header 1-->
<div *ngIf="getHeader == 'header1'" class="clearfix sub_header" style="display:block;">
  <div class="row">
    <div class="col-sm-2 text-center col-6 px-0">
      <a href="#" class="anc_topIcon">
        <img src="/consumer-app/assets/images/icon_places_stores.png" class="dft_icon" /> Places</a>
    </div>
    <div class="col-sm-2 text-center col-6 px-0">
      <a href="#" class="anc_topIcon">
        <span class="contact_icon">&nbsp;</span> Contact us</a>
    </div>
    <div class="col-sm-5 col-12 px-0 header_divide">
      <div class="dialogue dialogue_right clearfix">
        <input type="text" placeholder="What can we help you find?">
        <span>
          <img src="/consumer-app/assets/images/voice.png">
        </span>
      </div>
    </div>
    <div class="col-sm-3 col-12 row text-right">
      <div class="col-sm-5" *ngIf="core.navVisible">
        <a routerLink="/login" class="anc_topIcon">Login</a>
      </div>
      <div class="col-sm-5">
        <img src="/consumer-app/assets/images/logo.png" class="header_logo">
      </div>
    </div>
  </div>
</div>
<!--Header 1-->

<!--Header 2-->
<div *ngIf="getHeader == 'header2'" class="clearfix sub_header" style="display:block;">
  <div class="row">
    <div class="col-sm-12 mb-3 p-0">
      <span class="dialogue dialogue_left">Hi, {{firstName}}!</span>
    </div>
    <div class="col-sm-12 mb-3 p-0" *ngIf="core.navVisible">
      <span class="dialogue dialogue_left">Almost done! Just one more step to go.</span>
    </div>
    <div class="dialogue dialogue_right clearfix">
      <input type="text" placeholder="What can we help you find?">
      <span>
        <img src="/consumer-app/assets/images/voice.png">
      </span>
    </div>
  </div>


  <div class="lounge_menu displayblock">
    <img src="/consumer-app/assets/images/logo.png">
    <a *ngIf="core.showLogout()" routerLink="/logout" class="anc_topIcon">&nbsp;
      <img width="16" src="/consumer-app/assets/images/signout.png" />
    </a>
    <br />
    <br />
    <span>
      <a href="javascript:void(0)" class="lounge_trigger">lounge&nbsp;&nbsp;
        <span class="glyphicon glyphicon-triangle-bottom">
          <img src="/consumer-app/assets/images/consumer_menu.png" width="24" />
        </span>
      </a>
    </span>
  </div>
</div>
<!--Header 2-->

<!--Sidebar-->
<div id="sidebar">
  <div class="clearfix">
    <img src="/consumer-app/assets/images/avatar.jpg">
    <div>
      <p>shelleym</p>
      <p>smyers@mykala.com</p>
      <p>139 points</p>
    </div>
  </div>
  <table class='table'>
    <tbody>
      <tr>
        <td>
          <img src="/consumer-app/assets/images/icon_my_cart.png">
          <span>My cart</span>
        </td>
        <td class="right">3</td>
      </tr>
      <tr>
        <td>
          <img src="/consumer-app/assets/images/icon_my_orders.png">
          <span>My orders</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <img src="/consumer-app/assets/images/icon_my_bids.png">
          <span>My bids</span>
        </td>
        <td class="right">3</td>
      </tr>
      <tr>
        <td>
          <img src="/consumer-app/assets/images/icon_news_alerts.png">
          <span>News & Alerts</span>
        </td>
        <td class="right">3</td>
      </tr>
      <tr>
        <td>
          <img src="/consumer-app/assets/images/icon_my_favorites.png">
          <span>My favorites</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <img src="/consumer-app/assets/images/icon_my_community.png">
          <span>My commmunity</span>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<!--Sidebar-->