<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Logo</a>
  <ul class="navbar-nav" *ngIf="core.navVisible">
    <li class="nav-item">
      <a class="nav-link" routerLink="/status" routerLinkActive="active">Status</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cui" routerLinkActive="active">Conversational UI</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/logout" routerLinkActive="logout">Logout</a>
    </li>
  </ul>
</nav> -->

<div class="clearfix sub_header" style="display:block;">
  <div class="row">
    <div class="col-sm-2 text-center col-6 px-0">
      <a href="#" class="anc_topIcon">
        <img src="/consumer-app/assets/images/icon_places_stores.png" class="dft_icon" /> places</a>
    </div>
    <div class="col-sm-2 text-center col-6 px-0">
      <a href="#" class="anc_topIcon">
        <span class="contact_icon">&nbsp;</span> Contact us</a>
    </div>
    <div class="col-sm-5 col-12 px-0 header_divide">
      <div class="dialogue dialogue_right clearfix">
        <input type="text" placeholder="What do you want today?">
        <span>
          <img src="/consumer-app/assets/images/voice.png">
        </span>
      </div>
    </div>
    <div class="col-sm-3 col-12 row text-right">
      <div class="col-sm-5">
        <a routerLink="/login" class="anc_topIcon">login</a>
      </div>
      <div class="col-sm-5">
        <img src="/consumer-app/assets/images/logo.png" class="header_logo">
      </div>
    </div>
  </div>
</div>
<!--<div class="lounge_menu displayblock">
      <div class="col-sm-6">
          <a href="#" class="anc_topIcon">login</a>
      </div>
      <div class="col-sm-6">
          <img src="../images/logo.png">
      </div> 
  </div>-->
<div id="sidebar">
  <div class="clearfix">
    <img src="/consumer-app/assets/images/avatar.jpg">
    <div>
      <p>shelleym</p>
      <p>smyers@mykala.com</p>
      <p>139 points</p>
    </div>
  </div>
  <table class='table'>
    <tbody>
      <tr>
        <td>
          <img src="/consumer-app/assets/images/icon_my_cart.png">
          <span>My cart</span>
        </td>
        <td class="right">3</td>
      </tr>
      <tr>
        <td>
          <img src="/consumer-app/assets/images/icon_my_orders.png">
          <span>My orders</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <img src="/consumer-app/assets/images/icon_my_bids.png">
          <span>My bids</span>
        </td>
        <td class="right">3</td>
      </tr>
      <tr>
        <td>
          <img src="/consumer-app/assets/images/icon_news_alerts.png">
          <span>News & Alerts</span>
        </td>
        <td class="right">3</td>
      </tr>
      <tr>
        <td>
          <img src="/consumer-app/assets/images/icon_my_favorites.png">
          <span>My favorites</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <img src="/consumer-app/assets/images/icon_my_community.png">
          <span>My commmunity</span>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>