<div class="p-1" *ngFor="let attr of attributes">
    <span [ngSwitch]="attr.attrType">
        <div *ngSwitchCase="'select'">
            <app-pmd-inputselect [prodAttr]="attr" (prodAttrChange)="changeAttrValue(attr)" (onDelete)="deleteAttr(attr)" [data]="getAttrbuteKeyMasterData(attr)"></app-pmd-inputselect>
        </div>
        <div *ngSwitchCase="'string'">
            <app-pmd-inputtext [prodAttr]="attr" (prodAttrChange)="changeAttrValue(attr)" (onDelete)="deleteAttr(attr)"></app-pmd-inputtext>
        </div>
        <div *ngSwitchCase="'array'">
            <app-pmd-inputlist [prodAttr]="attr" (prodAttrChange)="changeAttrValue(attr)" (onDelete)="deleteAttr(attr)"></app-pmd-inputlist>
        </div>
    </span>
</div>
<hr />
<div class="row p-2">
    <div class="col-sm-12 text-right hide">
        <a class="btn btn-default ancProfile1">Next</a>
    </div>
    <div class="col-sm-12 text-right show">
        <a class="btn btn-default ancProfile1" (click)="saveData()">Save &amp; Next</a>
    </div>
</div>