<!-- <div class="row p-3">
    Product dimensions
</div>
<div class="row p-2">
    <div class="col-sm-2 p-2 colorlightGray">
        <label class="control-label">Length:</label>
    </div>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern>
            <span class="input-group-addon" id="basic-addon1">
                <select class="ddl_Product">
                    <option>inches</option>
                    <option>centimeters</option>
                    <option>feet</option>
                </select>
            </span>
        </div>

    </div>
    <div class="col-sm-2 p-2 colorlightGray">
        <label class="control-label">Height:</label>
    </div>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern>
        </div>

    </div>
    <div class="col-sm-2 p-2 colorlightGray">
        <label class="control-label">Weight:</label>
    </div>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern>
        </div>

    </div>
</div>
<div class="row p-3">
    Product weight
</div>
<div class="row pb-2 pr-4 pl-3">
    <div class="input-group">
        <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern>
        <span class="input-group-addon" id="basic-addon1">
            <select class="ddl_Product">
                <option>pounds</option>
                <option>ounces</option>
            </select>
        </span>
    </div>
</div>
<div class="row p-3">
    Shipping weight
</div>
<div class="row pb-2 pr-4 pl-3">
    <div class="input-group">
        <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern>
        <span class="input-group-addon" id="basic-addon1">
            <select class="ddl_Product">
                <option>pounds</option>
                <option>ounces</option>
            </select>
        </span>
    </div>
</div>
<div class="row p-3">
    Package dimensions
</div>
<div class="row">
    <table class="table table-borderless">
        <tr>
            <td width="5%">
                <input type="radio" value="1" name="select" />
            </td>
            <td width="95%">
                <div class="row border_outline mr-3">
                    <div class="col-sm-8 p-3">
                        <strong>Small</strong>
                        <div>Max. Size: Length + (2 x Width) + (2 x Height)
                            <=2 8”</div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <img src="/admin-app/assets/images/icon_small.png" />
                        </div>
                    </div>
            </td>
        </tr>
        <tr>
            <td width="5%">
                <input type="radio" value="1" name="select" />
            </td>
            <td width="95%">
                <div class="row border_outline mr-3">
                    <div class="col-sm-8 p-3">
                        <strong>Medium</strong>
                        <div>Max. Size: Length + (2 x Width) + (2 x Height) > 28”,
                            <=8 4”</div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <img src="/admin-app/assets/images/icon_medium.png" />
                        </div>
                    </div>
            </td>
        </tr>
        <tr>
            <td width="5%">
                <input type="radio" value="1" name="select" />
            </td>
            <td width="95%">
                <div class="row border_outline mr-3">
                    <div class="col-sm-8 p-3">
                        <strong>Large</strong>
                        <div>Max. Size: Length + (2 x Width) + (2 x Height) > 84”,
                            <=1 65”</div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <img src="/admin-app/assets/images/icon_Large.png" />
                        </div>
                    </div>
            </td>
        </tr>
        <tr>
            <td width="5%">
                <input type="radio" value="1" name="select" />
            </td>
            <td width="95%">
                <div class="row border_outline mr-3">
                    <div class="col-sm-8 p-3">
                        <strong>Oversized</strong>
                        <div>Max. Size: Length + (2 x Width) + (2 x Height) > 165”</div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="/admin-app/assets/images/icon_oversize.png" />
                    </div>
                </div>
            </td>
        </tr>
    </table>
    </div>
    <div class="row p-3">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 p-0 text-right">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">Action - 1</button>
                    <button class="dropdown-item">Another Action</button>
                    <button class="dropdown-item">Something else is here</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-12 p-0">
            Additional features:
            <span class="float-right">
                <a href="#" class="circle_Gray">x</a>
            </span>
        </div>
    </div>
    <div class="row m-2">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="Wood" pattern>
            <span class="input-group-addon" id="basic-addon1">X</span>
        </div>
    </div>
    <div class="row m-2">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern>
            <span class="input-group-addon" id="basic-addon1">X</span>
        </div>
    </div>
    <div class="row m-2">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern>
            <span class="input-group-addon" id="basic-addon1">X</span>
        </div>
    </div>
    <div class="col-sm-12 text-right p-2">
        <a href="#">Add more</a>
    </div> -->
<div *ngFor="let attr of attributes">
    <span [ngSwitch]="attr.attrType">
        <div *ngSwitchCase="'string'">
            <app-pmd-inputselect [prodAttr]="attr" (prodAttrChange)="changeAttrValue(attr)" (onDelete)="deleteAttr(attr)" [data]="getAttrbuteKeyMasterData(attr)"></app-pmd-inputselect>
        </div>
        <div *ngSwitchCase="'number'"> </div>
        <div *ngSwitchCase="'array'">
            <app-pmd-inputlist [prodAttr]="attr" (prodAttrChange)="changeAttrValue(attr)" (onDelete)="deleteAttr(attr)"></app-pmd-inputlist>

        </div>
    </span>
</div>
<!-- <div class="row m-2">
        <div class="col-sm-12 p-0">
            Number of Lights:
            <span class="float-right">
                <a href="#" class="circle_Gray">x</a>
            </span>
        </div>
    </div>
    <div class="row m-2">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-12 p-0">
            Voltage:
            <span class="float-right">
                <a href="#" class="circle_Gray">x</a>
            </span>
        </div>
    </div>
    <div class="row m-2">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern>
            <span class="input-group-addon" id="basic-addon1">Volts</span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-12 p-0">
            Base diameter:
            <span class="float-right">
                <a href="#" class="circle_Gray">x</a>
            </span>
        </div>
    </div>
    <div class="row m-2">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
            <span class="input-group-addon" id="basic-addon1">
                <select class="ddl_Product">
                    <option>inches</option>
                    <option>centimeters</option>
                    <option>feet</option>
                </select>
            </span>
        </div>
    </div> -->
<!--
<div class="row p-2">
    <div class="col-sm-2 p-2 colorlightGray">
        <label class="control-label" >Width:</label>
    </div>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
            
        </div>
    </div>
</div>
<div class="row pr-3 pl-3">
    Diameter:
</div>
<div class="row p-2">
    <div class="col-sm-12">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
            <span class="input-group-addon" id="basic-addon1">
                <select class="ddl_Product">
                    <option>inches</option>
                    <option>centimeters</option>
                    <option>feet</option>
                </select>
            </span>
        </div>
        
    </div>
</div>
<div class="row pr-3 pl-3">
    Product weight :
</div>
<div class="row p-2">
    <div class="col-sm-2 p-2 colorlightGray">
        <label class="control-label" >weight:</label>
    </div>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
            <span class="input-group-addon" id="basic-addon1">
                <select class="ddl_Product">
                    <option>pounds</option>
                    <option>ounces</option> 
                </select>
            </span>
        </div>
        
    </div>
</div>
<div class="row pr-3 pl-3">
    Shipping weight :
</div>
<div class="row p-2">
    <div class="col-sm-2 p-2 colorlightGray">
        <label class="control-label" >weight:</label>
    </div>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
            <span class="input-group-addon" id="basic-addon1">
                <select class="ddl_Product">
                        <option>pounds</option>
                        <option>ounces</option> 
                </select>
            </span>
        </div>
        
    </div>
</div>
<div class="row pr-3 pl-3">
    Package dimensions :
</div>
<div class="row p-2">
    <div class="col-sm-2 p-2 colorlightGray">
        <label class="control-label" >Length:</label>
    </div>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
            <span class="input-group-addon" id="basic-addon1">
                <select class="ddl_Product">
                    <option>inches</option>
                    <option>centimeters</option>
                    <option>feet</option>
                </select>
            </span>
        </div>
        
    </div>
</div>
<div class="row p-2">
    <div class="col-sm-2 p-2 colorlightGray">
        <label class="control-label" >Height:</label>
    </div>
    <div class="col-sm-10">
        <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
        
    </div>
</div>
<div class="row p-2">
    <div class="col-sm-2 p-2 colorlightGray">
        <label class="control-label" >Width:</label>
    </div>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
            
        </div>
    </div>
</div>
<div class="row pr-3 pl-3">
    Maximum compatible wattage:
</div>
<div class="row p-2">
    <div class="col-sm-12">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
            <span class="input-group-addon" id="basic-addon1"> watts </span>
        </div>
        
    </div>
</div>
<div class="row pr-3 pl-3">
    Included components:
</div>
<div class="row p-2">
    <div class="col-sm-12">
        <div class="input-group">
            <select class="ddl_default form-control w-100">
                <option>select any option</option>
                <option>select any option</option>
                <option>select any option</option>
            </select>
        </div>
    </div>
</div>
<div class="row pr-3 pl-3">
    Additional features:
</div>
<div class="row p-2">
    <div class="col-sm-12">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="Wood" pattern >
            <span class="input-group-addon" id="basic-addon1"> X </span>
        </div>
        
    </div>
</div>
<div class="row p-2">
    <div class="col-sm-12">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
            <span class="input-group-addon" id="basic-addon1"> watts </span>
        </div>
        
    </div>
</div>
<div class="row pr-3 pl-3">
    <div class="col-sm-12 p-3 text-right">
        <a class="btn btn-default ancProfile1">Add feature</a>
    </div> 
</div>
<div class="row pr-3 pl-3">
    Number of lights:
</div>
<div class="row p-2">
    <div class="col-sm-12">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
        </div>
        
    </div>
</div>
<div class="row pr-3 pl-3">
    Voltage:
</div>
<div class="row p-2">
    <div class="col-sm-12">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="Wood" pattern >
            <span class="input-group-addon" id="basic-addon1"> Volts </span>
        </div>
        
    </div>
</div>
<div class="row pr-3 pl-3">
    Switch type:
</div>
<div class="row p-2">
    <div class="col-sm-12">
        <div class="input-group">
            <select class="ddl_default w-100">
                <option>select any option</option>
                <option>select any option</option>
                <option>select any option</option>
            </select>
        </div>

    </div>
</div>
<div class="row pr-3 pl-3">
    Base diameter:
</div>
<div class="row p-2">
    <div class="col-sm-12">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
            <span class="input-group-addon" id="basic-addon1">
                <select class="ddl_Product">
                    <option>inches</option>
                    <option>centimeters</option>
                    <option>feet</option>
                </select>
            </span>
        </div>
        
    </div>
</div> 
<div class="row pr-3 pl-3">
    Material type:
</div>
<div class="row pr-3 pl-3"> 
    <div class="col-sm-12">
        <input type="checkbox">
        <label class="control-label" > Crystal </label>
    </div>
    <div class="col-sm-12">
        <input type="checkbox">
        <label class="control-label" > Bamboo </label>
    </div>
    <div class="col-sm-12">
        <input type="checkbox">
        <label class="control-label" > Ceramic </label>
    </div>
    <div class="col-sm-12">
        <input type="checkbox">
        <label class="control-label" > Metal </label>
    </div>
    <div class="col-sm-12">
        <input type="checkbox">
        <label class="control-label" > Wood </label>
    </div>
    <div class="col-sm-12">
        <input type="checkbox">
        <label class="control-label" > Glass </label>
    </div>
</div>
<div class="row p-2">
    <div class="col-sm-12">
        <div class="input-group">
            <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern >
            <span class="input-group-addon" id="basic-addon1">
                +
            </span>
        </div>
        
    </div>
</div> -->
<hr />
<div class="row p-2">
    <div class="col-sm-12 text-right hide">
        <a class="btn btn-default ancProfile1">Next</a>
    </div>
    <div class="col-sm-12 text-right show">
        <a class="btn btn-default ancProfile1" (click)="saveData()">Save &amp; Next</a>
    </div>
</div>