<div class="col-sm-12 p-0" [formGroup]="fG1">
    <table class="table w-100">
        <tbody>
            <tr>
                <td class="border-0">
                    <select class="ddl_default form-control" [(ngModel)]="product.productPlace" formControlName="productPlaceName" (change)="placeChanged($event)" >
                            <option [ngValue]="productPlaceDummy">Select Place</option>
                            <option *ngFor="let option of places" [ngValue]="option">
                                {{option.PlaceName}}
                            </option>
                    </select>
                    <app-field-error-display [field]="fG1.controls.productPlaceName" [errorMsg]="errorMsgs"> </app-field-error-display>
                </td>
            </tr>
            <tr>
                <td class="border-0">
                    <select class="ddl_default form-control" [(ngModel)]="product.productCategory" formControlName="productCategoryName" (change)="categoryChanged($event)" >
                            <option [ngValue]="productCategoryDummy">Select Category</option>
                            <option *ngFor="let option of categories" [ngValue]="option">
                                {{option.CategoryName}}
                            </option>
                    </select>
                    <app-field-error-display [field]="fG1.controls.productCategoryName" [errorMsg]="errorMsgs"> </app-field-error-display>
                </td>
            </tr>
            <tr>
                <td class="border-0">
                    <select class="ddl_default form-control" [(ngModel)]="product.productSubCategory" formControlName="productSubCategoryName" (change)="subCategoryChanged($event)" >
                            <option [ngValue]="productSubCategoryDummy">Select Sub Catetory</option>
                            <option *ngFor="let option of subCategories" [ngValue]="option">
                                {{option.SubCategoryName}}
                            </option>
                    </select>
                    <app-field-error-display [field]="fG1.controls.productSubCategoryName" [errorMsg]="errorMsgs"> </app-field-error-display>
                </td>
            </tr>
            <tr>
                <td class="border-0">
                    <select class="ddl_default form-control" [(ngModel)]="product.productType" formControlName="productTypeName" (change)="typeChanged($event)" >
                            <option [ngValue]="productTypeDummy">Select Type</option>
                            <option *ngFor="let option of productTypes" [ngValue]="option">
                                {{option.TypeName}}
                            </option>
                    </select>
                    <app-field-error-display [field]="fG1.controls.productTypeName" [errorMsg]="errorMsgs"> </app-field-error-display>
                </td>
            </tr>
        </tbody>
    </table>
    {{product|json}}
    <hr />
    <div class="text-right pb-3">
        <a class="btn btn-default" (click)="saveData()">Save</a>
    </div>
</div>