<div class="col-sm-12 p-0">
    <table class="table w-100">
        <tbody>
            <tr>
                <td class="border-0">
                    <select class="ddl_default form-control"    >
                        <option>Home & Garden (546)</option>
                        <option>Health & Fitness (321)</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="border-0">
                    <select class="ddl_default form-control"    >
                        <option>Home & Garden (546)</option>
                        <option>Health & Fitness (321)</option>
                        <option>Furniture &amp; Patio (162)</option>
                        <option>Lighting (27)</option>
                        <option>Lawn &amp; Garden (43)</option>
                        <option>Supplies (50)</option>
                        <option>Bedding &amp; Linens (13)</option>
                        <option>Emergency &amp; Safety (11)</option>
                        <option>Pool &amp; Spa (15)</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="border-0">
                    <select class="ddl_default form-control"    >
                        <option>Lamps (3)</option>
                        <option>Light Bulbs (3)</option>
                        <option>Nightlights</option>
                        <option>Light Ropes &amp; Srings</option>
                        <option>Lighting Fixtures (4)</option>
                        <option>Track Lighting</option>
                        <option>Landscape Lighting (4)</option>
                        <option>Emergency Lighting</option>
                        <option>Flood &amp; Spot lights</option>
                        <option>Lamp Shades</option>
                        <option>Timers &amp; Accessories</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="border-0">
                    <select class="ddl_default form-control" >
                        <option>Table Lamps</option>
                        <option>Floor Lamps</option>
                        <option>Ceiling Lamps</option> 
                    </select> 
                </td> 
            </tr>  
        </tbody>
    </table>
    <hr />
    <div class="text-right pb-3">
        <a class="btn btn-default" href="#">Save</a>
    </div>
 </div>
        