<div class="container">
  <div style="height:135px;width:100%;"></div>
  <div class="title">
    <h2 class="mt-0 mb-5">Leave Review
      <span class="btnClose" routerLink="/myorder" style="cursor: pointer">X</span>
    </h2>
  </div>

  <!--Review Block-->
  <div class="row backgroundWhite p-2 m-1 mb-5">
    <!--Product Image-->
    <div class="col-sm-2 pt-2">
      <img [src]="this.productForReview.order.productImage" class="img-fluid" />
    </div>
    <!--Product Image-->

    <!--Product Details and Review Block-->
    <div class="col-sm-10">
      <div class="colorlightGray">
        <strong>{{this.requestReviewModel.productName}}</strong>
        <br />
        <span class="float-right align-top">
          <i class="fa fa-star-o starIcon" style="cursor: pointer" (click)="selectRating($event)" data-number="1" aria-hidden="true"></i>
          <i class="fa fa-star-o starIcon" style="cursor: pointer" (click)="selectRating($event)" data-number="2" aria-hidden="true"></i>
          <i class="fa fa-star-o starIcon" style="cursor: pointer" (click)="selectRating($event)" data-number="3" aria-hidden="true"></i>
          <i class="fa fa-star-o starIcon" style="cursor: pointer" (click)="selectRating($event)" data-number="4" aria-hidden="true"></i>
          <i class="fa fa-star-o starIcon" style="cursor: pointer" (click)="selectRating($event)" data-number="5" aria-hidden="true"></i>
        </span>
      </div>
      <div class="colorred">{{this.requestReviewModel.retailerName}}
        <br />
        <br />
      </div>
      <textarea class="form-control w-100" rows="5" placeholder="Write your review here..." [(ngModel)]="reviewContent"></textarea>
      <div>
        <small class="colorlightGray">Please provide a minimum of 5 words in your review</small>
        <div class="float-right my-3">
          <!--Images Area-->
          <input (change)="fileChangeEvent($event)" type="file" class="form-control uploadImage" />
          <span class="reviewImageContainer" *ngIf="requestReviewModel.reviewImages">
            <img [src]="requestReviewModel.reviewImages" />
          </span>
          <!--Images Area-->
          <button class="btn-outer btn_redouter_right" (click)="callUpload()">upload photo</button>
          <button style="cursor: pointer" class="btn-outer btn_red_right" (click)="postReview()">post your review</button>
          <img src="/consumer-app/assets/images/loader.gif" *ngIf="loader" />
        </div>
      </div>
    </div>
    <!--Product Details and Review Block-->
  </div>
  <!--Review Block-->
</div>

<!--Leave Review Success-->
<ng-template #leaveReviewSubmittedModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Leave Review</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{reviewValidationMsg}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outer btn_red_right" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<!--Leave Review Success-->