<div class="container">
  <app-sub-menus></app-sub-menus>
  <div class="contentHeight"></div>

  <!--Cart-->
  <div class="myCart mt-4">
    <div class="myCart-list" *ngFor="let item of itemsInCart | reverse">
      <h4 class="subtitle" id="{{item.retailerId}}">{{item.retailerName}}</h4>
      <div class="row">
        <div class="col-sm-2 col-3 pr-0">
          <img [src]="item.productImage" (click)="core.getProductDetails(item.productId)" class="img-fluid cursor" />
        </div>
        <div class="col-sm-7 col-9 pl-4">
          <div id="{{item.productId}}">
            <strong (click)="core.getProductDetails(item.productId)" class="cursor">{{item.productName}}</strong>
          </div>
          <div class="row pt-2 pb-2">
            <div class="col-sm-3 col-3 colorlightGray">Quantity:</div>
            <div class="col-sm-9 col-9">
              <button class="btn btn_red_right customBtnSmall mr-3 decreaseQuantity" (click)="calculateQantity($event, 'decrease', item)">-</button>
              {{item.quantity}}
              <button class="btn btn_red_right customBtnSmall ml-3 increaseQuantity" (click)="calculateQantity($event, 'increase', item)">+</button>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-sm-3 col-3 colorlightGray">Price:</div>
            <div class="col-sm-9 col-9">{{item.price | currency}}</div>
          </div>
          <div class="myCart-btn_mob">
            <div class="row">
              <div class="col-sm-5 col-5 text-right">
                <a class="btn_redouter_right" (click)="deleteItem(item, 'cart')">delete</a>
              </div>
              <div class="col-sm-7 col-7 pr-4 text-right">
                <a class="btn_redouter_right" (click)="move(item, 'toWishlist')">save&nbsp;for&nbsp;later</a>
              </div>
            </div>
          </div>
          <hr />
          <div class="row p-2 myCart-price">
            <p class="col-sm-3 col-6 colorred">Total price:</p>
            <p class="col-sm-9 col-6 colorred">
              <strong class="itemPrices">{{itemTotal(item.price, item.quantity) | currency}}</strong>
            </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row myCart-btn_web">
            <div class="col-sm-12 col-5 d-block pb-4">
              <a class="btn-outer btn_redouter_right" (click)="deleteItem(item, 'cart')">delete</a>
            </div>
            <div class="col-sm-12 col-7 d-block">
              <a class="btn-outer btn_redouter_right" (click)="move(item, 'toWishlist')">save&nbsp;for&nbsp;later</a>
            </div>
          </div>
          <!-- <div class="row pt-3 pb-1">
            
          </div>
          <div class="row pt-1">
            
          </div> -->
        </div>
      </div>
    </div>

    <div class="myCart-list" *ngIf="!noItemsInCart">
      <div class="col-sm-12 pt-1 pb-1 text-center">
        <div class="row">
          <div class="col-sm-2 col-6 colorred p-0 text-left">Total Amount:</div>
          <div class="col-sm-4 col-6 colorred text-left">
            <strong #TotalAmountPayable>{{totalPayableAmount() | currency}}</strong>
          </div>
          <div class="col-sm-6 col-12 p-0 colorred text-right">
            <a routerLink="/browse-product" class="btn-outer btn_redouter_right colorred mr-2">continue shopping</a>
            <a (click)="checkOut()" class="btn-outer btn_red_right" style="color:#fff">checkout</a>
          </div>
        </div>
      </div>
    </div>

    <div class="myCart-list m-0" *ngIf="cartEmpty">
      <div class="col-sm-12 pl-3 pr-3 pt-0 pb-0 text-center colorred">
        <u routerLink="/home">Your cart is empty. Click here to continue shopping.</u>
      </div>
    </div>
  </div>
  <!--Cart-->

  <div class="row">&nbsp;</div>

  <!--Saved For Later-->
  <div class="myCart" *ngIf="savedForLater.length > 0">
    <h4 class="subtitle">Saved for later</h4>

    <div class="myCart-list" *ngFor="let item of savedForLater">
      <h4 class="subtitle" id="{{item.retailerId}}">{{item.retailerName}}</h4>
      <div class="row">
        <div class="col-sm-2 pr-0">
          <img [src]="item.productImage" (click)="core.getProductDetails(item.productId)" class="img-fluid cursor" />
        </div>
        <div class="col-sm-7 pl-4">
          <div id="{{item.productId}}">
            <strong (click)="core.getProductDetails(item.productId)" class="cursor">{{item.productName}}</strong>
          </div>
          <div class="row pt-2 pb-2">
            <div class="col-sm-3 colorlightGray">Quantity:</div>
            <div class="col-sm-9">{{item.quantity}}</div>
          </div>
          <div class="row pb-2">
            <div class="col-sm-3 colorlightGray">Price:</div>
            <div class="col-sm-9">{{item.price | currency}}</div>
          </div>
          <hr />
          <div class="row">
            <p class="col-sm-3 colorred">Total price:</p>
            <p class="col-sm-9 colorred">
              <strong>{{itemTotal(item.price, item.quantity) | currency}}</strong>
            </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row pt-3 pb-1">
            <a class="btn-outer btn_redouter_right" (click)="deleteItem(item, 'wishlist')">delete</a>
          </div>
          <div class="row pt-1">
            <a class="btn-outer btn_redouter_right" (click)="move(item, 'toCart')">move to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Saved For Later-->

</div>