<div class="container">
  <app-sub-menus></app-sub-menus>
  <div style="height:135px;width:100%;"></div>

  <!--Cart-->
  <div class="myCart">
    <div class="myCart-list" *ngFor="let item of itemsInCart">
      <h4 class="subtitle" id="{{item.retailerId}}">{{item.retailerName}}</h4>
      <div class="row">
        <div class="col-sm-2 pr-0">
          <img src="/consumer-app/assets/images/catg-1.png" class="img-fluid" />
        </div>
        <div class="col-sm-7 pl-4">
          <div id="{{item.productId}}">
            <strong>{{item.productName}}</strong>
          </div>
          <div class="row pt-2 pb-2">
            <div class="col-sm-3 colorlightGray">Quantity:</div>
            <div class="col-sm-9">
              <button class="btn btn_red_right customBtnSmall mr-3 decreaseQuantity" (click)="calculateQantity($event, 'decrease', item)">-</button>
              {{item.quantity}}
              <button class="btn btn_red_right customBtnSmall ml-3 increaseQuantity" (click)="calculateQantity($event, 'increase', item)">+</button>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-sm-3 colorlightGray">Price:</div>
            <div class="col-sm-9">${{item.price}}</div>
          </div>
          <hr />
          <div class="row p-2">
            <p class="col-sm-3 colorred">Total price:</p>
            <p class="col-sm-9 colorred">
              $
              <strong class="itemPrices">{{itemTotal(item.price, item.quantity)}}</strong>
            </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row pt-3 pb-1">
            <a class="btn-outer btn_redouter_right" (click)="deleteItem(item, 'cart')">delete</a>
          </div>
          <div class="row pt-1">
            <a class="btn-outer btn_redouter_right" (click)="move(item, 'toWishlist')">save for later</a>
          </div>
        </div>
      </div>
    </div>

    <div class="myCart-list" *ngIf="!noItemsInCart">
      <div class="col-sm-12 pt-1 pb-1 text-center">
        <div class="row">
          <div class="col-sm-2 colorred p-0 text-left">Total Amount:</div>
          <div class="col-sm-4 colorred text-left">
            $
            <strong #TotalAmountPayable>{{totalPayableAmount()}}</strong>
          </div>
          <div class="col-sm-6 colorred text-right">
            <a routerLink="/browse-product" class="btn-outer btn_redouter_right colorred mr-2">continue shopping</a>
            <a (click)="checkOut()" class="btn-outer btn_red_right" style="color:#fff">checkout</a>
          </div>
        </div>
      </div>
    </div>

    <div class="myCart-list" *ngIf="cartEmpty">
      <div class="col-sm-12 p-3 text-center colorred">
        Your cart is empty.
        <u routerLink="/home">Click here to continue shopping.</u>
      </div>
    </div>
  </div>
  <!--Cart-->

  <div class="row">&nbsp;</div>

  <!--Saved For Later-->
  <div class="myCart" *ngIf="savedForLater.length > 0">
    <h4 class="subtitle">Saved for later</h4>

    <div class="myCart-list" *ngFor="let item of savedForLater">
      <h4 class="subtitle" id="{{item.retailerId}}">{{item.retailerName}}</h4>
      <div class="row">
        <div class="col-sm-2 pr-0">
          <img src="/consumer-app/assets/images/catg-1.png" class="img-fluid" />
        </div>
        <div class="col-sm-7 pl-4">
          <div id="{{item.productId}}">
            <strong>{{item.productName}}</strong>
          </div>
          <div class="row pt-2 pb-2">
            <div class="col-sm-3 colorlightGray">Quantity:</div>
            <div class="col-sm-9">{{item.quantity}}</div>
          </div>
          <div class="row pb-2">
            <div class="col-sm-3 colorlightGray">Price:</div>
            <div class="col-sm-9">${{item.price}}</div>
          </div>
          <hr />
          <div class="row">
            <p class="col-sm-3 colorred">Total price:</p>
            <p class="col-sm-9 colorred">
              $
              <strong>{{itemTotal(item.price, item.quantity)}}</strong>
            </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row pt-3 pb-1">
            <a class="btn-outer btn_redouter_right" (click)="deleteItem(item, 'wishlist')">delete</a>
          </div>
          <div class="row pt-1">
            <a class="btn-outer btn_redouter_right" (click)="move(item, 'toCart')">move to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Saved For Later-->

</div>