<div class="container">
  <div style="height:120px;width:100%;"></div>
  <!--Title-->
  <div class="title">
    <h2>{{selectedProduct.product.productName}} |
      <span class="btnClose" routerLink="/browse-product" style="cursor: pointer">X</span>
    </h2>
  </div>
  <!--Title-->

  <div class="row">&nbsp;</div>

  <!--Social Media and Retailer-->
  <div>
    <!-- <img src="/consumer-app/assets/images/prod-thumb.png" /> -->
    <u style="cursor:pointer" (click)="animateToTiles()">{{selectedProduct.retailerName}}</u>
  </div>
  <!--Social Media and Retailer-->

  <div class="row">&nbsp;</div>

  <div class="row">
    <!--Left Images Carosel-->
    <div class="col-sm-6 p-0">
      <div class="container">
        <!-- main slider carousel -->
        <div class="row">
          <ngb-carousel class="customSlider w-100">
            <ng-template ngbSlide *ngFor="let image of selectedProduct.product.productImages; let i=index">
              <img src="{{s3}}{{image.location}}" alt="Slide {{i}}">
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
    <!--Left Images Carosel-->

    <!--Right Details-->
    <div class="col-sm-6 productDtl-right">
      <h4 class="pl-2">
        {{selectedProduct.product.kalaPrice | currency}}
        <span style="text-decoration: line-through; font-size: 16px; margin-left: 20px;">{{selectedProduct.product.retailPrice | currency}}</span>
      </h4>

      <!-- <strike>$258.00 +</strike> -->
      <div class="row">
        <div *ngIf="!alreadyAddedInCart" class="col-sm-12 pl-4 pt-3 mb-4">
          <label>
            <strong>Select Quantity</strong>
          </label>
          <select [(ngModel)]="quantity" class="form-control">
            <option *ngFor="let i of inStock" value="{{i}}">{{i}}</option>
          </select> {{selectedProduct.product.quantity}} in stock
        </div>

        <div *ngIf="!alreadyAddedInCart" class="col-sm-12 p-2 pl-4 pr-4">
          <input class="btn btn_red_right w-100" type="button" [disabled]="!quantity" (click)="addToCart('toCart')" value="buy it now" />
        </div>

        <div *ngIf="alreadyAddedInCart" class="col-sm-12 p-2 pl-4 pr-4 mt-3">
          <label>
            <strong>Item already added in cart</strong>
          </label>
          <input class="btn btn_red_right w-100" type="button" routerLink="/mycart" value="go to cart" />
        </div>

        <div *ngIf="!alreadyAddedInCart" class="col-sm-12">
          <div class="row p-2">
            <div class="col-sm-12">
              <input class="btn w-100 btn_redouter_right" routerLink="/getoffer" type="button" value="get offers" />
            </div>
            <!-- <div class="col-sm-6">
              <input class="btn w-100 btn_redouter_right" type="button" [disabled]="!quantity" (click)="addToCart('toWishlist')" value="save for later" />
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!--Right Details-->
  </div>

  <div class="row">&nbsp;</div>

  <!--Description-->
  <div class="row">
    <h4 class="subtitle">Description</h4>
    <br />
    <p class="w-100">{{selectedProduct.product.productDescription}}</p>
  </div>
  <!--Description-->

  <!--Brand Details-->
  <div class="row">
    <h4 class="subtitle">details</h4>
    <div class="col-sm-12 p-0">
      <table width="100%">
        <tr>
          <td width="40%">Brand:</td>
          <td width="60%" class="colorred">{{selectedProduct.product.brandName}}</td>
        </tr>
      </table>
    </div>
  </div>
  <!--Brand Details-->

  <!--Reviews-->
  <div class="row mt-5">
    <h4 class="subtitle">reviews {{productReviews.length}}</h4>
    <table class="reviewlayout table" *ngIf="productReviews.length > 0;else noReviews">
      <tr *ngFor="let reviews of productReviews">
        <td class="p-0">
          <div class="star-rating">
            <strong>{{reviews.reviewDescription}}</strong>
            <span *ngFor="let rating of getRating(reviews.rating)">
              <i class="fa fa-star starIcon" aria-hidden="true"></i>
            </span>
          </div>
          <div class="star-rating mt-3 mb-2" *ngIf="reviews.reviewImages">
            <span class="readReviewImage">
              <img [src]="reviews.reviewImages" />
            </span>
          </div>
          <div class="colorlightGray">by
            <u>{{reviews.firstName}} {{reviews.lastName}}</u>
          </div>
          <hr />
        </td>
      </tr>
      <!-- <tr>
        <td class="p-0 text-right">
          <a href="#" class="colorred">
            <small>show more</small>
          </a>
        </td>
      </tr> -->
    </table>
    <ng-template #noReviews>
      <div class="row w-100">
        <div class="col-sm-12">No reviews available for this product.</div>
      </div>
    </ng-template>
  </div>
  <!--Reviews-->

  <div class="row">&nbsp;</div>

  <!--Return Policy-->
  <div class="row returnPolicy">
    <h4 class="subtitle">Returns and exchange policy</h4>
    <br />
    <p class="w-100">{{selectedProduct.retailerReturns}}</p>
  </div>
  <!--Return Policy-->
</div>