<div class="container">
  <div class="contentHeight"></div>
  <img src="/consumer-app/assets/images/loader.gif" style="margin:0 49%" class="mb-5" *ngIf="loader" />

  <div *ngIf="!loader">
    <!--Title-->
    <div class="title web-title">
      <h2>{{selectedProduct.product.productName}} |
        <span *ngIf="fromES;else default" class="btnClose" routerLink="/elastic-product" style="cursor: pointer">X</span>
        <ng-template #default>
          <span class="btnClose" routerLink="/browse-product" style="cursor: pointer">X</span>
        </ng-template>
      </h2>
    </div>
    <!--Title-->

    <div class="row web-title">&nbsp;</div>

    <!--Social Media and Retailer-->
    <div class="web-title">
      <!-- <img src="/consumer-app/assets/images/prod-thumb.png" /> -->
      <u style="cursor:pointer" (click)="animateToTiles('retailer')">{{selectedProduct.product.retailerName}}</u>
    </div>
    <!--Social Media and Retailer-->

    <div class="row web-title">&nbsp;</div>

    <div class="row sliderContentContainer">
      <!--Left Images Carosel-->
      <div class="col-sm-6 p-0 sliderShadow">
        <div class="container">
          <!-- main slider carousel -->
          <div class="row" *ngIf="selectedProduct.product.productImages != undefined && selectedProduct.product.productImages.length > 0">
            <ngb-carousel class="customSlider w-100">
              <ng-template ngbSlide *ngFor="let image of selectedProduct.product.productImages; let i=index">
                <img src="{{image.location}}" alt="Slide {{i}}">
              </ng-template>
            </ngb-carousel>
          </div>
          <!-- mobile screen -->
          <div class="title backgroundWhite row mob-title">
            <div class="col-12 p-0">
              <h2>{{selectedProduct.product.productName}} |
                <span class="btnClose" routerLink="/browse-product" style="cursor: pointer">X</span>
              </h2>
            </div>
          </div>
          <!-- mobile screen -->
        </div>
      </div>
      <!--Left Images Carosel-->

      <!--Right Details-->
      <div class="col-sm-6 col-12 productDtl-right">
        <div class="row mob-title">
          <div class="col-12 p-0 pl-2">
            <!-- <img src="/consumer-app/assets/images/prod-thumb.png" /> -->
            <u style="cursor:pointer" (click)="animateToTiles('retailer')">{{selectedProduct.product.retailerName}}</u>
          </div>
        </div>

        <div class="row">
          <h4 class="col-12 pl-4 pr-4 text_multiple" *ngIf="selectedProduct.product.retailPrice <= selectedProduct.product.kalaPrice;else showDefault">
            <span class="priceFontSize">{{selectedProduct.product.kalaPrice | currency}}</span>
          </h4>
          <ng-template #showDefault>
            <h4 class="col-12 pl-4 pr-4 text_multiple">
              <span class="priceFontSize">{{selectedProduct.product.kalaPrice | currency}}</span>
              <span style="text-decoration: line-through; font-size: 16px; color: #c3c3c3; margin-left: 20px;">{{selectedProduct.product.retailPrice | currency}}</span>
            </h4>
          </ng-template>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h3 class="productHeading">{{selectedProduct.product.productName}}</h3>
          </div>
        </div>

        <div class="row" *ngIf="totalReviewSummary != undefined && totalReviewSummary != ''">
          <div class="col-12 pl-4 pr-4 mt-2">
            <span *ngFor="let rating of getRating(5)" class="ratingStars"></span>
            <span style="color: blue" class="ml-2 cursor float-left" (click)="animateToTiles('reviews')">
              <u>{{totalReviewSummary.total}}</u>
            </span>
          </div>
        </div>

        <div class="row" *ngIf="selectedProduct.product.deliveryMethod != undefined">
          <div class="col-sm-12 pl-4 pt-4 mb-4">
            <span>Get it by
              <span style="font-family: 'open_sansbold'">{{selectedProduct.product.deliveryMethod}}</span>
            </span>
          </div>
        </div>

        <div class="row">
          <div *ngIf="!alreadyAddedInCart" class="col-sm-12 pl-4 mb-4">
            <span *ngIf="selectedProduct.product.quantity > 0;else outOfStock">{{selectedProduct.product.quantity}} in stock</span>
            <ng-template #outOfStock>
              <span>Out of stock</span>
            </ng-template>
          </div>
        </div>

        <!--If Color and Size are available-->
        <div class="row" *ngIf="dynamicColorData != undefined && dynamicColorData.length > 0 && dynamicSizeData != undefined && dynamicSizeData.length > 0; else showPartial">
          <div class="col-12 pl-4 pr-4 mb-3">
            <span class="w-25 text-left d-block float-left">Color</span>
            <span class="w-75 text-left d-block float-right">
              <span *ngFor="let color of dynamicColorData" title="{{color}}" (click)="loadSimilarItems($event, color, 'color')" class="categ_outline_gray cursor mr-2 mb-2 data_color">{{color}}</span>
            </span>
          </div>
          <div class="col-12 pl-4 pr-4 mb-3">
            <span class="w-25 text-left d-block float-left">Size ({{unitValue}})</span>
            <span class="w-75 text-left d-block float-right">
              <span *ngFor="let size of dynamicSizeData" title="{{size}}" (click)="loadSimilarItems($event, size, 'size')" class="categ_outline_gray cursor mr-2 mb-2 data_size">{{size}}</span>
            </span>
          </div>
        </div>
        <!--If Color and Size are available-->

        <ng-template #showPartial>
          <!--If Only Color is available-->
          <div class="row" *ngIf="dynamicColorData != undefined && dynamicColorData.length > 0; else showSize">
            <div class="col-12 pl-4 pr-4 mb-3">
              <span class="w-25 text-left d-block float-left">Color</span>
              <span class="w-75 text-left d-block float-right">
                <span *ngFor="let color of dynamicColorData" title="{{color}}" (click)="loadSimilarItems($event, color, 'color')" class="categ_outline_gray cursor mr-2 mb-2 data_color">{{color}}</span>
              </span>
            </div>
          </div>
          <!--If Only Color is available-->

          <!--If Only Size is available-->
          <ng-template #showSize>
            <div class="row" *ngIf="dynamicSizeData != undefined && dynamicSizeData.length > 0">
              <div class="col-12 pl-4 pr-4 mb-3">
                <span class="w-25 text-left d-block float-left">Size
                  <span *ngIf="unitValue != undefined">({{unitValue}})</span>
                </span>
                <span class="w-75 text-left d-block float-right">
                  <span *ngFor="let size of dynamicSizeData" title="{{size}}" (click)="loadSimilarItems($event, size, 'size')" class="categ_outline_gray cursor mr-2 mb-2 data_size">{{size}}</span>
                </span>
              </div>
            </div>
          </ng-template>
          <!--If Only Size is available-->
        </ng-template>

        <!-- <strike>$258.00 +</strike> -->
        <div class="row">
          <div *ngIf="!alreadyAddedInCart" class="col-sm-12 p-2 pl-4 pr-4">
            <input class="btn btn_red_right w-100" type="button" [disabled]="!quantity || selectedProduct.product.quantity == 0" (click)="addToCart('toCart')"
              value="buy it now" />
          </div>

          <div *ngIf="alreadyAddedInCart" class="col-sm-12 p-2 pl-4 pr-4 mt-3">
            <label>
              <strong>Item already added in cart</strong>
            </label>
            <input class="btn btn_red_right w-100" type="button" routerLink="/mycart" value="go to cart" />
          </div>

          <div *ngIf="!alreadyAddedInCart" class="col-sm-12">
            <div class="row p-2">
              <div class="col-sm-12">
                <input class="btn w-100 btn_redouter_right" routerLink="/getoffer" type="button" value="get offers" />
              </div>
              <!-- <div class="col-sm-6">
              <input class="btn w-100 btn_redouter_right" type="button" [disabled]="!quantity" (click)="addToCart('toWishlist')" value="save for later" />
            </div> -->
            </div>
          </div>
        </div>
      </div>
      <!--Right Details-->
    </div>
    <!-- mobile Desription -->
    <div class="row mob-producttabs backgroundWhite">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>description</ng-template>
          <ng-template ngbTabContent>
            <div class="col-12 p-1">
              <h4 class="subtitle">
                <strong>details</strong>
              </h4>
              <div class="col-sm-12 p-0">
                <table width="100%" class="customeTable">
                  <tr *ngFor="let attribute of selectedProduct.product.filteredAttr">
                    <td colspan="2" *ngIf="attribute.key == 'Features';else showDefault">
                      <table width="100%">
                        <tr>
                          <td width="40%" valign="top">{{attribute.key}}:</td>
                          <td width="60%" class="colorred">
                            <ul class="pl-3 mb-0">
                              <li *ngFor="let value of attribute.value">{{value}}</li>
                            </ul>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <ng-template #showDefault>
                      <td width="40%" valign="top">{{attribute.key}}:</td>
                      <td width="60%" class="colorred">{{attribute.value}}</td>
                    </ng-template>
                  </tr>
                </table>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="float-left">|</span>reviews
            <span class="float-right">|</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="col-12">
              <h4 class="subtitle">reviews {{productReviews.length}}</h4>
              <table class="reviewlayout table">
                <tr *ngFor="let reviews of productReviews">
                  <td class="p-0">
                    <div class="star-rating">
                      <span *ngFor="let rating of getRating(reviews.rating)">
                        <i class="fa fa-star starIcon starIconView" aria-hidden="true"></i>
                      </span>
                      <br />
                      <strong>{{reviews.reviewDescription}}</strong>
                    </div>
                    <div class="star-rating mt-3 mb-2" *ngIf="reviews.reviewImages != ''">
                      <span class="readReviewImage">
                        <img [src]="reviews.reviewImages" />
                      </span>
                    </div>
                    <div class="colorlightGray">by
                      <u>{{reviews.firstName}} {{reviews.lastName}}</u>
                    </div>
                    <hr />
                  </td>
                </tr>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>fit your room?</ng-template>
          <ng-template ngbTabContent>
            <div class="col-12 p-1 returnPolicy">
              <h4 class="subtitle">Returns and exchange policy</h4>
              <br />
              <p class="w-100">{{selectedProduct.retailerReturns}}</p>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>

    <!-- mobile Desription -->
    <div class="web-desription">
      <!--Description-->
      <div class="row" *ngIf="selectedProduct.product.productDescription">
        <h4 class="subtitle mt-4">Description</h4>
        <br />
        <p class="w-100">{{selectedProduct.product.productDescription}}</p>
      </div>
      <!--Description-->

      <!--Brand Details-->
      <div class="row" *ngIf="selectedProduct.product.filteredAttr != undefined && selectedProduct.product.filteredAttr.length > 0">
        <h4 class="subtitle mt-4">details</h4>
        <div class="col-sm-12 p-0">
          <table width="100%" class="customeTable">
            <tr *ngFor="let attribute of selectedProduct.product.filteredAttr">
              <td colspan="2" *ngIf="attribute.key == 'Features';else showDefault">
                <table width="100%">
                  <tr>
                    <td width="20%" valign="top">{{attribute.key}}:</td>
                    <td width="80%" class="colorred">
                      <ul class="pl-3 mb-0">
                        <li *ngFor="let value of attribute.value">{{value}}</li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </td>
              <ng-template #showDefault>
                <td width="20%" valign="top">{{attribute.key}}:</td>
                <td width="80%" class="colorred">{{attribute.value}}</td>
              </ng-template>
            </tr>
          </table>
        </div>
      </div>
      <!--Brand Details-->

      <!--Reviews-->
      <div class="row consumerReviews">
        <h4 class="subtitle mt-4">reviews {{productReviews.length}}</h4>
        <table class="reviewlayout table" *ngIf="productReviews.length > 0;else noReviews">
          <tr *ngFor="let reviews of productReviews">
            <td class="p-0">
              <div class="star-rating productWrap">
                <span *ngFor="let rating of getRating(reviews.rating)">
                  <i class="fa fa-star starIcon starIconView" aria-hidden="true"></i>
                </span>
                <br />
                <strong>{{reviews.reviewDescription}}</strong>
              </div>
              <div class="star-rating mt-3 mb-2" *ngIf="reviews.reviewImages">
                <span class="readReviewImage">
                  <img [src]="reviews.reviewImages" />
                </span>
              </div>
              <div class="colorlightGray">by
                <u>{{reviews.firstName}} {{reviews.lastName}}</u>
              </div>
              <hr />
            </td>
          </tr>
          <!-- <tr>
        <td class="p-0 text-right">
          <a href="#" class="colorred">
            <small>show more</small>
          </a>
        </td>
      </tr> -->
        </table>
        <ng-template #noReviews>
          <div class="row w-100">
            <div class="col-sm-12">No reviews available for this product.</div>
          </div>
        </ng-template>
      </div>
      <!--Reviews-->

      <div class="row">&nbsp;</div>

      <!--Return Policy-->
      <div class="row returnPolicy mb-4">
        <h4 class="subtitle">Returns and exchange policy</h4>
        <br />
        <p class="w-100">{{retailerPolicy}}</p>
      </div>
      <!--Return Policy-->
    </div>
  </div>
</div>

<!--Promt For Login-->
<ng-template #viewProductModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Buy Now</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{this.confirmValidationMsg.message}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outer btn_red_right" (click)="c('Close click'); confirmUser()">Yes</button>
    <button type="button" class="btn btn-outer btn_redouter_right" (click)="c('Close click')">No</button>
  </div>
</ng-template>
<!--Promt For Login-->