<div class="row title">
    <div class="col-sm-9">
        <h1>Products > Add multiple products</h1>
    </div>
    <div class="col-sm-3 p-0">
        <select class="ddl_default form-control" [ngClass]="!uploadOperation?'text-danger':'text-secondary'" [(ngModel)]="uploadOperation">
            <option value=''>Select file type</option>
            <option>Add Products</option>
            <option>Update Products</option>
            <option>Update Quantity</option>
        </select>
        <p *ngIf="!uploadOperation" class="text-danger">
            Please select file type
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-right">
        <div class="input-group">
            <span class="input-group-btn w-100">
                <span class="btn btn-file draglogo">
                    <div class="row p-2 text-center">
                        <div class="col-sm-12 text-center">Drag your product file here</div>
                        <div class="col-sm-12 text-center">or</div>
                        <div class="col-sm-12  text-center">Select..</div>
                        <div class="col-sm-12 text-center"> {{ fileNames}} </div>
                    </div>
                    <input (change)="fileChangeEvent($event)" type="file" [disabled]="!uploadOperation" class="uploadImage" />
                </span>
            </span>
            <input readonly="readonly" placeholder="Picture file" class="form-control hide" name="filename" type="text">
        </div>
        <p *ngIf="progress>0">
            <ngb-progressbar showValue="true" type="success" [value]="progress" [striped]="true"></ngb-progressbar>
        </p>
    </div>
</div>
<!-- <a class="btn btn-default w-100" (click)="upload()">Upload</a> -->
<div class="col-sm-12 p-0 pt-3 pagination_align">
    <pagination-controls id='server' (pageChange)="getPage($event)"></pagination-controls>
</div>
<div class="row">
    <div class="col-sm-8 title">
        <h1>Product files uploaded</h1>
    </div>
</div>
<div class="row m-0" *ngFor="let item of data.content | paginate: { id: 'server', itemsPerPage: data.size, currentPage: data.number + 1 , totalItems: data.totalElements }">
    <div class="col-sm-9 p-2 mt-3 ">
        <div class="input-group">
            <input class="form-control" placeholder="" aria-describedby="basic-addon1" type="text" [(ngModel)]="item.fileName">
            <span class="input-group-addon">({{item.addedRecordsCount + item.updatedRecordsCount}}/{{item.totalRecordsCount}}) uploaded </span>
            <span class="input-group-addon" *ngIf="item.errorCount>0"> ({{item.errorCount}}) error </span>
            <span class="input-group-addon pointer" (click)="delete(item.productSummaryId)">X</span>
        </div>
    </div>
    <div class="col-sm-3 p-2 mt-3">
        <div class="btn-group">
            <!-- <button type="button" class="btn btn-default w-100" (click)="download(item.productSummaryId)">Download</button> -->
            <a href="{{item.updatedFileLink}}" class="btn btn-default w-100">Download</a>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
                <div class="dropdown-menu" ngbDropdownMenu>

                    <a class="dropdown-item" [routerLink]="['/product-list', item.productSummaryId]">View Products({{item.addedRecordsCount + item.updatedRecordsCount}})</a>
                    <a href="{{item.errorFileLink}}" class="btn btn-default w-100" *ngIf="item.errorCount>0">Error({{item.errorCount}})</a>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>