<div class="container">
  <div style="height:120px;width:100%;"></div>
  <div class="title">
    <h2>Forgot Password</h2>
  </div>
  <div class="col-sm-12 join_layout">
    <form [formGroup]="forgotPassword">
      <div class="join_content pt-4">
        <div class="form-group">
          <input (keyup)="hideValidations()" formControlName="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">

          <!--Validation-->
          <div *ngIf="emailValidation">
            <div *ngIf="!forgotPassword.controls.email.value" class="alert alert-danger errorMessages">{{fpInputMessage.emailRequired}}</div>
            <div *ngIf="forgotPassword.controls.email.value && forgotPassword.controls.email.errors" class="alert alert-danger errorMessages">{{fpInputMessage.validEmail}}</div>
          </div>
          <!--Validation-->

          <!--Validation
          <div *ngIf="forgotPassword.controls.email.dirty || forgotPassword.controls.email.touched">
            <div *ngIf="!forgotPassword.controls.email.value" class="alert alert-danger errorMessages">{{fpInputMessage.emailRequired}}</div>
            <div *ngIf="forgotPassword.controls.email.value && forgotPassword.controls.email.errors" class="alert alert-danger errorMessages">{{fpInputMessage.validEmail}}</div>
          </div>
          Validation-->

          <div *ngIf="responseHandling.status && responseHandling.response == 'success'" class="alert alert-success successMessage">
            {{fpUserMessage.success}}
          </div>

          <div *ngIf="responseHandling.status && responseHandling.response == 'fail'" class="alert alert-danger errorMessages">
            {{fpUserMessage.fail}}
          </div>

          <div *ngIf="responseHandling.status && responseHandling.response == 'notExists'" class="alert alert-danger errorMessages">
            {{fpUserMessage.notExists}}
          </div>

          <div *ngIf="responseHandling.status && responseHandling.response == 'verificationSent'" class="alert alert-success successMessage">
            {{fpUserMessage.verificationSent}}
          </div>

          <div *ngIf="responseHandling.status && responseHandling.response == 'notVerified'" class="alert alert-danger errorMessages">
            {{fpUserMessage.notVerified}}
            <a class="d-inline" (click)="verifyAccount()">
              <u>Click here</u>
            </a> to verify your account.
          </div>
        </div>
        <img src="/consumer-app/assets/images/loader.gif" style="margin: 0 46%" *ngIf="loader" />
      </div>
      <hr />
      <div class="join_content">
        <button (click)="onSubmit()" type="submit" class="btn btn_red_right w-100">Submit</button>
      </div>
    </form>
    <div class="clearfix">&nbsp;</div>
  </div>
</div>