<div class="row">
    <div class="col-sm-12 title">
        <h1>Products</h1>
        <div class="float-right top_right">
            <input class="form-control txt_Search ng-untouched ng-pristine ng-valid" placeholder="search for seller by name" type="text">
        </div>
    </div> 
</div>
<div class="row">
    <div class="col-sm-12 text-right">
        <ul class="product_search m-0 p-0">
            <li class="w-5">
                <select class="ddl_default form-control" [(ngModel)]="productStatus">
                    <option value="'true'">Status</option>
                    <option value="'true'">true</option>
                    <option value="'false'">false</option>
                </select>
            </li>
            <li class="w-15">
                <!-- <select class="ddl_default form-control" [(ngModel)]="productPlace" (change)="placeChanged($event)">
                    <option [ngValue]="productPlaceDummy">Select Place</option>
                    <option *ngFor="let option of places" [ngValue]="option">
                        {{option.PlaceName}}
                    </option>
                </select> -->
                <angular2-multiselect [data]="places" [(ngModel)]="selectedPlaces" [settings]="placesSettings" (onSelect)="onPlaceSelect($event)" (onDeSelect)="onPlaceDeSelect($event)" (onSelectAll)="onPlaceSelectAll($event)" (onDeSelectAll)="onPlaceDeSelectAll($event)">

                </angular2-multiselect>
                <!-- formControlName="place" -->
                <!--Validation-->
                <!-- <app-field-error-display [field]="fG1.controls.place" [errorMsg]="errorMsgs"> </app-field-error-display> -->
                <!--Validation-->
            </li>
            <li class="w-15">
                <!-- <select class="ddl_default form-control" [(ngModel)]="productCategory" (change)="categoryChanged($event)">
                    <option [ngValue]="productCategoryDummy">Select Category</option>
                    <option *ngFor="let option of categories" [ngValue]="option">
                        {{option.CategoryName}}
                    </option>
                </select> -->
                <angular2-multiselect [data]="categories" [(ngModel)]="selectedCategories" [settings]="categorySettings" (onSelect)="onCategorySelect($event)" (onDeSelect)="onCategoryDeSelect($event)" (onSelectAll)="onCategorySelectAll($event)" (onDeSelectAll)="onCategoryDeSelectAll($event)">

                </angular2-multiselect>
                <!-- formControlName="category" -->
                <!--Validation-->
                <!-- <app-field-error-display [field]="fG1.controls.category" [errorMsg]="errorMsgs"> </app-field-error-display> -->
                <!--Validation-->
            </li>
            <li class="w-20">
                <!-- <select class="ddl_default form-control" [(ngModel)]="productSubCategory">
                    <option [ngValue]="productSubCategoryDummy">Select Sub Catetory</option>
                    <option *ngFor="let option of subCategories" [ngValue]="option">
                        {{option.SubCategoryName}}
                    </option>
                </select> -->
                <angular2-multiselect [data]="subCategories" [(ngModel)]="selectedSubCategories" [settings]="subCategorySettings" (onSelect)="onSubCategorySelect($event)" (onDeSelect)="onSubCategoryDeSelect($event)" (onSelectAll)="onSubCategorySelectAll($event)" (onDeSelectAll)="onSubCategoryDeSelectAll($event)">

                </angular2-multiselect>
                <!-- formControlName="subCategory" -->
                <!--Validation-->
                <!-- <app-field-error-display [field]="fG1.controls.subCategory" [errorMsg]="errorMsgs"> </app-field-error-display> -->
                <!--Validation-->
            </li>
            <li class="w-15">
                <angular2-multiselect [data]="productTypes" [(ngModel)]="selectedProductTypes" [settings]="productTypeSettings" (onSelect)="onProductTypeSelect($event)" (onDeSelect)="onProductTypeDeSelect($event)" (onSelectAll)="onProductTypeSelectAll($event)" (onDeSelectAll)="onProductTypeDeSelectAll($event)">

                </angular2-multiselect>
                <!-- formControlName="productType" -->
                <!--Validation-->
                <!-- <app-field-error-display [field]="fG1.controls.productType" [errorMsg]="errorMsgs"> </app-field-error-display> -->
                <!--Validation-->
            </li>
            <li class="w-10">
                <select class="ddl_default w-100 form-control" [(ngModel)]="retailer">
                    <option [ngValue]="reatileDummy">Select Seller</option>
                    <option *ngFor="let option of retailers" [ngValue]="option">
                        {{option.businessName}}
                    </option>
                </select>
            </li>
            <li class="w-15">
                <!-- <a class="btn btn-default" (click)="getPage(1)">
                    <i class="fa fa-search"></i>
                </a> -->
                <a class="btn btn-default" routerLink="/product-add" routerLinkActive="retailer-add">+ Add a product</a>
            </li>
        </ul>
    </div>

</div>
<div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
<div class="col-sm-12 p-0 pt-3 pagination_align">
        <pagination-controls id='server' (pageChange)="getPage($event)"></pagination-controls>
</div> 
<div class="backgroundWhite">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th width="5%">
                    <input type="checkbox">
                </th>
                <th width="7%">Status</th>
                <th width="10%">Seller</th>
                <th width="30%">Product name</th>
                <th width="10%">Brand</th>
                <th width="7%">Main image</th>
                <th width="8%">Product code</th>
                <th width="6%">Kala price</th>
                <th width="6%">Available Quantity</th>
                <th width="6%">Sold QTY</th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody *ngFor="let product of products.content | paginate: { id: 'server', itemsPerPage: products.size, currentPage: products.number + 1 , totalItems: products.totalElements }">
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>{{product.productStatus?'Active': 'InActive'}}</td>
                <td>{{product.retailerId}}</td>
                <td>
                    <a class="colorBlue" (click)="product.isCollapsed = !product.isCollapsed" [attr.aria-expanded]="!product.isCollapsed" aria-controls="collapseExample">
                        {{product.productName}}
                    </a>
                </td>
                <td>{{product.brandName}}</td>
                <td>
                    <img src="{{product.mainImage.imageUrl}}" *ngIf="product.mainImage" width="40">
                    <i class="fa fa-picture-o defaultUser py-2" *ngIf="!product.mainImage" width="40"></i>
                </td>
                <td>{{product.kalaUniqueId}}</td>
                <td>${{product.kalaPrice}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.quantity}}</td>
                <td>

                    <div ngbDropdown class="">
                        <a class="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle></a>
                        <div ngbDropdownMenu aria-labelledby="dropdown01">
                            <button class="dropdown-item">Activate/Deactivate</button>
                            <button class="dropdown-item">Delete</button>
                            <button class="dropdown-item">Edit Product</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr *ngIf="!product.isCollapsed">
                <td colspan="11">
                    <div class="card-body" id="collapseExample">
                        <table class="sub-table table" width="100">
                            <thead>
                                <tr>
                                    <th>Deactivate</th>
                                    <th>Delete</th>
                                    <th colspan="2" class="text-right">
                                        <a class="btn btn-default" href="#">Edit Product</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="colorlightGray" width="20%">Kala Place:</td>
                                    <td width="30%">{{product.productPlaceName}}</td>
                                    <td class="colorlightGray" width="20%">Product category:</td>
                                    <td width="30%">{{product.productCategoryName}}</td>
                                </tr>
                                <tr>
                                    <td class="colorlightGray">Product type:</td>
                                    <td>{{product.productTypeName}}</td>
                                    <td class="colorlightGray">Kala Product ID:</td>
                                    <td>{{product.kalaUniqueId}}</td>
                                </tr>
                                <tr>
                                    <td class="colorlightGray">Kala Unique ID:</td>
                                    <td>{{product.kalaUniqueId}}</td>
                                    <td class="colorlightGray">Product SKU code: </td>
                                    <td>{{product.productSkuCode}}</td>
                                </tr>
                                <tr>
                                    <td class="colorlightGray">Product UPC code: </td>
                                    <td>{{product.productUpcCode}}</td>
                                    <td class="colorlightGray">Retail price:</td>
                                    <td>${{product.retailPrice}}.00</td>
                                </tr>
                                <tr>
                                    <td class="colorlightGray">Make a bid:</td>
                                    <td>Y</td>
                                    <td class="colorlightGray">Lowest “Make a bid” price:</td>
                                    <td>${{product.retailPrice}}.00</td>
                                </tr>
                                <tr>
                                    <td class="colorlightGray">Added date:</td>
                                    <td>{{product.createdDate}} 5, 2015 9:47:25 PM EST</td>
                                    <td class="colorlightGray">Product description:</td>
                                    <td>{{product.productDescription}} wood ceiling lamp has a very simply floral shape design to create a modern and elegant home decoration. It perfectly goes with either Edison light bulb or LED bulb.</td>
                                </tr>
                                <tr>
                                    <td class="colorlightGray">Special features:</td>
                                    <td>{{product.brandName}}</td>
                                    <td class="colorlightGray">Color/Finish:</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td class="colorlightGray">Size:</td>
                                    <td> 20cm / 30cm / 40cm</td>
                                    <td class="colorlightGray">Size-fit category: </td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td class="colorlightGray">Size country: </td>
                                    <td>China</td>
                                    <td class="colorlightGray">Dimensions:</td>
                                    <td> 20cm x 20cm x 60cmH</td>
                                </tr>
                                <tr>
                                    <td class="colorlightGray">Weight: </td>
                                    <td>10 lbs</td>
                                    <td class="colorlightGray">Availability indicator:</td>
                                    <td> N/A</td>
                                </tr>
                                <tr>
                                    <td class="colorlightGray">Shipping profile:</td>
                                    <td>Furniture shipping</td>
                                    <td class="colorlightGray">Other images:</td>
                                    <td>
                                        <img src="{{img.imageUrl}}" class="p-2" *ngFor="let img of product.productImages" width="100">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>