<div class="container">
    <div class="row title p-0">
        <div class="col-sm-9 p-0">
            <h1>Summary</h1>
        </div>
        <div class="col-sm-3 text-right p-0">
            <a class="btn btn-default" routerLink="/inquiry-add" routerLinkActive="inquiry-add">+ New Inquiry</a>
        </div>
    </div>
    <div class="row p-2 text-right">
        <div class="col-sm-6 pl-2">
        </div>
        <div class="col-sm-4 pl-2">
            <input placeholder="search for order" class="form-control txt_Search" type="text" [(ngModel)]="search" (keyup)="getPage(1)">
        </div>
        <div class="col-sm-2 pr-2 text-right">
            <select class="ddl_default form-control" [(ngModel)]="searchType" (change)="getPage(1)" >
                <option>Seller</option>
                <option>Member</option>
                <option>Order Number</option>
            </select>
        </div>
    </div>

    <div class="col-sm-12 p-0 pt-3 pagination_align">
        <pagination-controls id='server' (pageChange)="getPage($event)"></pagination-controls>
    </div>
    <div class="backgroundWhite">
        <table class="table table-responsive"  sortable-table (sorted)="onSorted($event)">
            <thead>
                <tr>
                    <th width="5%">
                        <input type="checkbox" />
                    </th>
                    <th sortable-column="inquiryStatus" width="10%">Status</th>
                    <th sortable-column="orderId" width="30%">Inquiry Details</th>
                    <th sortable-column="inquiryType" width="30%">Inquiry Type</th>
                    <th sortable-column="priority" width="10%">Priority</th>
                    <th sortable-column="inquiryDate" width="18%">Created on</th>
                    <th width="2%"></th>
                </tr>
            </thead>
            <tbody *ngFor="let inquiry of inquirys.content | paginate: { id: 'server', itemsPerPage: inquirys.size, currentPage: inquirys.number + 1 , totalItems: inquirys.totalElements }">
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>{{inquiry.inquiryStatus}} - {{inquiry.resolutionType}}</td>
                    <td>
                        <div>
                            <a class="ancDefault" (click)="getOrderDetails(inquiry, inquiry.orderId)">{{inquiry.orderId}}</a>
                        </div>
                        <div>{{inquiry.productName}}</div>
                        <p>Assigned : {{getUser(inquiry.assignedTo).username}}</p>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-5">Type:</div>
                            <div class="col-sm-7">{{inquiry.inquiryType}} - {{inquiry.inquiryTypeOther}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">Category:</div>
                            <div class="col-sm-7">{{inquiry.inquiryCategory}} - {{inquiry.inquiryCategoryOther}}</div>
                        </div>
                    </td>
                    <td>{{inquiry.priority}}</td>
                    <td>{{inquiry.inquiryDate| date: 'shortDate'}}</td>
                    <td>
                        <a class="colorBlue" (click)="getOrderDetails(inquiry, inquiry.orderId)" [attr.aria-expanded]="!inquiry.isCollapsed">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr *ngIf="!inquiry.isCollapsed">
                    <td colspan="7" class="divOrderSummary">
                        <div class="orderdetail_row m-2">
                            <div class="row m-2">
                                <div class="col-sm-12 align-middle">
                                    <h4 class="colorGray">Inquiry Details</h4>
                                </div>
                                <div class="col-sm-5">
                                    <table class="no_tdBorder" width="100%" border="0">
                                        <tr>
                                            <td>Status:</td>
                                            <td>{{inquiry.inquiryStatus}}, {{inquiry.resolutionType}}</td>
                                        </tr>
                                        <tr>
                                            <td>Date of Inquiry:</td>
                                            <td>{{inquiry.inquiryDate| date: 'fullDate'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Created on:</td>
                                            <td>{{inquiry.createdDate| date: 'fullDate'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Last updated:</td>
                                            <td>{{inquiry.modifiedDate| date: 'fullDate'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Resolved on:</td>
                                            <td>{{inquiry.resolutionDate| date: 'fullDate'}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-5">
                                    <table class="no_tdBorder" width="100%" border="0">
                                        <tr>
                                            <td>Priority:</td>
                                            <td>{{inquiry.priority}}</td>
                                        </tr>
                                        <tr>
                                            <td>Assigned to:</td>
                                            <td>{{getUser(inquiry.assignedTo).username}}</td>
                                        </tr>
                                        <tr>
                                            <td>Order Number:</td>
                                            <td>{{inquiry.orderId}}</td>
                                        </tr>
                                        <tr>
                                            <td>Order date:</td>
                                            <td>{{inquiry.orderDate| date: 'fullDate'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Sale Total:</td>
                                            <td>{{inquiry.productCost| currency}}</td>
                                        </tr>
                                        <tr>
                                            <td>Products:</td>
                                            <td>{{inquiry.productsCount}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-2">
                                    <p>
                                        <a class="btn_redouter_right w-100" [routerLink]="['../inquiry-edit', inquiry.supportId]">edit inquiry</a>
                                    </p>
                                    <p>
                                        <a class="btn_red_right  w-100" (click)="delete(inquiry.supportId)">- delete inquiry</a>
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div class="row m-2">
                                <div class="col-sm-4">
                                    <table class="no_tdBorder" width="100%" border="0">
                                        <tbody>
                                            <tr>
                                                <td>Inquiry type:</td>
                                                <td>{{inquiry.inquiryType}}</td>
                                            </tr>
                                            <tr>
                                                <td>Category:</td>
                                                <td>{{inquiry.inquiryCategory}}</td>
                                            </tr>
                                            <tr>
                                                <td>Resolution :</td>
                                                <td>{{inquiry.resolutionType}}</td>
                                            </tr>
                                            <tr>
                                                <td>Description :</td>
                                                <td>{{inquiry.resolutionDescription}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <div>Notes:</div>
                                    <p class="border_outline p-2">
                                        {{inquiry.notes[0]}}
                                    </p>
                                </div>
                                <div class="col-sm-2" *ngIf="false">
                                    <p>
                                        <a class="btn_red_right  w-100" href="#">+ Add Note</a>
                                    </p>
                                    <p>
                                        <a class="btn_redouter_right w-100" href="#">- Delete Note</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <app-tile-member *ngIf="inquiry && inquiry.customerId" [id]="inquiry.customerId"></app-tile-member>
                        <hr />
                        <app-tile-retailer *ngIf="inquiry && inquiry.retailerId" [id]="inquiry.retailerId"></app-tile-retailer>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 *ngIf="inquirys.totalElements == 0">No Inquirys available</h3>
    </div>
</div>