<div class="container">
    <div class="title col-sm-12">
        <h1>User Management</h1>
    </div> 
    <div class="row m-0 p-2 usermanagement">
        <div class="col-sm-6">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne"> 
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Xinyu Liu <small class="float-right">Edit</small>
                            </a>
                        </h5>  
                    </div>
                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block pt-0">
                            <hr />
                            <div class="text-right">
                                <a href="#" class="colorRed">Delete User</a>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Email</div>
                                <div class="col-sm-9">xinyu@goinvo.com</div>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Password</div>
                                <div class="col-sm-9">......</div>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Phone number</div>
                                <div class="col-sm-9">401-935-0993</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Yanyang Zhou <small class="float-right">Edit</small>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-block pt-0">
                            <hr />
                            <div class="row m-0">
                                <div class="col-sm-3">Email</div>
                                <div class="col-sm-9">xinyu@goinvo.com</div>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Password</div>
                                <div class="col-sm-9">......</div>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Phone number</div>
                                <div class="col-sm-9">401-935-0993</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Jennifer Patel <small class="float-right">Edit</small>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-block pt-0">
                            <hr />
                            <div class="row m-0">
                                <div class="col-sm-3">Email</div>
                                <div class="col-sm-9">xinyu@goinvo.com</div>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Password</div>
                                <div class="col-sm-9">......</div>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Phone number</div>
                                <div class="col-sm-9">401-935-0993</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="accordion1" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne1">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                Xinyu Liu <small class="float-right">Edit</small>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block pt-0">
                            <hr />
                            <div class="row m-0">
                                <div class="col-sm-3">Email</div>
                                <div class="col-sm-9">xinyu@goinvo.com</div>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Password</div>
                                <div class="col-sm-9">......</div>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Phone number</div>
                                <div class="col-sm-9">401-935-0993</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo1">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                Yanyang Zhou <small class="float-right">Edit</small>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-block pt-0">
                            <hr />
                            <div class="row m-0">
                                <div class="col-sm-3">Email</div>
                                <div class="col-sm-9">xinyu@goinvo.com</div>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Password</div>
                                <div class="col-sm-9">......</div>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Phone number</div>
                                <div class="col-sm-9">401-935-0993</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingThree1">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                Jennifer Patel <small class="float-right">Edit</small>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseThree1" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-block pt-0">
                            <hr />
                            <div class="row m-0">
                                <div class="col-sm-3">Email</div>
                                <div class="col-sm-9">xinyu@goinvo.com</div>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Password</div>
                                <div class="col-sm-9">......</div>
                            </div>
                            <div class="row m-0">
                                <div class="col-sm-3">Phone number</div>
                                <div class="col-sm-9">401-935-0993</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>