<div class="container">
    <div class="row p-2 ">
        <div class="col-sm-12 pl-4 title">
            <h1>User Management</h1>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-sm-6 pl-4">
            <input placeholder="search for user" class="form-control txt_Search" type="text" [(ngModel)]="username">
        </div>
        <div class="col-sm-6 pr-4 text-right">
            <a class="btn btn-default" routerLink="/user-add">Add User</a>
        </div>
    </div>
    <div class="col-sm-12 p-0 pt-3 p pagination_align">
        <pagination-controls id='client' class="my-pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="m-0 p-2 usermanagement">
        <ol class="row">
            <li class="col-sm-6" *ngFor="let user of users | userFilter: username  | paginate: { id: 'client', itemsPerPage: 10, currentPage: p , totalItems: (users| userFilter: username ).length }">
                <div id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header row pb-0 pt-1" role="tab" id="headingOne">
                            <div class="col-sm-8 p-2">
                                <h5 class="mb-0">
                                    <a (click)="user.show=!user.show" class="float-left ellipsis w-75 text-capitalize">
                                        {{user.username}}
                                    </a>
                                </h5>
                            </div>
                            <div class="col-sm-3 pt-2">
                                <small class="float-right colorBlue pointer" [routerLink]="['../user-edit', user.userId]">Edit</small>
                            </div>
                            <div class="col-sm-1 pt-2" [ngClass]="{'show':user.show, 'hide':!user.show}">
                                <i class="fa fa-sort-down"></i>
                            </div>
                            <div class="col-sm-1 pt-2" [ngClass]="{'show':!user.show, 'hide':user.show}">
                                <i class="fa fa-sort-up"></i>
                            </div>
                            <div class="col-sm-12 px-2 pb-2 text-capitalize">
                                {{user.role}}
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse " [ngClass]="{'show':user.show, 'hide':!user.show}" role="tabpanel" aria-labelledby="headingOne">
                            <hr />
                            <div class="card-block pt-0">
                                <div class="text-right">
                                    <a class="colorRed" (click)="deleteUser(user)" *ngIf="user.emailId.toLowerCase() !='developer@mykala.com' && user.emailId!=core.user.emailId">Delete User</a>
                                    <span class="colorRed" *ngIf="user.emailId.toLowerCase()!='developer@mykala.com' && user.emailId==core.user.emailId">Cannot delete current user</span>
                                    <span class="colorRed" *ngIf="user.emailId.toLowerCase()=='developer@mykala.com'">Cannot delete admin user</span>
                                </div>
                                <div class="row m-0">
                                    <div class="col-sm-4">Email</div>
                                    <div class="col-sm-8">{{user.emailId}}</div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-sm-4">Password</div>
                                    <div class="col-sm-8">......</div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-sm-4">Phone number</div>
                                    <div class="col-sm-8">{{formatPhoneNumber(user.phone)}}</div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-sm-4">Role</div>
                                    <div class="col-sm-8">{{user.role}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>


            <!-- <div class="col-sm-6" *ngFor="let user of users | userFilter: username  | paginate: { id: 'client', itemsPerPage: 10, currentPage: p , totalItems: (users| userFilter: username ).length }"></div>

    </div> -->



        </ol>
    </div>
</div>