<div style="height:120px;width:100%;"></div>
<div class="title">
    <h2>Join Kala</h2>
</div>
<div class="col-sm-12 join_layout">
    <form [formGroup]="joinKala" (ngSubmit)="onSubmit(joinKala)">
        <div class="join_content">
            <h4 class="subtitle">create account</h4>
            <div class="form-group">
                <input formControlName="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="User name">

                <!--Validation-->
                <div *ngIf="joinKala.controls.username.dirty || joinKala.controls.username.touched">
                    <div *ngIf="!joinKala.controls.username.value" class="alert alert-danger errorMessages">Please enter the username</div>
                    <div *ngIf="joinKala.controls.username.value && !joinKala.controls.username.pattern && joinKala.controls.username.errors"
                        class="alert alert-danger errorMessages">
                        Username can contain only (dot, underscore, hypen)
                    </div>
                </div>
                <!--Validation-->
            </div>
            <div class="form-group">
                <input pattern formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">

                <!--Validation-->
                <div *ngIf="joinKala.controls.email.dirty || joinKala.controls.email.touched">
                    <div *ngIf="!joinKala.controls.email.value" class="alert alert-danger errorMessages">Please enter the email</div>
                    <div *ngIf="joinKala.controls.email.value && joinKala.controls.email.errors" class="alert alert-danger errorMessages">Please enter the valid email</div>
                </div>
                <!--Validation-->

            </div>
            <div class="form-group">
                <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

                <!--Validation-->
                <div *ngIf="joinKala.controls.password.dirty || joinKala.controls.password.touched">
                    <div *ngIf="!joinKala.controls.password.value" class="alert alert-danger errorMessages">Please enter the password</div>
                    <div *ngIf="joinKala.controls.password.value && !joinKala.controls.password.pattern && joinKala.controls.password.errors"
                        class="alert alert-danger errorMessages">
                        Password length must be minimum 8 characters, 1 uppercase character, 1 lowercase character, 1 number, 1 special character
                    </div>
                </div>
                <!--Validation-->

            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"> remember me
                </label>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <button type="submit" [disabled]="!joinKala.valid" class="btn btn_red_right">create account</button>
        </div>
    </form>
    <div class="clearfix">&nbsp;</div>
</div>