<div class="title mb-4">
  <h2 class="w-100">get offers
    <span class="colorGray"> Step 2/4: detail info</span> |
    <a routerLink="/browse-product">
      <span class="btnClose">X</span>
    </a>
    <small class="text-right mt-2 bgColor float-right">
      <a (click)="skip()" class="colorred">skip</a>
    </small>
  </h2>
</div>

<div class="col-sm-12 p-0">
  <div class="col-sm-12 p-0">
    <div class="row" *ngFor="let offers of getObjectFromOrder">
      <div class="col-sm-12" *ngIf="offers.values != undefined">
        <div class="row">
          <div class="col-sm-2 colorlightGray">
            <p>{{offers.key}}</p>
          </div>
          <div class="col-sm-10">
            <div class="categ_outline_gray mr-3 mb-3" style="cursor: pointer" (click)="select(offers, values, $event)" *ngFor="let values of offers.values">{{values}}</div>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
  <div class="clearfix">&nbsp;</div>
  <div class="row">
    <div class="col-sm-6">
      <a (click)="prev()" class="colorred">back</a>
    </div>
    <div class="col-sm-6 text-right">
      <a (click)="next()" class="btn btn_red_right pr-5 pl-5">next step</a>
    </div>
  </div>
  <div class="clearfix">&nbsp;</div>
  <div class="clearfix">&nbsp;</div>
  <div class="clearfix">&nbsp;</div>