
<div class="title">
  <h1>Forgot Password</h1>
</div>
<div class="login_layout col-sm-12">
  <form [formGroup]="forgotPassword">
    <div class="form-signin pt-4">
      <div class="form-group">
        <input formControlName="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
        <!--Validation-->
        <div *ngIf="forgotPassword.controls.email.dirty || forgotPassword.controls.email.touched">
          <div *ngIf="!forgotPassword.controls.email.value" class="alert alert-danger errorMessages">{{fpInputMessage.emailRequired}}</div>
          <div *ngIf="forgotPassword.controls.email.value && forgotPassword.controls.email.errors" class="alert alert-danger errorMessages">{{fpInputMessage.validEmail}}</div>
        </div>
        <!--Validation-->

        <div *ngIf="responseHandling.status && responseHandling.response == 'success'" class="alert alert-success successMessage">
          {{fpUserMessage.success}}
        </div>

        <div *ngIf="responseHandling.status && responseHandling.response == 'fail'" class="alert alert-danger errorMessages">
          {{fpUserMessage.fail}}
        </div>
      </div>
      <img src="/admin-app/assets/images/loader.gif" style="margin: 0 46%" *ngIf="loader" />
    </div>
    <hr />
    <div class="form-signin">
      <button (click)="onSubmit()" type="submit" [disabled]="!forgotPassword.valid" class="btn btn-nml w-100">Submit</button>
    </div>
  </form>
  <div class="clearfix">&nbsp;</div>
</div>