<div class="form-group">
    <label class="control-label required" ng-reflect-klass="control-label" ng-reflect-ng-class="[object Object]">Returns and Exchange policy</label>
    <small class="float-right">500 characters left</small>
    <textarea ng-model="myTextarea" class="txtarea" maxlength="500"></textarea> 
</div>
<div class="p-5">&nbsp;</div>
<hr />
<div class="row"> 
    <div class="col-sm-12 text-right hide" ng-reflect-klass="col-sm-6 text-right" ng-reflect-ng-class="[object Object]">
        <a class="btn btn-default ancProfile1">Next</a>
    </div>
    <div class="col-sm-12 text-right show" ng-reflect-klass="col-sm-6 text-right" ng-reflect-ng-class="[object Object]">
        <a class="btn btn-default ancProfile1">Save &amp; Next</a>
    </div>
</div>