<div class="sub_Menu">
  <div class="container">
    <ul class="m-0 p-0">
      <li class="active">
        <a routerLink="">
          <img src="/consumer-app/assets/images/consumer_lounge_user.png" /> My account</a>
      </li>
      <li>
        <a routerLink="">
          <img src="/consumer-app/assets/images/consumer_shoppingCart.png" /> My cart</a>
      </li>
      <li>
        <a routerLink="">
          <img src="/consumer-app/assets/images/consumer_myOrders.png" /> My orders</a>
      </li>
      <li>
        <a routerLink="">
          <img src="/consumer-app/assets/images/consumer_myOffers.png" /> My offers</a>
      </li>
      <li>
        <a routerLink="">
          <img src="/consumer-app/assets/images/consumer_myAlerts.png" /> News & Alerts</a>
      </li>
    </ul>
  </div>
</div>