<div class="sub_Menu">
  <div class="container">
    <ul class="m-0 p-0">
      <li [routerLinkActive]="['active']">
        <a routerLink="/myaccount">
          <img src="/consumer-app/assets/images/consumer_lounge_user.png" /> My account
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/mycart">
          <img src="/consumer-app/assets/images/consumer_shoppingCart.png" /> My cart
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/myorder">
          <img src="/consumer-app/assets/images/consumer_myOrders.png" /> My orders
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/myoffer">
          <img src="/consumer-app/assets/images/consumer_myOffers.png" /> My offers
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/myalerts">
          <img src="/consumer-app/assets/images/consumer_myAlerts.png" /> News & Alerts
        </a>
      </li>
    </ul>
  </div>
</div>