<div [formGroup]="profileFG1" [ngClass]="{'show': profileInfoStep==1, 'hide': profileInfoStep!==1 }">
    <label class="control-label" [ngClass]="validatorExt.displayFieldCss(profileFG1.controls.profileImage)">Business Logo</label>
    <div class="form-group">
        <div class="draglogo p-3 text-center">
            <div class=" text-center">Drag your Logo here</div>
            or
            <input formControlName="profileImage" (change)="fileChangeEvent($event, profileFG1)" type="file" class="form-control uploadImage" />
        </div>
        <app-field-error-display [field]="profileFG1.controls.profileImage" [errorMsg]="errorMsgs"> </app-field-error-display>
    </div>
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(profileFG1.controls.businessName)">Business name</label>
        <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern formControlName="businessName">
        <app-field-error-display [field]="profileFG1.controls.businessName" [errorMsg]="errorMsgs"> </app-field-error-display>
    </div>
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(profileFG1.controls.tin)">DNB/TIN</label>
        <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern formControlName="tin">
        <!--Validation-->
        <app-field-error-display [field]="profileFG1.controls.tin" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->

    </div>
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(profileFG1.controls.businessSummary)">Business summary </label>
        <small class="float-right">{{ validatorExt.remainingCharacters(profileFG1.controls.businessSummary, 300) }} characters left</small>
        <input type="text" class="form-control" aria-describedby=" " placeholder="" pattern formControlName="businessSummary">
        <!--Validation-->
        <app-field-error-display [field]="profileFG1.controls.businessSummary" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <label class="control-label" [ngClass]="validatorExt.displayFieldCss(profileFG1.controls.bussines_address)">Business Address</label>
        <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 1" pattern formControlName="bussines_address">
        <!--Validation-->
        <app-field-error-display [field]="profileFG1.controls.bussines_address" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby=" " placeholder="Address line 2.(optional)" pattern formControlName="bussines_address2">
        <!--Validation-->
        <app-field-error-display [field]="profileFG1.controls.bussines_address2" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby=" " placeholder="City" pattern formControlName="city">
        <!--Validation-->
        <app-field-error-display [field]="profileFG1.controls.city" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="" placeholder="State" pattern formControlName="state">
                <!--Validation-->
                <app-field-error-display [field]="profileFG1.controls.state" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="" placeholder="Zipcode" pattern formControlName="zipcode">
                <!--Validation-->
                <app-field-error-display [field]="profileFG1.controls.zipcode" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="email" class="form-control" aria-describedby="" placeholder="Email" pattern formControlName="email">
                <!--Validation-->
                <app-field-error-display [field]="profileFG1.controls.email" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="" placeholder="Phone number" pattern formControlName="phone_number">
                <!--Validation-->
                <app-field-error-display [field]="profileFG1.controls.phone_number" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label class="control-label" [ngClass]="validatorExt.displayFieldCss(profileFG1.controls.sellerTypeId)">Seller Type</label>
            <select class="ddl_default w-100 form-control" formControlName="sellerTypeId">
                <option value=''>Select Seller Type</option>
                <option *ngFor="let option of sellerTypes" value="{{option.id}}">
                    {{option.value}}
                </option>
            </select>
            <!--Validation-->
            <app-field-error-display [field]="profileFG1.controls.sellerTypeId" [errorMsg]="errorMsgs"> </app-field-error-display>
            <!--Validation-->
        </div>
    </div>
</div>
<div [formGroup]="profileFG2" [ngClass]="{'show': profileInfoStep==2, 'hide': profileInfoStep!==2  }">
    <h5>Website details</h5>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Website URL(optional) e.g.www.mykala.com" pattern formControlName="websiteUrl">
        <!--Validation-->
        <app-field-error-display [field]="profileFG2.controls.websiteUrl" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Username for acct. login (optional)" pattern formControlName="websiteUserName">
        <!--Validation-->
        <app-field-error-display [field]="profileFG2.controls.websiteUserName" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Password for acct. login (optional)" pattern formControlName="websitePassword">
        <!--Validation-->
        <app-field-error-display [field]="profileFG2.controls.websitePassword" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <hr />
    <h5>Primary account contact</h5>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Name" pattern formControlName="contact_name">
        <!--Validation-->
        <app-field-error-display [field]="profileFG2.controls.contact_name" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Position" pattern formControlName="contact_position">
        <!--Validation-->
        <app-field-error-display [field]="profileFG2.controls.contact_position" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Address line 1" pattern formControlName="contact_address1">
        <!--Validation-->
        <app-field-error-display [field]="profileFG2.controls.contact_address1" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Address line 2.(optional)" pattern formControlName="contact_address2">
        <!--Validation-->
        <app-field-error-display [field]="profileFG2.controls.contact_address2" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="City" pattern formControlName="contact_city">
        <!--Validation-->
        <app-field-error-display [field]="profileFG2.controls.contact_city" [errorMsg]="errorMsgs"> </app-field-error-display>
        <!--Validation-->
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="State" pattern formControlName="contact_state">
                <!--Validation-->
                <app-field-error-display [field]="profileFG2.controls.contact_state" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Zipcode" pattern formControlName="contact_zipcode">
                <!--Validation-->
                <app-field-error-display [field]="profileFG2.controls.contact_zipcode" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" pattern formControlName="contact_email">
                <!--Validation-->
                <app-field-error-display [field]="profileFG2.controls.contact_email" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Phone number" pattern formControlName="contact_phone_number">
                <!--Validation-->
                <app-field-error-display [field]="profileFG2.controls.contact_phone_number" [errorMsg]="errorMsgs"> </app-field-error-display>
                <!--Validation-->
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-6" >
        <a (click)="profileInfoBack()" class="ancDefault" *ngIf="profileInfoStep!==1">back</a>
    </div>
    <div class="col-sm-6 text-right" *ngIf="profileInfoStep==1">
        <a class="btn btn-default ancProfile1" (click)="profileInfoNext()">Next</a>
    </div>
    <div class="col-sm-6 text-right" *ngIf="profileInfoStep==2">
        <a class="btn btn-default ancProfile1" (click)="profileInfoSave();">Save & Next</a>
        <img src="/admin-app/assets/images/loader.gif" style="margin: 0 46%" *ngIf="profileSaveloader" />
    </div>
</div>